---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="en">
  <head>
    <title>Touch the Power</title>
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width"
    /><meta property="title" content="Touch the Power" /><meta
      property="description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta
      property="keywords"
      content="Spiritual guidance, Life purpose, Problem-solving, Solutions, Divine exploration, Prayer requests, Personal growth, Spiritual discovery, Existential questions, Meaning of life"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" /><meta
      property="og:type"
      content="website"
    /><meta property="og:url" content="https://touchthepower.com" /><meta
      property="og:title"
      content="Touch the Power"
    /><meta
      property="og:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:url" content="https://touchthepower.com" /><meta
      property="twitter:title"
      content="Touch the Power"
    /><meta
      property="twitter:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:image" content="/assets/home/bg-image.jpg" /><meta
      property="twitter:card"
      content="summary_large_image"
    /><meta property="robots" content="/robots.txt" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style><link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    /></head
  >

  <body class="">
    <div>
      <div class="border-b-2 border-[#045a94]">
        <Header />
      </div>
      <div class="mx-40 p-10">
        <div class="flex">
          <ProblemsLink />
          <div class="px-7 w-5/6">
            <div class="text-left text-[#a9a9a9]">
              Why Problem / Choosing the Master
            </div>
           
            <h1
              class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
            >
              மனுக்குலமே, நீ யார்?
            </h1>

            <p class="mb-4 font-semibold">
              மனுக்குலமே! நீ கடவுளின் படைப்பு. உன்னைக் கடவுள் ஆணும், பெண்ணுமாகப்
              படைத்தார். உனக்காக, நீ வசிப்பதற்காக பூமியையும், வானத்தையும் உன்னை
              படைக்கும் முன்பாகவே படைத்தார். பூமி வெளிச்சத்தையும் கனி தரும்
              விருட்சங்களையும், சகல வித புல்லையும் பூண்டுகளையும், நிழல் தரும்
              விருட்சங்களையும் படைத்தார்.
            </p>
            <p class="mb-4">
              வானத்தில் சூரியனையும், சந்திரனையும், நட்சத்திரங்களையும் வைத்து
              காலங்களையும், நாட்களையும், வருடங்களையும் குறித்தார். பகல் சூரியன்
              ஆட்சி செய்கிறது. இரவு சந்திரன் ஆட்சி செய்கிறது. பின்னர் நீந்தும்
              ஜீவஜந்துக்களையும், மகா மச்சங்களையும், சிறகுள்ள சகலவித பறவைகளையும்
              தேவன் படைத்தார்.
            </p>
            <p class="mb-4">
              அனைத்தையும் நல்லது என்று கண்டு, தன் படைப்புகள் அனைத்தையும்
              ஆசீர்வதித்து மகிழ்ந்தார். மனுக்குலம் வாழ்வதற்கு பூமியில் கிழக்கே
              ஏதேன் தோட்டத்தை உருவாக்கி, மனிதனைக் கட்டாயம் அதிலே வைத்தார்.
              பகலில் குளிர்ச்சியான வேளையில் தேவன் மனிதனோடு அத்தோட்டத்தில் உலாவி
              வருவார்.
            </p>
            <p class="mb-4">
              மனுக்குலமே! நீ தேவனை கொண்டு தேவனுக்காக, அதாவது கடவுள் உன்னை அவரோடு
              வாழ்வதற்காகவே படைத்தார் என்பதே சத்தியம்!
              <br /><strong>Ref: பரிசுத்த வேதாகமம் (The Holy Bible)</strong>
            </p>

            <h2 class="text-2xl font-semibold text-[#108bf7] mb-4">
              மனுக்குலமே! நீ இப்போது எங்கு வாழ்கிறாய்? இங்கு எப்படி வந்தாய்?
            </h2>
            <p class="mb-4">
              மனிதன் தேவனுக்குக் கட்டுப்பட்டு, அவரது நிழலில் வாழ்வதைத் தெரிந்து
              கொள்ளவில்லை. கடவுள் அவனுக்கு சுய சித்தம் (Free will)
              கொடுத்திருந்தார். ஏதேன் தோட்டத்திலுள்ள சகல மரங்களின் கனிகளையும்
              புசிக்கலாம். ஆனால் நடுவில் "நன்மை தீமை அறியத்தக்க மரம்" மற்றும்
              "ஜீவவிருட்சம்" இருந்தன.
            </p>
            <p class="mb-4">
              தேவன் கட்டளை தந்த மரத்தின் கனி "பார்வைக்கு இன்பமும், புத்தியை
              தெளிவாக்கும்" வகையில் இருந்தது. முதல் பெண் (ஏவாள்) இந்த மரத்தின்
              அடியில் சென்று இச்சையால் (lust) அதன் கனியைப் புசித்தாள்.
              கணவனுக்கும் கொடுத்தாள்.
            </p>
            <p class="mb-4">
              கடவுளின் கட்டளையை மீறியதால் "பாவம்" பூமியில் வந்தது. இதுவே
              வீழ்ச்சி. ஏதேன் தோட்டத்திலிருந்து மனிதன் விரட்டப்பட்டான். பூமி
              விழுந்துபோன உலகமாக மாறியது.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              உலகத்தில் பிறந்த 3 தீமைகள்:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>மாமிசத்தின் இச்சை (Lust of the Flesh)</li>
              <li>கண்களின் இச்சை (Lust of the Eyes)</li>
              <li>ஜீவனத்தின் பெருமை (Pride of Life)</li>
            </ul>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              வீழ்ந்துபோன உலகத்தின் தன்மை:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>தீமைகள் நிறைந்த இடம் - Evil</li>
              <li>இருள் நிறைந்த இடம் - Darkness</li>
              <li>சுயம் நிறைந்த இடம் - Self Will</li>
              <li>பாவம் நிறைந்த இடம் - Sinful</li>
              <li>சோதனைகள் நிறைந்த இடம் - Temptations</li>
              <li>தேவனது ஆளுகை இல்லாத இடம் – No rule of God</li>
              <li>
                பொல்லாப்பு ஆளுகை செய்யும் இடம் – Domination of Devil / Evil
              </li>
            </ul>

            <h2 class="text-2xl font-semibold text-[#108bf7] mb-4">
              மனுக்குலமே!
            </h2>
            <p class="mb-4">
              தேவன் உன்னோடு வாழ விரும்பி உன்னைப் படைத்தார்! நீ விழுந்து போவதை
              தெரிந்து கொண்டாய்! ஆனால் அது உன்னுடைய தெரிந்தெடுப்பால் நிகழ்ந்தது.
              அதற்கு தேவன் பொறுப்பாளி அல்ல.
            </p>

            <h2 class="text-2xl font-semibold text-[#108bf7] mb-4">
              நல்ல செய்தி (The Good News)
            </h2>
            <p class="mb-4">
              நீ விழுந்து போன நாளிலேயே கடவுள் உன்னை வெறுக்கவில்லை, விரட்டவில்லை.
              தன்னோடு சேர்த்துக் கொள்ள விரும்புகிறார்.
            </p>
            <p class="mb-4">
              உன்னை அழைக்கிறார், ‘மனுக்குலமே! கோழி தன் குஞ்சுகளை சேர்ப்பதுபோல்
              உன்னையும் சேர்க்க மனதாயிருக்கிறேன்; உனக்கோ மனமில்லை’. தாயும்
              பிள்ளையை மறந்தாலும் நான் உன்னை மறக்கமாட்டேன் என்று சொல்கிறார்.
            </p>
            <p class="mb-4 font-semibold">
              வருவாய் அவரண்டை! பெறுவாய் ஆனந்தக் களிப்பு! இன்று இந்த விழுந்து போன
              உலகம் உன்னை பல பிரச்சனைகளில் தள்ளுகின்றாலும், தேவன் உன்னோடு இருக்க
              விரும்புகிறார்.
            </p>

            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>உன் கரம் நீட்டி தொடு!</li>
              <li>அவரது உதவியை தொடு!</li>
              <li>அவரது வல்லமையை தொடு!</li>
            </ul>

            <p class="mb-4 font-semibold">
              இறைவனது வல்லமையை நீ தொட முடியும். அது உன் வாழ்வின் சவால்களை
              எதிர்கொள்ளும் மிகப்பெரிய ஆயுதமாகும். உன் படைப்பாளரின் ஆவல்: நீ
              வல்லமையுள்ள வாழ்வை வாழ வேண்டும்.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/js/navbar.js" is:inline defer></script>
