---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="en">
  <head>
    <title>Touch the Power</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="Touch the Power" />
    <meta
      property="description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    />
    <meta
      property="keywords"
      content="Spiritual guidance, Life purpose, Problem-solving, Solutions, Divine exploration, Prayer requests, Personal growth, Spiritual discovery, Existential questions, Meaning of life"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="Touch the Power" />
    <meta
      property="og:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="Touch the Power" />
    <meta
      property="twitter:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="robots" content="/robots.txt" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div>
      <div class="border-b-2 border-[#045a94]">
        <Header />
      </div>
      <div class="mx-40 p-10">
        <div class="flex">
          <ProblemsLink />
          <div class="px-7 w-5/6">
            <div class="text-left text-[#a9a9a9]">Why Problem / Fallen</div>
            <h1
              class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
            >
              மனுக்குலமே, நீ யார்?
            </h1>

            <p class="mb-4">
              மனுக்குலமே ! நீ கடவுளின் படைப்பு. உன்னைக் கடவுள் ஆணும்,
              பெண்ணுமாகப் படைத்தார். உனக்காக, நீ வசிப்பதற்காக
              பூமியையும்,வானத்தையும் உன்னை படைக்கும் முன்பாகவே படைத்தார். பூமி
              வெளிச்சத்தையும் கனி தரும் விருட்ச்ங்களையும், சகல வித புல்லையும்
              பூண்டுகளையும் , நிழல் தரும் விருட்ச்ங்களையும் படைத்தார். வானத்தில்
              சூரியனையும், சந்திரனையும், நட்சத்திரங்களையும் வைத்து ,காலங்களையும்
              ,நாட்களையும், வருடங்களையும் குறித்தார். நாட்கள், பகல், இரவு என்று
              குறிக்கப்பட்டன. பகல் சூரியன் ஆட்சி செய்கிறது. இரவு சந்திரன் ஆட்சி
              செய்கிறது. பின் நீந்தும் ஜீவஜந்துக்களையும், மகா மச்சங்களையும்
              சிறகுள்ள சகலவித பட்சிகளையும் தேவன் படைத்து, அனைத்தையும் நல்லது
              என்று கண்டு, தன் படைப்புகள் அனைத்தையும் ஆசீர்வதித்து மகிழ்ந்தார்.
              மனுக்குலம் வாழ்வதற்கு பூமியில் கிழக்கே, ஏதேன் என்னும் தோட்டத்தை
              உண்டாக்கி தான் உண்டாக்கின மனுஷனையும் அதிலே வைத்தார். பகலில்
              குளிரிச்சியான வேளையில் தேவன் மனிதனோடு அத்தோட்டத்தில் உலாவ வருவார்.
              மனுகுலமே ! நீ தேவனை கொண்டு தேவனுக்காக, அதாவது கடவுள் உன்னை அவரோடு
              வாழ்வதற்கென்று படைக்கப்பட்டாய் என்பது சத்தியம் ! (THE TRUTH)
            </p>
            <h1
              class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
            >
              Ref: (பரிசுத்த வேதாகமம்)
            </h1>
            <h1
              class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
            >
              (THE HOLY BIBLE)
            </h1>

            <h2 class="text-2xl font-semibold text-[#108bf7] mb-4 text-center">
              மனுக்குலமே ! நீ இப்போது எங்கு வாழ்கிறாய் ? இங்கு எப்படி வந்தாய்?
            </h2>
            <p class="mb-4">
              மனிதன் தேவனுக்குக் கட்டுப்பட்டு ,அவரது நிழலில் வாழ்வதைத் தெரிந்து
              கொள்ளவில்லை. கடவுள் அவனுக்கு சுய சித்தம் (Free will
              )கொடுத்திருந்தார். அவன் ஏதேன் தோட்டத்திலுள்ள சகல விதமான மரங்களின்,
              கனிகளையும் புசிக்கலாம். அதாவது புசிப்புக்கு நலமும், பார்வைக்கு
              அழகுமான கனிகளாக அவைகள் படைக்கப்பட்டிருந்து. ஆனால் தோட்டத்தின்
              நடுவில் “நன்மை, தீமை அறியத்தக்க மரமும்”, “ஜீவவிருட்சம்” என்னும்
              மரமும் முளைப்பிக்கப்பட்டது இந்த நன்மை தீமை அறியத்தக்க மரத்தின் கனி
              “புசிப்புக்கு நல்லதும் பார்வைக்கு இன்பமும் ,புத்தியை
              தெளிவிக்கிறதற்கு இச்சிக்கப்படத்தக்தாகக இருந்தது”. தேவன் படைத்த
              முதல் பெண் இந்த மரத்தின் அடியில் செல்கிறாள் .”இச்சிக்கிறாள்” (lust
              ) எந்த விருட்சத்தின் கனியைப் புசிக்க வேண்டாம் என்று கடவு
              கட்டளையிட்டரோ, அதை புசிக்க ''ஆசை'' இச்சையாக அவளுக்குள் இருந்து
              வெளிவருகிறது. இச்சையானது அவளுக்கு வந்த பெரிய சோதனை .அவள் சோதனையில்
              “விழுந்தாள்”. பழத்தை பறித்தாள் புசித்தாள் . தன் கணவனுக்கும்
              கொடுத்தாள் .தேவகட்டளையை இவர்கள் இருவரும் விட்டுவிட்டதால் “பாவம்”
              என்னும் சொல் பூமிக்குள் வந்தது .''தீமை'' என்னும் பதம் மனுக்குலத்தை
              ஆட்கொண்டது. “தீமை” மனிதனை அதிகாரம் செய்ய ஆரம்பித்தது. இதுவே
              மனுக்குலத்தின் வீழ்ச்சி ! எதேனிலிருந்து மனுக்குலம் விரட்டப்பட்டது.
              அழகாக படைக்கப்பட்ட பூமி ,விழுந்துபோன உலகமாக மாறினது (The Fallen
              world) மனிதன் பலுகி பெருகினான். பாவத்தையும் ,தீமையையும்
              பெருக்கினான்
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              உலகத்தில் பிறந்த 3 தீமைகள்:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>மாமிசத்தின் இச்சை (Lust of the Flesh)</li>
              <li>கண்களின் இச்சை (Lust of the Eyes)</li>
              <li>ஜீவனத்தின் பெருமை (Pride of Life)</li>
            </ul>
            <p class="mb-4">
              முதல் குடும்பமாகிய ஆதாம் ,ஏவாள் மூலமாக இந்த மூன்று வித தீமைகள்
              நிறைந்த உலகத்தின் பெயர் தான் ''விழுந்து போன உலகம்'' !. இது,
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              வீழ்ந்துபோன உலகத்தின் தன்மை:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>தீமைகள் நிறைந்த இடம் - Evil</li>
              <li>இருள் நிறைந்த இடம் - Darkness</li>
              <li>சுயம் நிறைந்த இடம் - Self Will</li>
              <li>பாவம் நிறைந்த இடம் - Sinful</li>
              <li>சோதனைகள் நிறைந்த இடம் - Temptations</li>
              <li>தேவனது ஆளுகை இல்லாத இடம் – No rule of God</li>
              <li>
                பொல்லாப்பு ஆளுகை செய்யும் இடம் – Domination of Devil / Evil
              </li>
            </ul>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              இதுவே மனுக்குலம் வாழும் “விழுந்துபோன உலகம்”
            </h3>

            <p class="mb-4">
              மனுக்குலமே ! நீ விழுந்து போன மனுக்குலம். (The fallen Man)<br />
              மனுக்குலமே! நீ வாழும் இடம் விழுந்து போன உலகம் (The fallen World)<br
              />
              Ref: பரிசுத்த வேதாகமம் (The Holy Bible)
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              மனுக்குலமே:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>தேவன் உன்னோடு வாழ விரும்பி உன்னைப் படைத்தார் !</li>
              <li>நீ விழுந்து போவதைத் தெரிந்து கொண்டாய் !</li>
              <li>தேவன் உன்னை வாழ வைக்க விரும்பி உன்னைப் படைத்தார் !</li>
              <li>நீ விழுந்து போவதை தெரிந்தெடுத்தபடியால் விழுந்து போனாய் !</li>
              <li>நீ சந்திப்பது அனைத்தும் வீழ்ச்சிசி !</li>
              <li>இது உனது தெரிந்தெடுப்பு !</li>
              <li>இதற்கு கடவுள் பொறுப்பாளி அல்ல …….</li>
            </ul>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              ஆனால் மனுக்குலமே!
            </h3>
            <p class="mb-4">
              உனக்கு ஒரு நல்ல செய்தி. (The good News!)<br />
              உனக்கு ஒரு மிக நல்ல செய்தி. (Very Good News!)
            </p>

            <p class="mb-4">
              நீ விழுந்து போன நாளிலேயே கடவுள் உன்னை வெறுக்கவில்லை, உன்னை
              விரட்டவில்லை. உன்னை தூரம் போகச் செய்தது உன் தெரிந்தெடுப்பு! ஆனால்
              உன்னை தன்னோடு சமீபமாகச் சேர்த்து, உன்னை அணைக்க விரும்புகிறோர் உன்
              படைப்பாளர்!
            </p>

            <p class="mb-4">
              உன்னை படைத்த படைப்பாளர் சொல்வதைக் கேள்!<br />
              ‘’மனுக்குலமே’’ கோழி தன் குஞ்சுகளை கூட்டிச் சேர்ப்பது போல் உன்னைக் கூட்டிக்
              சேர்க்க மனதாயிருக்கிறேன். உனக்கோ மனமில்லை – (பரிசுத்த வேதாகமம்)
            </p>

            <p class="mb-4">
              இது உன்னை படைத்தவர் உன்னை அழைக்கும் அழைப்பு! தாய் தன் பாலகனை
              மறந்தாலும் நான் உன்னை மறக்கமாட்டேன் என்று அழைக்கிறார்!
            </p>

            <p class="mb-4">
              வருவாய் அவரண்டை! பெறுவாய் ஆனந்தக் களிப்பு! இன்று இந்த விழுந்து போன
              உலகம் உன்னை ஆநேக பிரச்சனைக்குள் விழவைத்து திணறடிக்கிறதா? ஏழும்பு!
              திரும்பு உன்னை படைத்த படைப்பாளிரிடம்! உன்னை காயம் கட்டுவார்! காயம்
              ஆற்றுவார்!
            </p>

            <p class="mb-4">
              அதற்காகவே சிலுவையில் தன் உயிரைக் கொடுக்கும் முன் காயப்பட்டார்.
              விழுந்து போன மனுக்குலத்தை காப்பாற்ற உன் படைப்பாளர் மனிதனாகவே
              வந்து, உன் பாவம் அனைத்தையும் தன் மேல் ஏற்று, அவரே உலகத்தின்
              பாவபரிகாரமானார்.
            </p>

            <p class="mb-4">
              ''இரத்தம் சிந்தாமல் பாவமன்னிப்பு இல்லை” என்பது உலகம் அறிந்த உண்மை.
              ஆனால் உலகத்திடம் பாவத்திற்கான தீர்வு இல்லை. ஆனால் உன் படைப்பாளரே
              தீர்வு!
            </p>

            <p class="mb-4">
              அவர் உலகத்தின் பாவங்களுக்காக சிலுவையில் பலியானார். இதை நம்பி
              ஏற்றுக் கொள்ளும் ஒவ்வொரு நபருக்கும் நல்ல செய்தி! ஆண் - பெண் என்கிற
              பேதம் இல்லை; பணக்காரர் - ஏழை என்கிற பிரிவினை இல்லை; படித்தவன் -
              படிக்காதவன் என்கிற பாரபட்சம் இல்லை.
            </p>

            <p class="mb-4">
              உயர்வு - தாழ்வு என்னும் இருள் உன் படைப்பாளரிடம் இல்லை. நீ
              யாராயிருந்தாலும் உனக்கு உதவிக்கரம் நீட்டுவார்!
            </p>

            <p class="mb-4">
              இந்த விழுந்துபோன உலகில் உன் படைப்பாளர் மட்டுமே! அதற்காகவே தன்
              சிங்காசனத்தைத் துறந்து, தேவனுக்குரிய எல்லா மகிமையையும் துறந்து,
              உலகத்தில் மனிதனாய் பிறந்து ‘இயேசு’ என்று பெயரிடப்பட்டு, ‘சிலுவை’
              என்னும் பலிபீடத்தில் தன் உயிரையே தியாகபலியாக்கினார்.
            </p>

            <p class="mb-4">
              இன்று உயிரோடு இருக்கிறார்! உன்னோடு இருக்கிறார்! உதவிக்கரம்
              நீட்டுகிறார்...
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              உன் செயல்:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>உன் கரம் நீட்டி தொடு!</li>
              <li>அவரது உதவியை தொடு!</li>
              <li>அவரது வல்லமையை தொடு!</li>
            </ul>

            <p class="mb-4">
              அவர் மனிதனாக வந்து உயிர் கொடுத்து, உயிரோடு வந்ததே சத்தியம்! அதுவே
              உண்மை செய்தி! அது சரித்திரத்தில் நடந்த செய்தி! கட்டுக்கதை அல்ல!
              புராணக் கதை அல்ல! பொய் அல்ல! உண்மை!
            </p>

            <p class="mb-4">
              நீ இப்போது வாசிக்கும் நல்ல செய்தி! இதை நம்பி, ஏற்றுக்கொண்டு,
              இதிலிருந்து வெளி வரும் எல்லா சத்தியங்களையும் உன் வாழ்வில்
              அப்பியாசப்படுத்துவாயானால், நீயே ஆச்சரியப்படும் அளவில் உன் வாழ்வு
              மாறும்.
            </p>

            <p class="mb-4">
              உன் பிரச்சனைகள் சந்திக்கப்படும், தீர்வுகள் சொல்லிக்
              கொடுக்கப்படும்! ஆனால் இந்த வல்லமை தரும் வார்த்தைகள் உன்
              இருதயத்தில் தொட வேண்டும்.
            </p>

            <p class="mb-4">
              அதுவே, நீ நம்பிக்கையோடு உன் படைப்பாளரை உன் வாழ்வில் அழைப்பதற்கான
              அத்தாட்சி!
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              பெறுவாய் ஆசிர்வாதம் — ஏனன்றால்:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>இது இறைவனின் பாதம்!</li>
              <li>“வானம் அவரது சிங்காசம்”</li>
              <li>பூமி அவரது பாதபடி (பரிசுத்த வேதாகமம் - Holy Bible)</li>
            </ul>

            <p class="mb-4">
              இறைவனது வல்லமையை நீ தொட முடியும் - அவரது வார்த்தையின் மூலம். அது
              ஒன்றுதான் உன் எல்லா பிரச்சனைகளையும் எவ்வாறு கையாள முடியும் என்று
              உனக்கு போதிக்கும்.
            </p>

            <p class="mb-4">
              இதை ஒரு எழுத்தாய் பார்க்காதே! இதற்குள் உன்னை படைத்த உன் தேவன்
              இருந்து உன்னோடு பேசுகிறார் என்பதை நீ உன் இருதயத்தில் நம்ப
              வேண்டும். அதுதான், நீ உன் படைப்பாளரின் வல்லமையை (Power) தொடும்
              நேரம் (Touching the Power of God).
            </p>

            <p class="mb-4 font-semibold">
              வல்லமை தேவனுடையது மட்டுமே. <br />
              அது உன் வாழ்வின் சவால்களை சந்திக்க உனக்குக் கிடைத்திருக்கும் மிக பெரிய
              ஆயுதமாகும். <br />
              இதைக் கையாண்டு, உன் வாழ்வை வல்லமையுள்ள வாழ்வாக வாழ வேண்டும் என்பதே
              உன் படைப்பாளரின் மிகப்பெரிய ஆவல்.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/js/navbar.js" is:inline defer></script>
