---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="en">
  <head>
    <title>Touch the Power</title>
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width"
    /><meta property="title" content="Touch the Power" /><meta
      property="description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta
      property="keywords"
      content="Spiritual guidance, Life purpose, Problem-solving, Solutions, Divine exploration, Prayer requests, Personal growth, Spiritual discovery, Existential questions, Meaning of life"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" /><meta
      property="og:type"
      content="website"
    /><meta property="og:url" content="https://touchthepower.com" /><meta
      property="og:title"
      content="Touch the Power"
    /><meta
      property="og:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:url" content="https://touchthepower.com" /><meta
      property="twitter:title"
      content="Touch the Power"
    /><meta
      property="twitter:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:image" content="/assets/home/bg-image.jpg" /><meta
      property="twitter:card"
      content="summary_large_image"
    /><meta property="robots" content="/robots.txt" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style><link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    /></head
  >

  <body class="">
    <div>
      <div class="border-b-2 border-[#045a94]">
        <Header />
      </div>
      <div class="mx-40 p-10">
        <div class="flex">
          <ProblemsLink />
          <div class="px-7 w-5/6">
            <div class="text-left text-[#a9a9a9]">
              Why Problem / Fallen World
            </div>
            <div class="text-[#108bf7] text-[1.8rem] font-semibold">
              Fallen World
            </div>
            <img
              class="w-full rounded-md h-44 object-fill my-5"
              src="/assets/problems/fallen-world.png"
              alt="problems-img"
            />
            <div class="text-[#838383]">
              <div class="my-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
                nec, ultricies sed, dolor. Cras elementum ultrices diam.
                Maecenas ligula massa, varius a, semper congue, euismod non, mi.
                Proin porttitor, orci nec nonummy molestie, enim est eleifend
                mi, non fermentum diam nisl sit amet erat. Duis semper. Duis
                arcu massa, scelerisque vitae, consequat in, pretium a, enim.
                Pellentesque congue. Ut in risus volutpat libero pharetra
                tempor. Cras vestibulum bibendum augue. Praesent egestas leo in
                pede. Praesent blandit odio eu enim. Pellentesque sed dui ut
                augue blandit sodales. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia Curae; Aliquam nibh.
                Mauris ac mauris sed pede pellentesque fermentum. Maecenas
                adipiscing ante non diam sodales hendrerit.
              </div>

              <div class="my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
                nec, ultricies sed, dolor. Cras elementum ultrices diam.
                Maecenas ligula massa, varius a, semper congue, euismod non, mi.
                Proin porttitor, orci nec nonummy molestie, enim est eleifend
                mi, non fermentum diam nisl sit amet erat. Duis semper. Duis
                arcu massa, scelerisque vitae, consequat in, pretium a, enim.
                Pellentesque congue. Ut in risus volutpat libero pharetra
                tempor. Cras vestibulum bibendum augue. Praesent egestas leo in
                pede. Praesent blandit odio eu enim. Pellentesque sed dui ut
                augue blandit sodales.
              </div>
              <div class="flex gap-8 justify-center items-center">
                <div class="w-1/2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  non risus. Suspendisse lectus tortor, dignissim sit amet,
                  adipiscing nec, ultricies sed, dolor. Cras elementum ultrices
                  diam. Maecenas ligula massa, varius a, semper congue, euismod
                  non, mi. Proin porttitor, orci nec nonummy molestie, enim est
                  eleifend mi, non fermentum diam nisl sit amet erat. Duis
                  semper.
                </div><div class="w-1/2">
                  <img
                    class="w-full h-40 rounded-md object-fill"
                    src="/assets/problems/fallen-world.png"
                    alt="problems-img"
                  />
                </div>
              </div>
              <div class="my-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
                nec, ultricies sed, dolor. Cras elementum ultrices diam.
                Maecenas ligula massa, varius a, semper congue, euismod non, mi.
                Proin porttitor, orci nec nonummy molestie, enim est eleifend
                mi, non fermentum diam nisl sit amet erat. Duis semper. Duis
                arcu massa, scelerisque vitae, consequat in, pretium a, enim.
                Pellentesque congue. Ut in risus volutpat libero pharetra
                tempor. Cras vestibulum bibendum augue. Praesent egestas leo in
                pede. Praesent blandit odio eu enim. Pellentesque sed dui ut
                augue blandit sodales. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia Curae; Aliquam nibh.
                Mauris ac mauris sed pede pellentesque fermentum. Maecenas
                adipiscing ante non diam sodales hendrerit.
              </div>
              <div class="my-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
                nec, ultricies sed, dolor. Cras elementum ultrices diam.
                Maecenas ligula massa, varius a, semper congue, euismod non, mi.
                Proin porttitor, orci nec nonummy molestie, enim est eleifend
                mi, non fermentum diam nisl sit amet erat. Duis semper.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/navbar.js" is:inline defer></script>
</html>
