---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="en">
  <head>
    <title>Touch the Power</title>
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width"
    /><meta property="title" content="Touch the Power" /><meta
      property="description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta
      property="keywords"
      content="Spiritual guidance, Life purpose, Problem-solving, Solutions, Divine exploration, Prayer requests, Personal growth, Spiritual discovery, Existential questions, Meaning of life"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" /><meta
      property="og:type"
      content="website"
    /><meta property="og:url" content="https://touchthepower.com" /><meta
      property="og:title"
      content="Touch the Power"
    /><meta
      property="og:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:url" content="https://touchthepower.com" /><meta
      property="twitter:title"
      content="Touch the Power"
    /><meta
      property="twitter:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:image" content="/assets/home/bg-image.jpg" /><meta
      property="twitter:card"
      content="summary_large_image"
    /><meta property="robots" content="/robots.txt" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style><link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    /></head
  >

  <body class="">
    <div>
      <div class="border-b-2 border-[#045a94]">
        <Header />
      </div>
      <div class="mx-40 p-10">
        <div class="flex">
          <ProblemsLink />
          <div class="px-7 w-5/6">
            <div class="text-left text-[#a9a9a9]">
              Why Problem / Wrong Choice
            </div>

            <h1
              class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
            >
              தவறான தெரிந்தெடுப்புகள்
            </h1>

            <p class="mb-4">
              சரியான தீர்மானம், சரியான முன்னுரிமைகளின் அடிப்படையில் உங்கள்
              வாழ்வை நடத்த முற்படும் போதும் தவறான தெரிந்தெடுப்புகள் (wrong
              choices) செய்ய வாய்ப்புண்டு. இதற்கு விளைவுகள் ஏராளம் உண்டு
              .உதாரணமாக ஒரு இடத்திலிருந்து வேறு இடத்தில் போய் வசிக்க வேண்டும்
              என்று தீர்மானிப்பீர்கள். ஆனால் எந்த இடத்திற்குப் போவது என்று
              நீங்கள் தான் சரியான தெரிந்திடுப்பு செய்ய வேண்டும். நீங்கள்
              ஆண்டவராகிய இயேசு கிறிஸ்துவை அறிந்தவர்களாக இருப்பீர்களானால்
              தேவத்தின் அடிப்படையில் மட்டுமே தெரிந்தெடுப்பு செய்ய வேண்டும்.
              ஏனேன்றால் நாம் யாவரும் தேவனால் படைக்கப்பட்டது மட்டுமல்ல, நம்
              ஒவ்வொருவரைக் குறித்தும் அவர் ஏற்கனவே தீர்மானம் செய்துவிட்டார்.
              அவர் நமக்கு நடக்கும்படியான ஒரு பாதையையும் நம் வாழ்வின் பாதையையும்
              ஏற்கெனவே ஆயத்தம் பண்ணிவிட்டார் .ஏனன்றால் சரியான பாதையை நம்
              தெரிந்து எடுத்தாள் மட்டுமே நாம் அவர் நமக்கென்று ஆயத்தம் பண்ணின
              இடத்திற்கு செல்ல முடியும், சரியான திட்டம் நம் வாழ்வில்
              செயல்பட்டால் மட்டுமே நம் வாழ்வின் மூலம் தேவனது நோக்கம் நிறைவேற
              முடியும். எனவே ஒவ்வொரு தனிமனிதன் வாழ வேண்டிய இடம் (The Place)
              அவனுக்குறித்த திட்டம் (The Plan) அவனைக் குறித்த நோக்கம் (His
              Purposes) யாவும் மனிதனை படைத்த படைப்பாளரால் ஏற்கனவே ஆயத்தம்
              பண்ணப்பட்டவைகள் என்பதை பரிசுத்த வேதாகமம் தெளிவுபடுத்துகிறது. எனவே
              மனிதன் தேவதிட்டத்தை தான் தன் தெரிந்தெடுப்புகளாக கணிக்க வேண்டும்.
            </p>

            <h2 class="text-2xl font-semibold text-[#108bf7] mb-4">
              முதலாவது தேவனுடைய இராஜியத்தை தேர்ந்தெடுக்க வேண்டும் : அதாவது
              தேவனது ஆளுகை
            </h2>
            <p class="mb-4">
              நம்மில் அநேகர் நம் சுயம் அதாவது நம்முடைய விருப்பு ,வெறுப்புகளின்
              அடிப்படையில் தான் எல்லா காரியங்களையும் தீர்மானிக்கிறோம் .ஆனால்
              அவ்வாறு நாம் தேர்ந்தெடுக்கும்போது தேவனது அநாதி தீர்மானமும்
              ,திட்டங்களும் நம் வாழ்வில் செயல்பட முடியாது .நமக்கு ஒருவேளை நம்
              வாழ்வில் எந்த தவறும் நாம் செய்யவில்லை என்று எண்ணலாம். ஆனால்
              வாழ்வின் ஆரம்பத்தை விட வாழ்வின் முடிவு தான் மிகவும் முக்கியம்
              ஆரம்பமே தவறான தேர்ந்து எடுப்பாய் இருக்கும் ஆனால் முடிவு நிச்சியமாக
              தவறான இடமாகவே இருக்கும் .அதன் விளைவுகள் நாம் ஈடுகட்டவும் முடியாது.
              மறுபடி வாழவும் முடியாது என்பது உண்மையிலும் உண்மை .(சில உதாரணங்கள்
              ) வேதாகமத்திலிருந்து)
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              1. லோத்தைப்போல் தெரிந்தெடுக்காதே ஆபிரகாமை போல் தெரிந்திதெடு
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>ஆசிர்வதிக்கப்படுவாயே ! (ஆதியாகமம் 13ம் அதிகாரம்</li>
            </ul>

            <p class="mb-4">
              ஆபிரகாமின் மந்தை மேப்பருக்கும், லோத்தின் மேப்பருக்கும் வாக்குவாதம்
              ஏற்பட்டது. மேலும் அவர்கள் கூடி வாழ்வதற்கு ஏதுவில்லாமல் அவர்களது
              ஆஸ்தி முகுதியாயிருந்தது. பூமி அவர்களை தாங்கக் கூடாதிருந்தது.
              அப்பொழுது ஆபிரகாம் லோகத்தை நோக்கி ''இந்த தேசமெல்லாம் உனக்கு முன்
              இருக்கிறதல்லவா? நீ என்னை விட்டு பிரிந்து போகலாம் .நீ இடது புறம்
              போனால் நான் வலது புறம் போகிறேன் .நீ வலது புறம் போனால் நான் இடது
              புறம் போகிறேன் ''என்றான் பாருங்கள், FIRST CHOICE முதல்
              தெரிந்தெடுக்கும் உரிமையை விட்டுக் கொடுக்கிறான் ஆபிரகாம் வயதில்
              பெரியவன் ஆண்டவரின் சிநேகிதன்'' என்று பெயர் பெற்றவன் .ஆனால் வயதில்
              சிரியவனான லோத்துக்கு தெரிந்தெடுக்கும் உரிமையை முதலில்
              கொடுக்கிறான். இதுதான் தன்னை சுயம் ஆளுகை செய்ய இடம் கொடாமல்
              தேவனுடைய இராஜ்யம் ஆளுகை செய்கிறது என்பதின் அடையாளம்.
            </p>

            <p class="mb-4">
              இதற்கு ஒவ்வொரு மனிதனும் தன் சுயத்தை சாம்பலாக சுட்டெறிக்க வேண்டும்
              இல்லாவிட்ட்டால் ஒருமுறை சுயம் தேவனுக்கு இடம் கொடுக்கும். அடுத்த
              முறை நம் மனசாட்சியில் சுயம் ஆளுகை செய்ய உயிர் பெற்று விடும் .எனவே
              தான் சுயம் சாக வேண்டும் என்று வேதாகமம் வலியுறுத்துகிறது. தேவ
              மகனாகிய இயேசு கிறிஸ்துவும் தன் விருப்பத்தின் படி வாழாமல் ,அவரை
              குறித்து எழுதியிருந்த படியே வாழந்தார் என்று ரோமர் 15.3இல் உறுதி
              செய்யப்பட்டுள்ளது . லோத் சோதோம் என்னும்இடத்தை தெரிவு செய்கிறான்
              (Chose) எதன் அடிப்படையில்? லோத்து தன் கண்களை ஏரெடுத்துப் பார்த்து
              யோர்தான் நதிக்கு அருகான சம பூமி முழுவதும் நீர்வளம் பொருந்தியிருக்
              கண்டான் அது கர்த்தருடைய தோட்டத்தை போல் இருந்தது என்று ஆதியாகமம்
              13.10 உறுதி செய்கிறது. ஆனால் சோதோம் என்று பெயர் பெற்ற நீர்வளம்
              பொருந்தின இடம் கர்த்தரின் பார்வைக்கு அக்கிரமங்கள் பெருகின இடமாக
              காட்சியளித்தது. பின்பு அது (சோதோம்) அக்கினியினாலும்
              கந்தகத்தினாலும் அழிக்கப்பட்டது என்பது வரலாறு. லோத்தின் மனைவி
              குடும்பமாக தப்பிக் கொள்ள தேவன் தீர்மானித்தபோதும், இவளின்
              தெரிந்தெடுப்பு தவறானபடியினால் பின் திரும்பிப்பார்த்து உப்புத் தூண்
              ஆனாள் ,இது தவறான தெரிந்தெடுப்புக்கு ஒரு பெரிய எச்சிரிப்பு கண்களை
              மட்டும் நம்பி பார்வைக்கு நல்லது ,நல்ல பெண், நல்ல ஆண், நல்ல வேலை,
              நல்ல பேச்சு, நல்ல சாப்பாடு என்று கண்களின் இச்சை நம்
              தெரிந்தெடுப்புக்கு ஆதாரமாக மாறும் என்றால் நல்வாழ்வை இழப்பது
              மட்டுமல்ல தீமைகுள் பயணிக்க நேரிடும்
            </p>
            <p class="mb-4">
              2. “ஓர்பாள் போல் தெரிந்தெடுக்காதே ! ரூத்தைப் போல் தெரிந்தெடு”
              ஏற்றம் பெறுவாயே ! (ரூத் -பரிசித்த வேதாகமம்)
              <br />
              ரூத்தின் சரித்திரம் மாமியார் -மருமகள் உறவே சித்தரிக்கும் உண்மை அல்லவே
              அல்ல!
            </p>
            <p class="mb-4">
              மாறாக ரூத்தின் சரியான தெரிந்தெடுப்பு-அவள் மெய்யான கடவுளையும்,
              அவரது ஜனங்களையும் தெரிந்தெடுத்தது நம்மை பெரும் வியப்பில் ஆழ்த்த
              வேண்டும் . அவளது மாமியார் தனது இரண்டு மருமகள்களாகிய ரூத் ,ஓர்பாள்
              இருவர் முன்னாலும் ஒரு மாபெரும் சவாலை வைக்கிறாள் .அதாவது அவர்கள்
              இருவரையும் தங்கள் தங்கள் பெற்றோரின் வீடுகளுக்குத் திரும்பிப்
              போகும்படி, போய் வாழ்த்திருக்கும்படி மனதார வாழ்த்தி அனுப்புகிறாள்.
              இருவரும் மோவாபிய பெண்கள், பெற்றோர் வீட்டுக்குத் திரும்பினால்,
              மறுபடியும் தாங்கள் விட்டு வந்த விக்கிரக வணக்கத்திற்கு
              திரும்பவேண்டும் என்பது இருவருக்கும் தெரியும். ஆனால் ,ஓர்பாள் அதை
              பெரிதாக எண்ணவில்லை. ஏனென்றால் அவள் மனதளவில் இஸ்ரவேலின் தேவனத்
              தெரிவுசெய்து அவருக்கு முதல் இடம் கொடுக்கவில்லை எல்லாம் சரிதான
              (It’s Ok) என்று தற்காலத்தில் சொல்வது போல் என்று எண்ணி தன் சுய
              தேசத்திற்கு திரும்பில் போவதை தெரிந்தெடுத்தாள். ஏன்? தன்
              சுயபுத்தியின் மேல் சாய்ந்தாள். தன் தேசத்தில் தான் தனக்கு எதிர் கால
              வாழ்வு உண்டு என்று எண்ணினாள். நகோமியின் வெறுமையை மட்டுமே அவளது
              கண்கள் கண்டது .அனால் இதே சவாலை சந்தித்த ரூத் -நகோமியின் மேல் தன்
              கண்களை பதிப்பதை தெரிந்தெடுக்கவில்லை .நகோமியின் தேவனை
              தெரிந்துகொள்வதையே விரும்பினால் . ஏன்? அவளுக்குள் இருந்த தேவ பயம் !
              ஆம் ! பிரியமானவர்களே ! நீங்கள் தேவபக்தியுடன் செயல்படுபவராக
              இருந்தால் மட்டுமே சரியான தீர்மானம் செய்ய முடியாது. தேவ பயம் உண்டா?
              பயத்துடனே ஆராதனை செய்ய கற்றுக் கொண்டுருக்கிறீர்களா? நம் தேவன்
              பட்சிக்கிற அக்கினியாய் இருக்கிறாரே என்று சொல்கிறது பரிசுத்த
              வேதாகமம் எபிரேயர் 12:28,29) தேவபயம் உங்களுக்குள் இருக்குமானால்
              உங்களுக்குள் தேவ ஞானம் பிறக்கும் .கர்த்தருக்குப் பயப்படுத்தலே
              ஞானத்தின் ஆரம்பம் ''என்பது சத்தியம் (நீதி மொழிகள் 1:7) ஞானம்
              உங்கள் இருதயத்தில் பிரவேசிக்கும் போது (Wisdom) மட்டுமே அறிவு
              பிறக்கும் (Knowledge) அந்த அறிவு உங்கள் மனதிற்கு இன்பமாயிருக்கும்
              போது நல் யோசனை உங்களை காப்பாற்றும் புத்தி (Understanding) உங்களை
              பாதுகாக்கும் ( நீதி மொழிகள் 2:10,11 பரிசுத்த வேதாகமம்) இது சத்திய
              வார்த்தைகள் ஞானம் மட்டுமே அறிவைத் தரும் .அறிவு நல்ல யோசனை செய்யும்
              புத்தியைப் பிறப்பிக்கும் .அனால் ஞானம் எங்கு ஆரம்பிக்கறது ?
              பள்ளிக்கூடத்தில் அல்ல -பரிசுத்த கடவுளிடம் இருந்து மட்டுமே. எனவே
              தேவபயம் நமக்குத் தரும் வாழ்வு, பரிசுத்த வாழ்வு. அனால் அந்த வாழ்வு
              கிடைக்க நாம் தேவபயத்துடன் சரியான தெரிந்தெடுப்பு செய்ய முடியும்
              என்பதை தான் இங்கு கற்றுக்கொள்கிறோம் அல்லது போதிக்கிறோம். போதனையை
              ஏற்றுக்கொள்ளும் இருதயத்திலிருந்து பேதமை மறையும் .அறிவு உங்கள்
              எதிர்காலத்தை வெளிச்சமாகும். ஆனால் உங்கள் கண்கள் மெய்யான ஞானத்தின்
              ஊற்றாகிய கடவுளின் மேல் பதித்திருக்கப்பட வேண்டும் என்பதில்
              சிறிதளவும் சந்தேகம் இல்லை .
            </p>

            <p class="mb-4">
              3. சிம்சோனைப் போல தெரிந்தெடுக்காதே யோசேப்பை போல் தெரிந்தெடு
              <br />
              சிம்மாசனம் அடைவாயே !
            </p>
            <p class="mb-4">
              நீங்கள் கிறிஸ்து இயேசுவை அறிந்தவர்களாய் இருந்தால் சிம்சோன்,யோசோப்
              இருவரின் சரித்திரத்தையும் அறிந்துருப்பீர்கள் நியாயாதிபதிகள்இல்
              ஒருவன் சிம்சோன் / நியாயாதிபதிகள் 13ம் அதிகாரம் -16ம் அதிகாரம்
              யாக்கோபு எனும் ஆதி பிதாவின் பன்னிரண்டு குமார்களில் பதினோராவது
              குமாரன் யோசோப்பு இருவரும் வாலிபப் பருவத்தில் வேறு வேறு விதமான
              வாழ்கை வாழ்ந்தனர் .சிம்சோன் தன் கண்களின் இச்சையின் படி வாழ்ந்து
              முடிவில் தன் கண்களை இழந்து மடிகிறான் .ஆனால் யோசேப்போ தன் கண்களின்
              இச்சைகளை அடக்கி மேற்கொண்டு இறுதியில் சிம்மாசனம் அடைகிறான்
              .ஆரம்பத்தில் இன்பமாக, சரியாக தோன்றும் பல தெரிந்தெடுப்புகள்
              முடிவில் துயரமாக முடிய வாய்ப்புண்டு கண் சரிரத்தின்
              விளக்காயிருக்கிறது. ஒருவனுடைய கண் கெட்டதாயிருக்குமானால் சரீரம்
              முழுவதும் இருள் அடைந்து விடும் என்றார் இறைமகன் இயேசு (லூக்கா
              11:34,35)ஆனால் கண்கள் தெளிவான பார்வை உள்ளவனாக இருக்குமானால் சரீரம்
              முழுவதும் பிரகாசம் அடையும். விபசாரம் செய்வது சரீரத்துக்கு விரோதமான
              பாவம் என்பது உண்மையிலும் உண்மை .ஆனால் வேதாகமம் கூறுவதை கேளுங்கள் .
              ஒரு ஸ்தீரியை இச்சையோடு பார்க்கிற எவனும் தன் இருதயத்தில் விபசாரம்
              செய்தாயிற்று. உன் வலது கண் உனக்கு இடறலுண்டாக்கினால் அதை பிடுங்கி
              எரிந்து போடு. உன் சரீரம் முழுவதும் நரகத்தில் தள்ளப்படுவதை
              பார்க்கிலும் உன் அவயவங்களில் ஒன்று கெட்டுப் போவது உனக்கு
              நலமாயிருக்கும் (மத்தேயூ 5:23 to 30) கண்களும் கைகளும் செய்யும்
              தவறான தெரிந்தெடுப்புகளால் இருதயம் கறைப்பட்டு நரகதண்டனை உறுதி
              செய்யப்படுகின்றது. நம் தெரிந்தெடுப்புகளுக்கு உண்டாகும் விளைவுகளை
              சிந்திக்காமல் செய்யும் தேர்ந்தெடுப்புகள் முடிவில் நம்மை இருளில்
              ஆழத்திவிடும் .சிந்தித்து செயல்பட அழைக்கப்படுகிறீர்கள் . 4.
              “மார்த்தாள் போல் தெரிந்தெடுக்காதே மாரியானைப் போல் தெரிந்தெடு நல்ல
              பங்கைப் பெறுவாயே” -(லூக்கா 10:38:42) பெத்தானிய எனும் சிற்றூரிலே
              ஒரு சிறிய குடும்பம், அதின் உறுப்பினர்கள் மார்த்தாள், மரியாள்
              ,லாசரு ஆகிய மூவர் இவர்களுடைய பெற்றோர் பற்றி எந்த தகவலும் இல்லை.
              இவர்களை குறித்து வேறு எந்த குறிப்புகளும் இல்லை .ஆனால் இவர்கள்
              ஆண்டவராகிய இயேசுவை மிகவும் அதிகமாக நேசித்தவர்கள் என்றும் இயேசுவும்
              இவர்களை அதிகமாக அன்பு கூர்ந்தார் என்றும் தெளிவான ஆதாரங்கள் உண்டு.
              ஒரு நாள் இயேசுவானவர் பெத்தானிய வந்த போது மார்த்தாள் அவரை தன்
              வீட்டுக்குள் வரவேற்று ஏற்றுக்கொள்கிறாள் .மரியாள் அவரது பாதத்தில்
              அமர்ந்து அவர் சொல்லும் உபதேசங்களை கேட்டுக்கொண்டிருந்தாள் அப்பொழுது
              மார்த்தாள் ஆண்டவர் இயேசுவிடம் வந்து (அதாவது பற்பல வேலைகளை
              செய்வதில் மிகவும் வருத்தமடைந்த) “ஆண்டவரே நான் தனியே வேலை
              செய்யும்படி என் சகோதிரி என்னை விட்டு வந்திருகிறதைக் குறித்து
              உமக்கு கவலையில்லையா? எனக்கு உதவி செய்யும்படி அவளுக்கு சொல்லும்”
              என்றாள் .இயேசு அவளுக்குப் பிரதியுத்திரமாக '' மார்த்தாளே !
              மார்த்தாளே !' நீ அநேகக் காரியங்களை குறித்து கவலைப்பட்டு
              கலங்குகிறாய்.தேவையானது ஒன்றே! மரியாள் தன்னை விட்டு எடுபடாத நல்ல
              பங்கைத் தெரிந்து கொண்டாள் என்றார் . இருவரின்
              தெரிந்தெடுப்பிலும்உள்ள வித்தியாசங்களை பாருங்கள்.
            </p>

            <div class="p-6 bg-white rounded-xl shadow-md">
              <h1
                class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
              >
                மார்த்தாள் மற்றும் மரியாள் – தேர்ந்தெடுத்த பங்கு
              </h1>

              <div class="mb-6">
                <h2
                  class="text-2xl font-semibold text-[#108bf7] mb-4 text-center"
                >
                  மார்த்தாள்
                </h2>
                <ul class="list-disc list-inside space-y-2 mb-6">
                  <li>அதிக வேலைகளை தெரிந்து கொண்டாள்.</li>
                  <li>அதிக வேலைகளினால் ஏற்பட்ட கவலைகளை தெரிந்து கொண்டாள்.</li>
                  <li>
                    கவலையினால் ஏற்படும் பாரம் நெருக்கினததால், நெருக்கி
                    ஆண்டவருக்கும் கவலையா என்று கேட்டாள்.
                  </li>
                  <li>பாரம் நெருக்கியதால் சகோதரியையும் குறை கூறுகிறாள்.</li>
                  <li>தன்னை விட்டு எடுபடும் பங்கை தெரிந்தெடுக்கிறாள்.</li>
                  <li>சுயபரிதாபம் (Self pity) அவளை ஆட்கொள்கிறது.</li>
                  <li>
                    அவள் செய்யும் சாப்பாட்டை ஆண்டவருக்கு கொடுப்பதில் தன்
                    முன்னுரிமை தெரிந்துகொண்டாள்.
                  </li>
                  <li>
                    தேவ சத்தியத்திலிருந்து வரும் ஆறுதல் மற்றும் வழிநடத்துதலை
                    இழந்தாள்.
                  </li>
                </ul>
              </div>

              <div>
                <h2
                  class="text-2xl font-semibold text-[#108bf7] mb-4 text-center"
                >
                  மரியாள்
                </h2>
                <ul class="list-disc list-inside space-y-2 mb-6">
                  <li>ஒரே வேலை – தேவ சத்தம் கேட்க.</li>
                  <li>ஒரே வேலையினால் வரும் சமாதானத்தை தெரிந்துகொண்டாள்.</li>
                  <li>
                    தேவ பாதமும், தேவ சத்தத்தையும் தெரிந்தெடுத்த படியால் கவலையோ,
                    பாரமோ அவளை நெருங்கவில்லை.
                  </li>
                  <li>
                    பாரம் நெருங்காதபடியால், எந்நிலையிலும் மனரம்மியமாக இருக்க
                    கற்றுக்கொள்கிறாள்.
                  </li>
                  <li>தன்னை விட்டு எடுபடாத நல்ல பங்கை தெரிந்தெடுக்கிறாள்.</li>
                  <li>தன்னைப் பற்றிய எண்ணமே மரியாளுக்கு இல்லை.</li>
                  <li>
                    தேவன் தனக்கு தரும் அழியாத சாப்பாட்டின் மேல் பசி, தாகம்
                    கொண்டாள்.
                  </li>
                  <li>
                    தேவ சத்தத்திலிருந்து வரும் ஆறுதல் மற்றும் வெளிப்பாடுகளை
                    (Revelation) பெற்றாள்.
                  </li>
                </ul>
                <p class="mb-4">
                  இந்த இருவரின் தெர்ந்தெடுப்புகளிலிருந்து நாம் கற்றுக் கொள்வது
                  எப்படி ? என்ன ? இருவரும் ஒரே குடும்பத்தின் அங்கத்தினர்கள்
                  மிகவும் அன்பானவர்கள் தேவனையும் அளவு கடந்து நேசித்தவர்கள்.
                  அதில் இருவருக்கும் வித்தியாசமே இல்லை. ஆனால் ஒருவரின் தவறான
                  தெரிந்த்தெடுப்பு அந்த ஒருவரின் குற்றசாட்டை கேட்க வழி
                  நடத்துகிறது. ஆண்டவரும் குற்றத்தை மறைக்காமல் அவரும் மரியாளை
                  மார்த்தாளுடன் போய் வேலை செய்வதுஉதவி செய் என்று சொல்லாமல்
                  மரியாளின் தெரிந்தெடுப்பை மெச்சுகிறார். எனேவ ஒருவரின் சரியான
                  தெரிந்தெடுப்பு பிறரை திருத்துவதற்கு செயல்படுத்த வேண்டுமே ஒழிய
                  ஒருவரை ஒருவர் குற்றம் சாட்டி குடும்பத்தில் பிளவு நேர இடம்
                  கொடுக்கக்கூடாது . இது சாத்தியமாவது எப்படி? அநேக வேலைகளின்
                  மத்தியிலும் கடவுளுடன் நேரம் செலவழிப்பதை தெரிந்தெடுக்க வேண்டும்
                  . அன்றாட தேவ வாசிப்பு, ஜெபம் சரியான ஆலோசனை இவையாவும் சரியான
                  வெளிப்பாடுகளை பெற உதவி செய்யும் உதாரணமாக மரியாள் மட்டுமே
                  இயேசுவின் அடக்கத்திற்கும் பின் ஒருவராலும் செய்ய முடியாத, ஆனால்
                  இறைமகன் இயேசு மட்டுமே மெச்சிக் கொண்ட காரியத்தை செய்தாள் என்று
                  மத்தேயு 26ம் அதிகாரம் 7ம் முதல் 13ம் வசனம் வரை (பரிசுத்த
                  வேதாகமம்) வாசிக்கின்றோம். அது என்ன காரியம் ? அவள் அந்த தைலத்தை
                  இயேசுவின் சரீரத்தின் மேல் ஊற்றியது அவரை அடக்கம் பண்ணுவதற்கு
                  எத்தனமான செய்கையாருந்தது. இவள் மட்டுமே இயேசுவின் அடக்கத்திற்கு
                  பின் அவருக்கு மூன்றாம் நாளில் தைலம் மற்றும் சுகந்த வர்க்கங்களை
                  யூதர்களின் முறையைமின்படி செலுத்த முடியாது. என்பதை முன்னதாகவே
                  அறிந்தாள் .எனவேதான் அவர் உயிரோடு இருக்கும் போதே அவர்க்கு தைல
                  அபிஷேகம் செய்து விடுகிறாள் .ஆனால் இந்த தெளிவு வேறு யாருக்கும்
                  கிடைக்கவில்லை .ஏன் ? மரியாள் தெரிந்தெடுத்த நல்ல தெரிந்தெடுப்பை
                  வேறு ஒருவரும் தெரிந்தெடுக்கவில்லை .இயேசுவின் பாதத்தில் அதிக
                  நேரம் செலவிட்ட மரியாள் பற்பல வேலைகளை செய்வதை தெரிந்தெடுத்த தன்
                  சகோதிரி மார்த்தாள் விட கடவுளின் பார்வையில் நன் மதிப்பைப்
                  பெற்றாள் . அது மிகையாகாது ஏன் என்றால் இயேசு அவளுக்கு ஒரு
                  நினைவு கூறுதலால் (Memorial) வாக்கு பண்ணுகிறார் (வசனம் 13
                  மத்தேயு 6ம் அதிகாரம் பரிசுத்த வேதாகமம் ) “இந்த சுவிசேஷம்
                  உலகத்தில் எங்கெங்கே பிரசங்கிதப்படுமோ அங்கங்கே இவளை
                  நினைப்பதற்காக இவள் செய்ததும் சொல்லப்படும் என்று மெய்யாகவே
                  உங்களுக்கு சொல்கிறேன் “ என்றார் ஆம் அருமையானவர்களே இன்று 2000
                  வருடங்களுக்கு மேலாக இவள் நினைவு கூறப்படுகின்றாள். மரியாள் என்ற
                  பெயரில் எத்தனையோ பெண்கள் இயேசுவின் காலத்திலும் திருச்சபையிலும்
                  உண்டு ஆனால் இயேசுவிடம் நற்கிரியை செய்வதற்காக நினைவு
                  கூறப்படுபவள் இவள் மட்டுமே என்றால் அதில் சிறிதளம் சந்ததேகம்
                  இல்லை . எனவே நம்முடைய சரியான தெரிந்தெடுப்பு காலம் கடந்து
                  செயல்பட்டு அநேகரை சிந்திக்க தூண்டும் சக்தி வாய்ந்தது என்பது
                  திண்ணம் . 5. “ஏவாளைப் போல் தெரிந்தெடுக்காதே! அன்னை மரிபோல்
                  தெரிந்தெடு கிருபை பெறுவாயே ! தெரிந்தெடுப்பில் தெளிவு ! தேவ
                  சித்தமாம் விளைவு ! ஏவாளின் தவறான தெரிந்தெடுப்பு என்ன ? ஏவாள்
                  தேவன் படைத்த முதல் பெண் (ஆதியாகமம் 2ம் 3ம் அதிகாரங்கள்
                  பரிசுத்த வேதாகமம்) ஆண்டவர் இவனது கணவன் ஆதாமுக்கு (அதாவது தேவன்
                  படைத்த முதல் மனிதனுக்கு )கொடுத்த கட்டளை என்னவென்றால்
                  ,தோட்டத்தின் சகல விருட்சங்களின் கனியையும் அவர்கள் புசிக்கலாம்
                  .ஆனால் தோட்டத்தின் நடுவிலுள்ள நன்மை ,தீமை ,அறியத்தக்க
                  விருட்சத்தின் கனியை புசிக்கும் நாளிலே சாகவேசாவாய் என்றும்
                  எச்சிரிப்பு கொடுத்திருந்தார் .சகல விருட்சங்களின் கனியையும்
                  புசிக்கத் தடையில்லை. ஆனால் விலக்கப்பட்ட ஒரே கனி
                  விரும்பப்படத்தக்கதாக தெரிந்தெடுக்கப்பட்டது. ஏன் ?
                  தெரிந்தெடுப்பதில் தவறு நேரிடக் காரணம் என்ன ?மூன்று காரணங்கள் .
                  1. கண்களின் இச்சை 2. மாமிசத்தின் இச்சை 3. ஜீவனத்தின் பெருமை
                  இவை மூன்றும் பிதாவினால் உண்டானது அல்ல. உலகத்தினால் உண்டானது
                  என்று பரிசுத்த வேதாகமம் கூறுகிறுது. இது நாம் யாவரும் அறிந்த
                  உண்மை இதை யோவான் அப்போஸ்தலன் தெளிவாக எழுதுகிறார். ( I யோவான்
                  2:16,17) உலகமும் அதின் இச்சையும் அழியும்! ,தேவனுடைய
                  சித்தத்தின்படி செய்யும் தீர்மானங்களும், தெரிந்தெடுப்புகளும்
                  நிலைத்து நிற்கும் , ஏவாள் மரியாளின் தெரிந்தெடுப்பபுகள்
                  எவ்விதம் அவர்கள் கணவனுடைய அழைப்பினை ஊடுருவி பாயக்கிறது என்று
                  பாருங்கள். Reference (Holy Bible)
                </p>

                <div class="p-6 bg-white rounded-xl shadow-md">
                  <h1
                    class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
                  >
                    ஏவாள் மற்றும் மரியாள் – தேர்ந்தெடுப்பின் விளைவுகள்
                  </h1>

                  <div class="mb-6">
                    <h2
                      class="text-2xl font-semibold text-[#108bf7] mb-4 text-center"
                    >
                      ஏவாள்
                    </h2>
                    <ul class="list-disc list-inside space-y-2 mb-6">
                      <li>தோட்டத்தில் இருக்கிறாள் – ஆதி 2:9 (ஏதேன்).</li>
                      <li>
                        தோட்டத்தின் நடுவில் விலக்கப்பட்ட கனிக்கு செல்கிறாள்.
                      </li>
                      <li>
                        போகக்கூடாத இடத்திற்கு சென்றதால் சாத்தானை சந்திக்கிறாள்
                        (ஆதி 3).
                      </li>
                      <li>சாத்தான் சொல்வதை அப்டியே நம்புகிறாள் (ஆதி 3:4,5).</li>
                      <li>தேவனின் வார்த்தையை சந்தேகிக்கிறாள்.</li>
                      <li>
                        புருஷனையும் தேவ வார்த்தைக்கு கீழ்ப்படியாதிருக்க
                        செய்கிறாள் (ஆதி 3:6).
                      </li>
                      <li>குடும்பம் சபிக்கப்படுகிறது (ஆதி 3:16-19).</li>
                      <li>
                        தேவனுக்கும் மனிதனுக்கும் பிரிவினை ஏற்படுகிறது (ஆதி
                        3:22-24).
                      </li>
                      <li>பூமி சபிக்கப்படுகிறது (ஆதி 3:17).</li>
                      <li>ஏவாள் ஜீவனுள்ளோருக்கு தாயாகிறாள் (ஆதி 3:20).</li>
                      <li>ஆதாம் மரணத்திற்கு தகப்பனாகிறான்.</li>
                      <li>
                        மரணம் மனுக்குலத்தை ஆட்கொள்ள ஏவாளின் தெரிந்தெடுப்பே
                        காரணம் (ஆதி 2:16,17).
                      </li>
                    </ul>
                  </div>

                  <div>
                    <h2
                      class="text-2xl font-semibold text-[#108bf7] mb-4 text-center"
                    >
                      மரியாள்
                    </h2>
                    <ul class="list-disc list-inside space-y-2 mb-6">
                      <li>
                        வீட்டில் இருக்கிறாள் – நாசரேத்தில் (லூக்கா 1:27,28).
                      </li>
                      <li>மரியாலிருந்த வீட்டுக்குள் தேவதூதன் வருகிறான்.</li>
                      <li>
                        அவள் இருந்த இடத்திலேயே தேவதூதனை சந்திக்கிறாள் (லூ 1:28).
                      </li>
                      <li>தேவதூதனிடமிருந்து விளக்கம் கேட்கிறாள் (லூ 1:34).</li>
                      <li>தேவ வார்த்தைக்கு அடிமையாகிறாள் (லூ 1:38).</li>
                      <li>
                        புருஷனுடைய சந்தேகத்தை தேவனே போக்குகிறார் – யோசேப்பு
                        கீழ்ப்படிக்கிறார் (மத் 1:19-21).
                      </li>
                      <li>குடும்பம் ஆசிர்வதிக்கப்படுகிறது (மத் 1:24,25).</li>
                      <li>தேவன் நம்மோடு – இம்மானுவேல்.</li>
                      <li>
                        பூமியிலே சமாதானம், மனுஷருக்கு நல்ல விருப்பம் (லூக்கா
                        2:14).
                      </li>
                      <li>மரியாள் ஜீவாதிபதிக்கு தாயாகிறாள் (லூ 1:43).</li>
                      <li>யோசேப்பின் கீழ்ப்படிதல் அவனை நீதிமானாக்குகிறது.</li>
                      <li>
                        உயிர்த்தெழுதல் ஜீவன் மரணத்தை விழுங்கி ஜெயம் எடுக்க,
                        மரியாளின் தெரிந்தெடுப்பே காரணம் (ஆதி 3:18).
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="p-6 bg-white rounded-xl shadow-md">
                  <h1
                    class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
                  >
                    சரியான தெரிந்தெடுப்புகளுக்கான ஆன்மீக ஆலோசனைகள்
                  </h1>

                  <p class="mb-4 text-lg text-gray-700">
                    மேற்குறிய எல்லா உண்மைகளையும் நிதானித்து அறிந்தோமானால்
                    ஒவ்வொரு தனி மனிதனின் தெரிந்தெடுப்புக்கும் விளைவுகள் உண்டு.
                    நன்மையான விளைவுகள் வேண்டுமானால், தெரிந்தெடுப்புகள் சரியாக
                    இருக்க வேண்டும்.
                  </p>

                  <h2 class="text-2xl font-semibold text-[#108bf7] mb-4">
                    தவறான தெரிந்தெடுப்புகளை தவிர்க்க ஆலோசனைகள்:
                  </h2>
                  <ul
                    class="list-disc list-inside space-y-2 text-gray-800 mb-6"
                  >
                    <li>
                      <span class="font-medium text-gray-900"
                        >ஒழுங்கான ஜெப நேரம்:</span
                      > இது தேவனுடன் தொடர்பை ஏற்படுத்தும்.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >ஒழுங்கான வேத ஆராய்ச்சி மற்றும் தியானம்:</span
                      > உங்கள் மனதை மறுரூபப்படுத்தும்; தேவனை குறித்த தெளிவான அறிவு
                      உங்கள் சிந்தனையை பரிசுத்தமாக்கும். தேவனும் தம்மை உங்களுக்கு
                      வெளிப்படுத்துவார்.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >தேவ ஆலோசனை பெறும் வாய்ப்பு:</span
                      > உங்கள் தெரிந்தெடுப்புகளில், தேவ ஆலோசனைகள் பெற அதிக வாய்ப்பு
                      ஏற்படும்.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >ஆவிக்குரிய பெரியவர்களின் நட்பில் பழகுங்கள்:</span
                      > உண்மையான தேவ பக்தியும், ஆவிக்குரிய வளர்ச்சியையும் உடைய முதியவர்களின்
                      சினேகத்துக்குள் இருக்க பழகுங்கள்.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >உலகத்தின் முறைமைகளை பின்பற்ற வேண்டாம்:</span
                      > தேவ வாக்கியம் சொல்லும் பாதையை தவிர்த்து உலக வழிகளைத் தொடர
                      வேண்டாம்.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >உள் உணர்வுகளுக்கு செவி கொடுப்பதை தவிர்க்குங்கள்:</span
                      > உணர்வுகள் மயக்கத்தில் இழுத்துச் செல்லக்கூடும்; அதனால் அவை
                      வழிகாட்டிகளாக இருக்கக்கூடாது.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >தேவ சித்தத்திற்குள் ஓட பழகுங்கள்:</span
                      > தேவன் நியமித்த வாழ்வின் ஓட்டத்திற்குள் ஓட பழகுங்கள்; அதிலே
                      அமைதி உள்ளது.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >பாவ வாழ்க்கையை வெறுக்கவும்:</span
                      > பாவம் தவறு என்பதை அறிவது மட்டுமல்ல, அதை முழுமையாக வெறுப்பதே
                      தேவன் விரும்பும் நிலை.
                    </li>
                    <li>
                      <span class="font-medium text-gray-900"
                        >நண்பர்களின் தெரிந்தெடுப்புகளை பின்பற்ற வேண்டாம்:</span
                      > உங்கள் வாழ்க்கை அவர்களுடையதைவிட வேறுபட்டது. உங்கள் அழைப்பும்,
                      நோக்கமும் தனித்துவம் வாய்ந்தது.
                    </li>
                  </ul>

                  <p class="text-center text-gray-600 italic">
                    “அனைத்திலும் தேவ சித்தத்தையே தேடுங்கள்; அதிலேதான் உங்களின்
                    சரியான தெரிந்தெடுப்புகள் பிறக்கின்றன.”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/navbar.js" is:inline defer></script>
</html>
