---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="en">
  <head>
    <title>Touch the Power</title>
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width"
    /><meta property="title" content="Touch the Power" /><meta
      property="description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta
      property="keywords"
      content="Spiritual guidance, Life purpose, Problem-solving, Solutions, Divine exploration, Prayer requests, Personal growth, Spiritual discovery, Existential questions, Meaning of life"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" /><meta
      property="og:type"
      content="website"
    /><meta property="og:url" content="https://touchthepower.com" /><meta
      property="og:title"
      content="Touch the Power"
    /><meta
      property="og:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:url" content="https://touchthepower.com" /><meta
      property="twitter:title"
      content="Touch the Power"
    /><meta
      property="twitter:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:image" content="/assets/home/bg-image.jpg" /><meta
      property="twitter:card"
      content="summary_large_image"
    /><meta property="robots" content="/robots.txt" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style><link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    /></head
  >

  <body class="">
    <div>
      <div class="border-b-2 border-[#045a94]">
        <Header />
      </div>
      <div class="mx-40 p-10">
        <div class="flex">
          <ProblemsLink />
          <div class="px-7 w-5/6">
            <div class="text-left text-[#a9a9a9]">
              Why Problem / Wrong Priorities
            </div>

            <h1
              class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
            >
            <br />தவறான முன்னுரிமைகள்<br />முன்னுரிமைகள்
              என்றால் என்ன ?
            </h1>

            <p class="mb-4">
              முன்னுரிமைகள் மனிதனின் உறவுகளின் அடிப்படையில்தான் சுழல்கின்றது.
              எனவே அவன் உறவுகளை முன்னிலைப்படுத்துவதில் தன் உரிமையை சரியாக
              பயன்படுத்த வேண்டும். மனிதனுக்கு கடவுள் முழு சுதந்திரம்
              கொடுத்திருக்கிறார். மனிதனை ஒரு இயந்திரம் போல (Robot) கடவுள்
              படைக்கவில்லை. எனவே மனிதன் தன் உரிமைகளை சரியாக பயன்படுத்த
              தவறக்கூடாது. எந்த உறவுக்கு முதல் இடம் கொடுக்க வேண்டும், எதற்கு
              இரண்டாவது இடம் என்று உறவுகளின் அடிப்படையில் சரியான தீர்மானம் செய்ய
              வேண்டும்.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              முன்னுரிமைகளின் வரிசை:
            </h3>
            <ul class="list-disc list-inside space-y-2 mb-6">
              <li>மனிதனும் கடவுளும் (Man vs God)</li>
              <li>மனிதனும் குடும்பமும் (Man vs Family)</li>
              <li>மனிதனும் அவனது வேலையும் (Man vs his Career)</li>
              <li>
                மனிதனும் அவனது ஆன்மிக பொறுப்புகளும் (Man & his Ministries)
              </li>
              <li>
                மனிதனும் அவனது வழிபாடு ஸ்தலம் மற்றும் இதர நட்புகளுடன் உறவு (Man
                and his Church / Temple / Mosque etc)
              </li>
              <li>மனிதனும் அவனது நண்பர்களும் (Man and his Friends)</li>
              <li>மனிதனும் சமுதாயமும் (Man and his Society)</li>
            </ul>
            <p class="mb-4">
              இந்த வரிசையை சில நேரங்களில் அவசர காலத்தின் அடிப்படையில் சற்று
              மாற்றி அமைக்கலாம் (during emergencies). ஆனால் அன்றாடக் வாழ்க்கை
              முறையில் இந்த வரிசைக் கிரமத்தைத் பயன்படுத்தினால் பிரச்சினைகளுக்கு
              தப்பிக் கொள்ள வாய்ப்புண்டு.
            </p>
            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              1. முதலாவது மனிதனும் கடவுளும்:
            </h3>
            <p class="mb-4">
              கடவுள் - படைப்பாளர், மனிதன் - படைப்பு. இந்த உறவுக்குத்தான்
              முன்னுரிமையில் முதல் இடம் கொடுத்துப் பழக வேண்டும். அதாவது ஒவ்வொரு
              மனிதனும் இறை தேடல் செய்ய வேண்டும் (Seeking God). இது ஒரு
              தனிமனிதனின் உரிமை மட்டுமல்லாமல் - தலையாய உறவு. அதுவும் தனிப்பட்ட
              உறவை ஒவ்வொரு மனிதனும் வளர்க்க வேண்டும் (personal relationship with
              God).
            </p>
            <p class="mb-4">
              கடவுளை தேடிக் கொண்டே வாழ்வைக் முடிக்க கூடாது. உண்மையான தேடல்
              ஒவ்வொரு தனி மனிதனையும் உண்மையான கடவுளைக் கண்டடைய வைக்கும். ஏனெனில்
              கடவுளைத் தேடும் மனிதன் கடவுளால் கண்டுபிடிக்கப்படுகிறான்.
            </p>
            <p class="mb-4">
              ஒவ்வொரு குழந்தை இவ்வுலகில் பிறக்கும் போது அதன் ஆத்துமா (Soul)
              இருளில்தான் இருக்கிறது. ஏனெனில் முதல் மனிதன் ஆதாமின் பாவம்
              இரத்தத்தில் கலந்ததினால் எல்லா சந்ததிகளும் கறைபட்டு விடுகின்றது.
              கடவுள் மனிதனைப் படைத்த போது அவனுக்கு தேவனின் சாயலை கொடுத்தார்.
              ஆனால் அவனுக்குப் பிறகு சந்ததிகளோ, தங்கள் தவறான தீர்மானங்களின்
              பாவத்தினால் கறைபடுத்திவிட்டார்கள். எனவே மனிதனின் இருதயம்
              இருளடைந்துவிட்டது.
            </p>
            <p class="mb-4">
              கடவுள் மனிதனை படைத்ததற்காக மனம் வருந்தினார் என்கிறது பரிசுத்த
              வேதாகமம். ஆனால் கடவுள் அன்புள்ளவர். தான் படைத்த மனிதனை தேடி வந்து,
              அவனுக்காக பாவபலியாக சிலுவையில் தன் இரத்தத்தை சிந்தி அவனை மீட்க
              திட்டம் செய்தார்.
            </p>
            <p class="mb-4">
              எனவே மனிதனும் தன்னை தேடி வந்த தேவனை அறிய முற்பட வேண்டும், அறிந்து
              கொள்ள வேண்டும். பின்பு அவரோடு உறவு வைப்பதை முன்னிலைப்படுத்தி,
              அதற்கு முன்னுரிமை கொடுக்க வேண்டும். ஒவ்வொரு மனிதனும் தன்னைப்
              படைத்த கடவுளுக்கு தன் வாழ்வில் முன்னுரிமை கொடுக்கும் போது மட்டுமே
              அவனது அறிவுக் கண்கள் திறக்கும். ஞானம் (Wisdom) ஆரம்பம் ஆகும்.
              ஞானத்தின் ஊற்று கடவுள் மட்டுமே.
            </p>
            <p class="mb-4">
              அந்த ஊற்று மனிதனின் இருதயங்களில் புறப்பட்டு பாய வேண்டுமானால்
              ஒவ்வொரு தனிமனிதனும் கடவுளுக்கு தன் வாழ்வில் முன்னுரிமை கொடுக்கப்
              பழக வேண்டும். மனிதன் தேவனுடன் பேசுவதே ஜெபம் (Prayer). தேவன்
              மனிதனுடன் பேசுவதே வேத புத்தகம் (The Holy Bible).
            </p>
            <p class="mb-4">
              தேவன் இறந்த காலத்தில் உள்ள மனிதர்களுடன் எவ்வாறு செயல்பட்டாரோ,
              அவ்வாறே நிகழ்காலத்திலும், வருங்காலத்திலும் தனது திட்டத்தின்படியே
              செயல்படுத்துவார். எனவே மனிதன் கடவுளுடன் வைக்கும் உறவை
              முன்னிலைப்படுத்தும்போது மட்டுமே அவனது முன்னுரிமைகளின் வரிசை சரியாக
              அமையும்.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              2. இரண்டாவது - மனிதனும் அவனது குடும்பமும்:
            </h3>
            <p class="mb-4">
              இன்றைய 21ம் நூற்றாண்டில் இந்த முன்னுரிமை சீராக செயல்படுகிறதா
              என்பதை சிந்திக்க வேண்டிய தருணம் இது. குடும்பம் என்பது கடவுள்
              கொடுத்த ஒரு பரிசு. அந்த பரிசை நாம் எவ்வாறு பராமரிக்கிறோம் என்பதே
              முக்கியம்.
            </p>
            <p class="mb-4">
              குடும்பத்தில் ஒவ்வொருவருக்கும் கடமைகளும், பொறுப்புகளும் உள்ளன.
              கணவன் குடும்பத்தின் தலைவன். அவன் மனைவியையும் பிள்ளைகளையும்
              பாதுகாக்க, வழி நடத்த கடவுள் ஒப்படைத்துள்ளார். மனைவி குடும்ப
              பராமரிப்பில் முக்கிய பங்கு வகிக்கிறாள். பிள்ளைகள் பெற்றோரின்
              கீழ்ப்படியும் ஆளாக இருக்க வேண்டும்.
            </p>
            <p class="mb-4">
              இன்றைய சூழலில் பணம் சம்பாதிப்பது முக்கியமானதாகிவிட்டதால் பெற்றோர்
              பிள்ளைகளுக்கு நேரம் ஒதுக்குவதில்லை. இதனால் பிள்ளைகள் அன்பும்
              கட்டுப்பாடும் இல்லாமல் வளர்ந்து, சமுதாயத்துக்கு ஆபத்தானவர்களாக
              மாறுகிறார்கள்.
            </p>
            <p class="mb-4">
              எனவே குடும்ப உறவுகளில் உண்மை அன்பு, பொறுப்பு உணர்வு, நேர ஒதுக்கல்
              போன்றவை முக்கியமாக இருக்க வேண்டும். வேலை, பணம், சமூக அந்தஸ்து
              என்பதைவிட குடும்ப உறவுகள் மேலானவை என்பதை உணர வேண்டும்.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              3. மனிதனும் அவனது வேலை/சேவை:
            </h3>
            <p class="mb-4">
              மனிதனுக்கு கடவுள் ஒரு வேலைக்குத் திறமையை கொடுத்துள்ளார். அந்த வேலை
              வாயிலாகவே மனிதன் தன்னையும், குடும்பத்தையும், சமுதாயத்தையும்
              கட்டமைக்கிறார்.
            </p>
            <p class="mb-4">
              வேலைக்கு முன்னுரிமை கொடுக்க வேண்டும். ஆனால் அது கடவுளுக்கும்
              குடும்பத்திற்கும் மேல் போகக்கூடாது. வேலை செய்வதில் சீரும்,
              நேர்த்தியும் இருக்க வேண்டும்.
            </p>
            <p class="mb-4">
              வேலையை ஒழுங்காக செய்யாமல் சோம்பேறி போல் நடந்துகொள்வது பாவம்.
              மற்றவர்கள் வேலைக்கே புறக்கணிப்பு செய்யும் போது, விசுவாசியான மனிதன்
              நேர்மையுடன் வேலை செய்ய வேண்டும்.
            </p>
            <p class="mb-4">
              வேலை செய்யும் இடத்திலும் நல்ல உறவுகள், நேர்மை, கருணை, பொறுப்பு
              உணர்வு ஆகியவை காணப்பட வேண்டும். அப்போதுதான் நாம் வேலை வாயிலாக
              தேவனை மகிழ்விக்கிறோம்.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              4. மனிதனும் அவனது சமூக உறவுகள்:
            </h3>
            <p class="mb-4">
              ஒரு மனிதன் தனக்கே வாழ முடியாது. அவன் பிறருடன் உறவுகள் வைத்திருக்க
              வேண்டும். நண்பர்கள், உறவினர்கள், பக்கத்தினர் போன்ற சமூக உறவுகள்
              வாழ்க்கையில் முக்கியம்.
            </p>
            <p class="mb-4">
              இந்த உறவுகளில் உண்மை அன்பு, மரியாதை, நேர்மை போன்றவை இருக்க
              வேண்டும். ஒருவரை ஒருவர் உயர்த்தும் எண்ணம் இருக்க வேண்டும்.
              பிறருக்கு உதவிசெய்வது, அவர்களை ஆசீர்வதிப்பது நம் பொறுப்பு.
            </p>
            <p class="mb-4">
              பழி வாங்கும் மனப்பான்மை, பொறாமை, நெருக்கடியான போட்டி, அவதூறு
              பேசுதல் போன்றவை சமூக உறவுகளை அழிக்கின்றன. இவை ஒரு விசுவாசியான
              வாழ்க்கைக்கு பொருந்தாதவை.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              5. மனிதனும் அவனது சுய ஆரோக்கியம்:
            </h3>
            <p class="mb-4">
              மனிதன் தனது உடலையும் மனதையும் பராமரிக்க வேண்டும். ஏனெனில் கடவுள்
              நமக்கு கொடுத்த இந்த உடல் ஒரு ஆலயமாகும். அதை தூய்மையாக வைத்திருக்க
              கடமையுள்ளோம்.
            </p>
            <p class="mb-4">
              உடல் ஆரோக்கியம் முக்கியம். சரியான உணவு, தூக்கம், ஒழுங்கான
              உடற்பயிற்சி இவை தேவையானவை. மன ஆரோக்கியம் என்பதும் முக்கியமானது.
              அவசியமற்ற மன அழுத்தங்களை தவிர்க்க ஜெபம், தேவவசனப் பசியோடு வாழ
              வேண்டும்.
            </p>
            <p class="mb-4">
              நம் உடலை அலட்சியப்படுத்துவது, கடவுளின் பரிசை ஒதுக்குவது போன்றதே.
              எனவே ஆரோக்கியமான வாழ்க்கை முறையை முன்னிலைப்படுத்த வேண்டும்.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              6. மனிதனும் அவனது சுய வளர்ச்சி:
            </h3>
            <p class="mb-4">
              மனிதன் நாள்தோறும் வளர்ந்து வரவேண்டும். அறிவிலும், ஞானத்திலும்,
              திறமையிலும் அதிகரிக்க வேண்டும். தேவன் நமக்குக் கொடுத்த திறமைகளை
              வளர்க்க வேண்டும்.
            </p>
            <p class="mb-4">
              புதிய விஷயங்களை கற்றுக்கொள்வது, புத்தகங்களை வாசிப்பது,
              பயிற்சிகளில் கலந்து கொள்வது போன்றவற்றின் மூலம் நாம் வளர வேண்டும்.
              ஒரே இடத்தில் நிற்காமல் முன்னேறி செல்லவேண்டும்.
            </p>
            <p class="mb-4">
              மற்றவர்களை உயர்த்தும் அளவிற்கு நாம் வளரவேண்டும். சுய வளர்ச்சி
              தேவனை மகிழ்விக்கும் ஒரு செயலாகும்.
            </p>

            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              7. மனிதனும் அவனது பொழுதுபோக்கு/இனிமையான நேரங்கள்:
            </h3>
            <p class="mb-4">
              ஒரு விசுவாசியான வாழ்க்கையில் இன்பமான தருணங்களும், பொழுதுபோக்கும்
              இருக்கலாம். ஆனால் அவை எல்லாம் சரியான அளவிலும், கட்டுப்பாட்டிலும்
              இருக்க வேண்டும்.
            </p>
            <p class="mb-4">
              இன்றைய உலகில் பொழுதுபோக்கு என்ற பெயரில் மக்கள் பாவ வாழ்க்கைக்குள்
              இழுக்கப்படுகிறார்கள். சினிமா, சீரியல், ஸ்மார்ட்போன், சமூக ஊடகம்
              போன்றவை தேவையான அளவிற்கு மட்டுமே பயன்படுத்தப்பட வேண்டும்.
            </p>
            <p class="mb-4">
              நம்முடைய இன்பங்களும், பொழுதுபோக்கும் கடவுளின் விருப்பத்திற்கேற்ப
              இருக்கவேண்டும். தேவன் நமக்கு கொடுத்த நேரத்தை நாமே வீணாக்கக்
              கூடாது. பொழுதுபோக்கில் கூட நாம் தேவனை மகிழ்விக்கக்கூடியதாக இருக்க
              வேண்டும்.
            </p>
            <h3 class="text-xl font-semibold text-[#108bf7] mb-2">
              தவறான முன்னுரிமைகளை தவிர்க்க சில ஆலோசனைகள்:
            </h3>

            <p class="mb-4">
              <strong>1. கணவன், மனைவி ஒன்றுபட்டு செய்யப்படுதல்:</strong><br />
              ஒரு குடும்பத்தில் முன்னுரிமைகளை சரியாக அமையச் செய்ய வேண்டும் என்றால்
              கணவன் மனைவி ஒருமனதாக ஒரே நோக்கத்துடன் செயல்பட வேண்டும். ஒருவரின் சுமையை
              மற்றவர் ஏற்று செல்லும் ஒருமித்த ஆவியோடு வாழ்வதே முன்னுரிமைகளை ஒழுங்காக
              அமைக்கும் அடிப்படை.
            </p>

            <p class="mb-4">
              <strong>2. சரியான முன்னுரிமைகளை அறிய முற்படுத்தல்:</strong><br />
              ஒவ்வொரு சந்தர்ப்பத்திலும் அவசர மற்றும் முக்கியமான காரியங்களை பிரித்தறிந்து
              செயல்பட வேண்டும். எல்லா விஷயங்களும் அவசரமாகத் தோன்றினாலும், எல்லாம்
              முக்கியம் இல்லை. தவறான சூழ்நிலையில் தவறான முடிவெடுப்பதை தவிர்க்க இத்தகைய
              தன்னுணர்வு அவசியம்.
            </p>

            <p class="mb-4">
              <strong
                >3. முக்கியம் & அவசியம் என்ன என்பதை தெளிவாக தீர்மானித்தல்:</strong
              ><br />
              எது மிகவும் முக்கியம் என்பதை முதலில் தீர்மானிக்க வேண்டும். முக்கியத்துவம்
              வாய்ந்த காரியங்களை முதலில் முடிப்பதால், நாம் அவசியம் என்ற எண்ணத்தில்
              தவறான காரியங்களை முன்னிலைப்படுத்தும் அபாயத்திலிருந்து தப்பிக்க முடியும்.
            </p>

            <p class="mb-4">
              <strong
                >4. சௌகரியத்தைக் காட்டிலும் முன்னுரிமைக்கு முக்கியத்துவம்
                கொடுப்பது:</strong
              ><br />
              நம்மை சௌகரியமாக வைத்துக்கொள்ளும் சில காரியங்கள், தேவையானவை என்றாலும்,
              அவை வாழ்க்கையின் முக்கிய காரியங்களை தடுக்கக்கூடும். எனவே சௌகரியத்தை
              விட்டும் முன்னுரிமையை முன்னிலைப்படுத்த பழக வேண்டும்.
            </p>

            <p class="mb-4">
              <strong
                >5. உடல் நலத்திற்கு முன்னுரிமை கொடுப்பதை சுயநலமாக எண்ணாதீர்கள்:</strong
              ><br />
              உடல் நல்ல நிலையில் இருந்தால்தான் அனைத்து பொறுப்புகளையும் நன்கு செய்ய
              முடியும். “சுவர் இருந்தால்தான் சித்திரம்” என்பது உண்மையான நீதிமொழி.
              உடலை பராமரிப்பது கடவுள் கொடுத்த பொறுப்புகளில் ஒன்றாகும்.
            </p>

            <p class="mb-4">
              <strong>6. நேரத்திற்கேற்ப முன்னுரிமையை அமைக்கும் பயிற்சி:</strong
              ><br />
              சரியான நேரத்தில் சரியான முடிவுகளை எடுப்பதன் மூலம் நாம் நேரத்தின் அருமையை
              உணர்வதுடன், நேரத்தை நன்றாகப் பயன்படுத்தும் திறனும் கிடைக்கும். ஒவ்வொரு
              நாளையும் திட்டமிட்டு வாழ்வது, தவறான முன்னுரிமைகளை தவிர்க்க உதவும்.
            </p>

            <p class="mb-4">
              <strong>7. எல்லா நேரங்களிலும் கடவுளின் உதவியைத் தேடுதல்:</strong
              ><br />
              நாம் எந்த முன்னுரிமையை அமைக்க வேண்டும் என்று தெளிவாகத் தெரியாத சந்தர்ப்பங்களில்
              கடவுளிடம் மனதார ஆலோசனை கேட்கும் பழக்கத்தை வளர்த்துக் கொள்ள வேண்டும்.
              அதுவே நாம் அமைதியாகவும் மகிழ்ச்சியாகவும் வாழும் பாதையை காட்டும்.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/js/navbar.js" is:inline defer></script>
