---
import Card from "./who-god-card.astro";
---

<div id="god" class="bg-[#f1f5f8] py-10">
  <div class="mt-6 mb-2 text-[#045a94] text-center text-3xl font-bold">
    Who is God?
  </div>

  <div class="flex justify-center">
    <div class="text-center mb-6 border-[3px] rounded-md w-20 border-[#045a94]">
    </div>
  </div>
  <Card />
</div>
