---
import Problems from "../components/problems/problems.astro";
import Solutions from "../components/solutions/solutions.astro";
import Destination from "../components/destination/destination.astro";
import WhoGod from "../components/who-god/who-god.astro";
import Home from "../components/home/home.astro";
import ReactPrayerRequest from "../components/prayer-request/prayer-request.tsx";
import Layout from "../layout/layout.astro";
---

<html lang="en">
  <head>
    <title>Touch the Power</title>
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width"
    /><meta property="title" content="Touch the Power" /><meta
      property="description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta
      property="keywords"
      content="Spiritual guidance, Life purpose, Problem-solving, Solutions, Divine exploration, Prayer requests, Personal growth, Spiritual discovery, Existential questions, Meaning of life"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" /><meta
      property="og:type"
      content="website"
    /><meta property="og:url" content="https://touchthepower.com" /><meta
      property="og:title"
      content="Touch the Power"
    /><meta
      property="og:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:url" content="https://touchthepower.com" /><meta
      property="twitter:title"
      content="Touch the Power"
    /><meta
      property="twitter:description"
      content="Unlock profound insights on life's purpose at Touch the Power. Explore solutions, ponder the divine, and submit prayer requests for spiritual growth."
    /><meta property="twitter:image" content="/assets/home/bg-image.jpg" /><meta
      property="twitter:card"
      content="summary_large_image"
    /><meta property="robots" content="/robots.txt" />
  </head><body>
    <Layout>
      <Home />
      <Problems />
      <Solutions />
      <Destination />
      <WhoGod />
      <ReactPrayerRequest client:load />
    </Layout>
  </body>
</html>
