---
import Problems from "../components/problems/problems.astro";
import Solutions from "../components/solutions/solutions.astro";
import Destination from "../components/destination/destination.astro";
import WhoGod from "../components/who-god/who-god.astro";
import Home from "../components/home/home.astro";
import ReactPrayerRequest from "../components/prayer-request/prayer-request.tsx";
import Layout from "../layout/layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Touch the Power</title>
  </head>
  <body>
    <Layout>
      <Home />
      <Problems />
      <Solutions />
      <Destination />
      <WhoGod />
      <ReactPrayerRequest client:load />
    </Layout>
  </body>
</html>
