---
import Problems from "../components/problems/problems.astro";
import Layout from "../layout/layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Touch the Power</title>
  </head>
  <body>
    <Layout>
      <Problems />
    </Layout>
  </body>
</html>
