---

---

<div id="homeBanner">
  <div class="bg-[#338abf] text-white w-full">
    <div class="md:flex justify-center items-center p-5">
      <div class="md:w-1/2 md:px-16 md:py-10">
        <div class="flex flex-col justify-center gap-5">
          <img class="md:w-[33rem] pr-5" src="/assets/home/title.png" />
          <div class="border-b-[1px] w-full"></div>
          <div class="text-[1.4rem]">
            <div class="my-4 font-medium">To make the life changing power of God</div>
            <div>Understandable and accessible to all.</div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 mt-5">
        <!--poster="/assets/home/video-banner.jpeg" -->
        <video width="640" class="rounded-lg" height="360" controls>
          <source src="/assets/home/video.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <div class="my-10">
    <div class="text-center great-vibes-regular text-[3rem]">
      " Power belong to God "...
    </div>
    <div
      class="flex text-[1.5rem] justify-center ml-[10rem] my-4 great-vibes-regular"
    >
     - Psalm 62:11
    </div>
    <div class="text-xl text-center roboto-regular">
      <div class="my-4">
        The divine power that helps suffering, helpness persons to move towards
      </div>
      <div>the source of Power to empowered and win life's problems</div>
    </div>
  </div>
</div>
<style>
  .great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
</style>
