---
const solutions: any = [
  {
    title: "உறவுகளில் பிரச்சனைகள்",
    content:
      "உறவுகள் ஆரம்பிக்கும் இடம் குடும்பம். கணவனும், மனைவியுமே குடும்பத்தின் முதல் அங்கத்தினர்கள்.",
    imgUrl: "/assets/solutions/prob-relation.png",
  },
  {
    title: "சரீர ஆரோக்கியம் குறித்த பிரச்சனைகள்",
    content:
      "இன்றைய சூழலில் சரீர சுகம் என்பது வயதின் அடிப்படையில் நிர்மாணிக்க முடியாததாகக் காணப்படுகிறது.",
    imgUrl: "/assets/solutions/prob-health.png",
  },
  {
    title: "பொருளாதார பிரச்சனைகள்",
    content:
      "ஒவ்வொரு தனி மனிதனின் பொருளாதாரப் பிரச்சனைக்கும் அநேக அடிப்படை காரணங்கள் உண்டு.",
    imgUrl: "/assets/solutions/prob-finance.png",
  },
  {
    title: "சமுதாயப் பிரச்சனைகள்",
    content:
      "தேவன் ஆதியிலே வானத்தையும், பூமியையும் படைத்தார். படைத்த அனைத்தையும் ‘நல்லது’ என்று கண்டார்",
    imgUrl: "/assets/solutions/social-prob.png",
  },
  {
    title: "இயற்கை சீற்றங்களால் மனிதன் சந்திக்கும் சேதங்கள்",
    content: "சீராக சென்று கொண்டிருக்கும் மனிதவாழ்வு தடம் புரண்டு விடுதல்",
    imgUrl: "/assets/solutions/prob-relation.png",
  },

  {
    title: "மனுக்குலமே! இந்த காலகட்டத்தில் நீ என்ன செய்ய வேண்டும்?",
    content:
      "கடவுள் யார் என்கிற தேடல் மட்டுமே மனுக்குலத்தின் தீவிர வேட்கையாகவும், வாக்கு வாதமாகவும் உள்ள இக்காலகட்டத்தில் கடவுள் யார்?",
    imgUrl: "/assets/solutions/prob-relation.png",
  },

  {
    title: "பூமியில் மனிதர்களின் தோற்றம் மற்றும் வாழ்க்கை",
    content:
      "தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும் என்று திட்டம் (Plan) பண்ணினார்",
    imgUrl: "/assets/solutions/prob-relation.png",
  },
  ``,
];
---

<div class="xl:mx-[15rem]">
  <div class="flex flex-wrap gap-8 justify-center items-center">
    {
      solutions
      .filter(solution => solution && solution.title && solution.content)
      .map((solution, index) => (
        <>
          <div
            class="card px-4 w-full md:flex gap-16"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <img
              src={solution?.imgUrl}
              alt="blog-image"
              class=" w-full md:w-56 md:h-auto object-fill rounded-lg"
            />
            <div>
              <div class="mt-2 text-[#108bf7] text-base my-2 font-bold">
                {solution?.title}
              </div>
              <div class="text-sm font-medium">{solution.content}</div>
              <a
                href={`/solutions/${index + 1}`}
                class="text-cyan-600 font-bold pl-[.4em]"
              >
                <button class="  mt-4  px-4 py-1 border border-[#108bf7] text-[#108bf7] text-sm rounded-sm">
                  Read more
                </button>
              </a>
            </div>
          </div>
          <div class="border mx-7  w-full border-gray-300" />
        </>
      ))
    }
  </div>
</div>
