---

---

<div class="text-white bg-[#1c3957] w-full">
  <div class="md:ml-40 p-10">
    <div
      class="flex items-center gap-16"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="great-vibes-regular text-3xl">Touch the Power</div>
      <div class="md:flex flex-col md:flex-row gap-10">
        <a href=" #homeBanner">
          <div>Home</div>
        </a>
        <a href="/#problems">
          <div>Why Problems</div>
        </a>
        <a href="/#solutions">
          <div>Solutions</div>
        </a>
        <a href="#god">
          <div>Who is God</div>
        </a>
        <a href="/#destination">
          <div>Destination of Human</div>
        </a>
        <a href="/#prayer">
          <div>Prayer Request</div>
        </a>
      </div>
    </div>
    <div class="mt-16 text-xs" >
      <div >Copyright © 2024 Touch of Power | All Rights Reserved</div>
    </div>
  </div>

  <style>
    .great-vibes-regular {
      font-family: "Great Vibes", cursive;
      font-weight: 300;
      font-style: normal;
    }
  </style>
</div>
