---
const destinations: any = [
  {
    title: " சமுதாயப் பிரச்சனைகள்",
    content:
      "தேவன் ஆதியிலே வானத்தையும், பூமியையும் படைத்தார். படைத்த அனைத்தையும் ‘நல்லது’ என்று கண்டார். தான் படைத்த முதல் ஆணையும், பெண்ணையும்,",
    imgUrl: "/assets/destination/dest-human.png",
    index: 6,
  },
  {
    title: " இயற்கை சீற்றங்களால் மனிதன் சந்திக்கும் சேதங்கள்:",
    content:
      " சீராக சென்று கொண்டிருக்கும் மனிதவாழ்வு தடம் புரண்டு விடுதல். வீடுகளை இழத்தல் உடமைகள், சுகம், குடும்ப உறவுகள் கூட உடைந்து விடும். தனிமை!",
    imgUrl: "/assets/destination/place.png",
    index: 7,
  },
  {
    title: "        மனுக்குலமே! இந்த காலகட்டத்தில் நீ என்ன செய்ய வேண்டும்?",
    content:
      " கடவுள் யார் என்கிற தேடல் மட்டுமே மனுக்குலத்தின் தீவிர வேட்கையாகவும், வாக்கு வாதமாகவும் உள்ள இக்காலகட்டத்தில் கடவுள் யார்? அவரது குணாதிசயங்கள், ",
    imgUrl: "/assets/destination/plan.png",
    index: 8,
  },
  {
    title: "தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும்",
    content:
      "தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும் என்று திட்டம் (Plan) பண்ணினார். அவனை வைப்பதற்காக ஒரு இடத்தை (Place) ஆயத்தம் பண்ண விரும்பினார்.",
    imgUrl: "/assets/destination/purpose.png",
    index: 9,
  },
];
---

<div class="dropdown-content md:mx-20">
  <div class="flex flex-wrap md:gap-8 justify-center items-center">
    {
      destinations.map((destination) => (
        <div
          class="card   p-4 w-[15rem] text-white"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <img
            src={destination.imgUrl}
            alt="blog-image"
            class="w-full h-auto rounded-[46%]"
          />
          <div class="my-4  text-base font-medium text-center">
            {destination.title}
          </div>
          <div class="text-sm ">{destination.content}</div>
          <div class="flex justify-center items-center">
            <a
              href={`/solutions/${destination.index}`}
              class="text-cyan-600 font-bold pl-[.4em]"
            >
              <button class="  mt-4  px-4 py-1 text-[#0b89f7] bg-white font-semibold text-sm rounded-sm">
                Read more
              </button>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
