---
import Card from "./destination-card.astro";
---

<div class="bg-[#1592e6] py-10">
  <div class="mt-6 mb-2 text-white text-center text-3xl font-medium">
    Origin and ultimate
  </div>
  <div class=" mb-2 text-white text-center text-3xl font-medium">
    Destination of human beings
  </div>
  <div class="flex justify-center">
    <div class="text-center mb-6 border-[3px] mt-2 rounded-md w-24 border-white">
    </div>
  </div>
  <Card />
</div>
