---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>எஜமான்களைத் தெரிந்தெடுத்தல்</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
        எஜமான்களைத் தெரிந்தெடுத்தல்
      </h1>
      <p class="mb-4 font-semibold" style="white-space: pre-line">
நாம் யாரால் control பண்ணப்படுகிறோம்; அல்லது நம்மை உந்தித் தள்ளும் சக்தி எது என்று (The driving force that controls us) அர்த்தம்.  
உதாரணமாக: சிலருக்கு பணம் அவர்களது எஜமானன். பணம் சம்பாதிப்பதே அவர்கள் குறியாக இருக்கும். அதுதான் அவர்களது முதல் தெரிந்தெடுப்பாக இருக்கும்.  (But money must be our servant and not the master). ஆனால் பணம் நமது எஜமானாக நம்மை ஆளுகை செய்வதற்கென்று கொடுக்கப்படவில்லை. அது நமது வேலையாளாக நமக்கு பிரயோஜனப்படுவதற்கென்று கொடுக்கப்பட்ட பொருள் ஆகும். சிலருக்கு அவர்களது வேலை எஜமான் போல செயல்பட்டு, அவர்கள் எப்போதும் பெருமையாக நான் ஒரு Workaholic நான் வேலைக்கு அடிமை என்பார்கள். சிலருக்கு அவர்களது அழகு, படிப்பு, பெருமை, அந்தஸ்து, குலப்பெருமை என்று ஒவ்வொன்றையும் தங்கள் எஜமான்களைப் போல் பாவித்து அதற்கு அடிமைகளாக வாழ்கிறார்கள். அநேகருக்கு உலகமும், அதிலிருந்து தோன்றிய கண்களின் இச்சை, மாம்சத்தின் இச்சை, ஜீவனத்தின் பெருமை ஆகியவை எஜமான்களாக செயல்பட்டு, அநேகரின் வாழ்வை சீரழித்துக் கொண்டிருக்கிறது. 
மேலும் சிலருக்கு ஒன்றுக்கு மேல் எஜமான்கள் உண்டு. ஆனால் இரண்டு எஜமான்களுக்கு ஊழியம் செய்வது என்பது கூடாத காரியம். ஒருவனை சிநேகித்து மற்றவனை பகைப்பான். அல்லது ஒருவனைப் பற்றிக் கொண்டு மற்றவனை அசட்டை பண்ணுவான்.
ஒருசிலருக்கு ‘கவலை’ அவர்களது எஜமானைப் போல் செயல்பட்டு, என்னத்தை உண்போம், என்னத்தைக் குடிப்போம், எங்கு வசிப்போம் என்று எப்பொழுதும் நாளைக்காகவே கவலைப்பட்டு அதனாலேயே உந்தப்பட்டு, கவலைக்கு அடிமைகளாகி விடுவார்கள். இவ்வாறாக தவறான எஜமான்களையோ, அல்லது ஒன்றுக்கு மேல் எஜமான்களையோ உங்களை உந்தித் தள்ளும் சக்தியாக எண்ணுவீர்களானால் வாழ்க்கை வெகு சீக்கிரத்தில் தடம் புரண்டு விடும்.
சரியான எஜமான் யார்?    
மனுக்குலத்திற்கு சரியான எஜமான், அல்லது மனுக்குலம் தெரிந்தெடுக்க வேண்டிய எஜமான், மனிதனைப் படைத்த கடவுள் மட்டுமே. கடவுள் இல்லை என்று சொல்லும் நாத்திகன் கூட, தன் வாழ்வின் கஷ்ட நாட்களில், வியாதிகளினால் மடியும் வேளைகளில் ஓ! என் கடவுளே! என்று அலறுவது உண்டு. ஆனால் காலம் பிந்தி பதறுவதைத் தவிர்த்து, வாழ்வின் துவக்கத்திலேயே, வாலிப வயதிலேயே நம்மைப் படைத்த கடவுளை நினைப்பதும், அவரையே நாம் வாழ்வின்; வழிகாட்டியாகவும், நம்மை உந்தித்தள்ளும் எஜமானாகவும் தெரிந்தெடுத்து விட்டால் வாழ்வின் எல்லா பிரச்சனைகளிலும், எஜமானாக மட்டுமல்ல, நம் வேலையாளாகவும், நம் படைப்பாளராகிய கடவுள் செயல்படுவார் என்பதில் சிறிதளவும் சந்தேகமில்லை. பரிசுத்த வேதாகமம் சொல்வதை சற்று கவனித்துக் கேளுங்கள்.
“முதலாவது தேவனுடைய ராஜ்யத்தையும், அவருடைய நீதியையும் தேடுங்கள்! அப்பொழுது இவைகளெல்லாம் உங்களுக்குக் கூடக் கொடுக்கப்படும்” என்று இறைமகன் இயேசு கூறுகிறார். மத்தேயு 6:33 – (பரிசுத்த வேதாகமம்) எவைகளெல்லாம் கூடக் கிடைக்கும்? இந்த உலகில் நம் வாழ்வுக்குத் தேவையான யாவும் கொடுக்கப்படும். கூடக் கொடுக்கப்படும்.
சகலத்தையும் கொடுக்க வல்லைமையுள்ள எஜமான்: 
எந்த மனுஷனாலும், “உனக்கு நான் எல்லாவற்றையும் கொடுப்பேன்” என்று வாக்குறுதி கொடுக்க முடியாது. ஆனால் நம்மைப் படைத்த இறைவன் சொல்கிறார்;, “உனக்கு எல்லாவற்றையும் கொடுப்பேன்!” என்று. ஆனால், ஒரே ஒரு நிபந்தனை.  உன் முதலாவது தெரிந்தெடுப்பு - சரியான எஜமான் (The Right Master!)
முதலாவது இந்த எஜமான் உனக்கு கொடுப்பது:
சரியான சிந்தனை  Right Thinking!
சரியான மனசாட்சி Right Conscience!
சரியான இருதயம் Right Heart!
இருதயத்திலிருந்து தான் சிந்தனை பிறக்கும். சிந்தனை சரியாக இருந்தால்தான் மனச்சாட்சி செத்த கிரியைகளற சுத்திகரிக்கப்படும். எனவே ஒவ்வொரு தனிமனிதனின் வாழ்வும், வெற்றி வாழ்வாக மாற மேற்கூறிய மூன்று காரியங்களிலும் சமநிலையோடு கூடிய தெய்வ ஈடுபாடு தேவை. தெய்வத்தையே உன் எஜமானாகக் கொண்டால் உன் மனசாட்சி மாசற்றதாக மாறி உன் வாழ்வை சரியான பாதையிலே வழிநடத்தும் என்பதில் சிறிதளவும் சந்தேகமில்லை.
இறைவனே உன் எஜமானாகி விட்டால்  நீ அவரை, God (இறைவன்) என்று மட்டுமல்ல Lord (எஜமான்) என்றும் உரிமை கொண்டாடுவாய். அதினால் உனக்குக் கிடைக்கும் மாபெரும் சிலாக்கியம் என்ன என்று அறிந்து கொள். இறைவனின் பிரசன்னம் உனக்கு சொந்தமாகி விடும். (Presence of God). இறைவனின் பிரசன்னம் தரும் நன்மைகள் இதோ!
மனதைரியமும், நம்பிக்கையும் கிடைக்கும். (Courage & Confidence)
ஞானம், புத்தி, அறிவு இவையாவும் கிடைக்கும். (Wisdom, Understanding & Knowledge) 
சமாதானம் (Peace) கிடைக்கும். உன்னைச் சுற்றி அலைபாயும் பிரச்சனை இருந்தாலும் உன் எஜமானர் உன்னைப் பொறுப்பேற்றுக் கொள்வார். 
சந்தோஷம் (Joy): உலகத்தால் கொடுக்கக் கூடாத சந்தோஷம் உனக்குச் சொந்தமாகும்.  
மாம்சத்துக்குரியவனாக செயல்பட மாட்டாய்: மாம்சத்தின் இச்சை, கண்களின் இச்சை, ஜீவனத்தின் பெருமை இவைகளை நிச்சயமாக ஜெயிப்பாய். ஏனென்றால் உன் ஆண்டவர் உன் எஜமானாக செயல்பட்டு உன்னை ஆவிக்கேற்ற தீர்மானங்கள் எடுக்க உன்னை உந்தித் தள்ளுவார். 
ஆவிக்குரிய பெலனும், உத்வேகமும்: (Spiritual Strength & encouragement): கர்த்தருடைய பெலனால் உந்தப்பட்டு, கழுகுகளைப் போல புது பெலன் அடைவார்கள். ஓடினாலும் இளைப்படைய மாட்டார்கள். நடந்தாலும் சோர்ந்து போக மாட்டார்கள்.
தெய்வீக இளைப்பாறுதல்: பொல்லாதவர்கள் தரும் தொல்லைகள் மத்தியிலும் உன் எஜமானராகிய தேவன் தெய்வீக இளைப்பாறுதலைக் கற்றுத் தருவார். தடுமாற மாட்டாய்!
தேவனைப் பிரியப்படுத்தும் காரியங்களை நீ அறிந்து கொள்ள முடியும். உலகத்தையும், மனிதர்களையும் பிரியப்படுத்தாமல் உன் எஜமானையே பிரியப்படுத்தும் எண்ணங்கள் உன் மனதில் தோன்றுவதை நீ உணர்ந்து தேவனை மகிமைப்படுத்துவாய்.
அலைகளில் வழிகள் உண்டாவதை நீ காண்பாய்.  (Ways in Waves)
அசாதாரணமான தைரியம் கிடைக்கும்.  கோழைத்தனமாக எதையும் நீ உன் வாழ்வில் செய்ய மாட்டாய். நிதானமாக தைரியமான செயல்களை நீ தீர்மானிப்பது மட்டுமல்ல. அதை நடைமுறைப்படுத்துவாய்!
இப்போது சொல்லுங்கள்!
உங்கள் எஜமானர்; யார்? பணமா? படிப்பா? அழகா? அந்தஸ்தா? குலமா? ஊரா? உறவா? அல்லது உங்களைப் படைத்த இறைவனா? இன்றே தீர்மானம் செய்து செயல்படுங்கள். 
எஜமானின் அதிகாரமும், எஜமானின் கட்டளைகளும்:
கடவுள் நமக்கு எஜமானாகி விட்டால், அவரது கட்டளைகள் என்ன என்று நமக்குத் தெரிந்தால் மட்டுமே நாம் எஜமானனுக்கு கீழ்ப்படிதல் எப்படி என்று புரியும். கடவுள் மனிதனுக்குக் கொடுத்த முதல் சோதனை (test) அவனது கீழ்ப்படிதலுக்கு என்பது நாம் அறிந்த உண்மை. தேவன் விலக்கின கனியை அவன் புசிக்கலாம் என்று அவன் தேவனின் அதிகாரத்தை மீறினதே பாவமாயிற்று. எனவே, கடவுள் நமக்கு எஜமானாகி விட்டால் அவர் என்ன சொல்கிறார் என்று நமக்குத் தெரிய வேண்டும். 
மனிதனை தேவன் அவரது ஆளுகை;குள் கொண்டு வருவதே அவர் “எஜமான்” என்பதற்கு ஆதாரம் ஆகும்! எனவே தேவன் மனிதனுக்குக் கொடுத்த முதல் பத்து கட்டளைகளை அறிந்து கொள்ளுங்கள். மனிதன் மனிதனுக்குக் கொடுக்கும் கட்டளைகள், அவன் எஜமான் என்னும் அதிகாரத்தைக் காட்டவே! ஆனால் இறைவன் நமக்குக் கொடுக்கும் கட்டளைகள் அவர் எஜமான் என்னும் அதிகாரத்தைக் காட்டுவதற்கு அல்ல. அவரது அன்பை வெளிப்படுத்தவும், நாம் அவருடன் ஒரு உறவை ஏற்படுத்துவதற்குமேயன்றி வேறெந்த காரணமும் கிடையாது. 
உறவை ஏற்படுத்தும் எஜமானின் கட்டளைகள் இதோ மனிதன் கடவுளை எஜமானாக ஏற்றுக் கொள்ளும் போது அங்கு ஏற்படும் உறவே “பரலோக இராஜ்யத்தின் குடிமகன்” என்பது. 
ராஜா = கடவுள், ராஜ்யம் = பரலோக இராஜ்யம், மனிதன் = பரலோக இராஜ்யத்தின் குடிமகன்.
மனிதன் இந்த உலகத்தில், அதாவது உலகமாகிய இராஜ்யத்தில் வாழ்ந்தாலும், இறைவன் அவனுக்கு எஜமான் என்றால், அதாவது மனிதனாக வந்த இறைவன், இயேசு கிறிஸ்து அவனுக்கு எஜமான் என்றால் அவர் கொடுத்த கட்டளைகளை அவன் கண்டிப்பாக அறிந்திருக்க வேண்டும். 
இயேசுவாகிய தெய்வம் மனிதனாக மனு உரு ஏற்கும் முன் கொடுக்கப்பட்ட கட்டளைகள் பத்து கற்பனைகள் எனப்படும். அவைகளாவன.  
உன்னை அடிமைத்தன வீடாகிய எகிப்து தேசத்திலிருந்து புறப்படப் பண்ணின உன் தேவனாகிய கர்த்தர் நானே. என்னையன்றி உனக்கு வேறே தேவர்கள் உண்டாயிருக்க வேண்டாம். மேலே வானத்திலும், கீழே பூமியிலும், பூமியின் கீழ்த் தண்ணீரிலும் உண்டாயிருக்கிறவைகளுக்கு ஒப்பான ஒரு சொரூபத்தையாகிலும், நீ உனக்கு உண்டாக்க வேண்டாம். நீ அவைகளை நமஸ்கரிக்கவும், சேவிக்கவும் வேண்டாம். உன் தேவனாகிய கர்த்தராயிருக்கிற நான் எரிச்சலுள்ள தேவனாயிருந்து, என்னைப் பகைக்கிறவர்களைக் குறித்து பிதாக்களுடைய அக்கிரமத்தைப் பிள்ளைகளிடத்தில், மூன்றாம், நான்காம் தலைமுறை மட்டும் விசாரிக்கிறவராயிருக்கிறேன். என்னிடத்தில் அன்பு கூர்ந்து என் கற்பனைகளைக் கைக் கொள்ளுகிறவர்களுக்கோ ஆயிரம் தலைமுறை மட்டும் இரக்கம் செய்கிறவராயிருக்கிறேன்.
என் தேவனாகிய கர்த்தருடைய நாமத்தை வீணிலே வழங்காதிருப்பாயாக. கர்த்தர் தம்முடைய நாமத்தை வீணிலே வழங்குகிறவனைத் தண்டியாமல்  விடார்.
ஓய்வு நாளைப் பரிசுத்தமாய் ஆசரி;க்க நினைப்பாயாக. 
ஆறு நாளும் நீ வேலை செய்து உன் கிரியைகளையெல்லாம் நடப்பிப்பாயாக.
ஏழாம் நாளோ உன் தேவனாகிய கர்த்தருடைய ஓய்வு நாள். அதிலே நீயானாலும், உன் குமாரனானாலும், உன் குமாரத்தியானாலும், உன் வேலைக்காரனானாலும், உன் வேலைக்காரியானாலும், உன் மிருக ஜீவனானாலும், உன் வாசல்களில் இருக்கிற அந்நியனானாலும், யாதொரு வேலையும் செய்ய வேண்டாம். கர்த்தர் ஆறு நாளுக்குள்ளே வானத்தையும், பூமியையும், சமுத்திரத்தையும், அவைகளிலுள்ள எல்லாவற்றையும் உண்டாக்கி ஏழாம் நாளிலே ஓய்ந்திருந்தார். ஆகையால் கர்த்தர் ஓய்வுநாளை ஆசீர்வதித்து அதைப் பரிசுத்தமாக்கினார்.
உன் தேவனாகிய கர்த்தர் உனக்குக் கொடுக்கிற தேசத்திலே உன் நாட்கள் நீடித்திருப்பதற்கு உன் தகப்பனையும், உன் தாயையும் கனம் பண்ணுவாயாக.கொலை செய்யாதிருப்பாயாக. 
விபச்சாரம் செய்யாதிருப்பாயாக. 
களவு செய்யாதிருப்பாயாக. 
பிறனுக்கு விரோதமாகப் பொய் சாட்சி சொல்லாதிருப்பாயாக. 
பிறனுடைய  வீட்டை இச்சியாதிருப்பாயாக. பிறனுடைய  மனைவியையும், அவனுடைய வேலைக்காரனையும், அவனுடைய வேலைக்காரியையும், அவனுடைய எருதையும், அவனுடைய கழுதையையும்,   பின்னும் பிறனுக்குள்ள யாதொன்றையும் இச்சியாதிருப்பாயாக என்பவைகளே!  (யாத்திராகமம் 20:1 - 17 பரிசுத்த வேதாகமம்) 
பின்பு இறைவன் மனிதனாக மனுஉரு ஏற்று வந்தபோது, அவர் இதைச் சுருக்கி இரண்டு பெரும் கட்டளைகளாகக் கொடுத்தார்.
உன் தேவனாகிய கர்த்தரிடத்தில் உன் முழு இருதயத்தோடும், உன் முழு ஆத்துமாவோடும், உன் முழு பலத்தோடும், உன் முழு சிந்தனையோடும் அன்பு கூர்ந்து, 
உன்னிடத்தில் நீ அன்பு கூறுகிறது போல பிறனிடத்திலும் அன்பு கூறுவாயாக என்பதே அவ்விரு பெரிய கட்டளைகளும் ஆகும். லூக்கா 10:27 (பரிசுத்த வேதாகமம்)

அருமையானவர்களே!
இறைவனே உங்கள் எஜமான் என்றால் அன்பின் அடிப்படையில் இறைவனிடமும் உறவு கொள்ள வேண்டும். சக மனிதர்களிடமும் உறவு கொள்ள வேண்டும். அவ்வாறு செயல்படும் போது மட்டுமே நம் எஜமான் யார் என்று நாம் இந்த உலகிற்கு வெளிப்படுத்த முடியும். 
மனிதனாக வந்து மனிதனின் உள்ளத்தை சரியாக ஆளுகை செய்யும் எஜமானன் ஆண்டவராகிய இயேசு கிறிஸ்து மட்டுமே. 
அவரிடம் வாழ்வை ஒப்புக் கொடுத்து விட்டால், அவரது ஆளுகையில் தெய்வீக வழிநடத்துதல் நமக்கு கிடைக்கும் என்பதில் சிறிதளவும் சந்தேகம் இல்லை.
தெய்வீக வழிநடத்துதல் (Divine direction) வேண்டுமா? தேவாதி தேவனை உங்கள் எஜமானாக வைக்க பழகுங்கள். கடவுள் (God) மட்டுமல்ல, அவரே எஜமானர். ஆளுகை செய்யும் தேவன் (Lord).
My God is my Master!
என் தேவனே எனக்கு எஜமானர்!
LISTEN & OBEY!
அவர் சொல்வதைக் கவனி! கீழ்ப்படி! நீ யாருக்கும் ஒன்றுக்கும் பயப்படத் தேவையில்லை! ஏனெனில் உன் மூலமாக செயல்படுவது உன் எஜமானராகிய உன் தேவாதி தேவன்!
நீ செய்ய வேண்டியது:; கவனித்து கீழ்ப்படிய வேண்டும்!
      </p>
    </main>
  </body>
</html>
