---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>வாழ்வின் பிரச்சனைகள்</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
       வாழ்வின் பிரச்சனைகள்
      </h1>
      <p class="mb-4 font-semibold" style="white-space: pre-line">
வாழ்வின் பிரச்சனைகள்
வாழ்க்கை என்பது ஒரு மலர்ப் படுக்கை அல்ல. அதே நேரத்தில் ஒரு கடும் புயலும் அல்ல. வாழ்வி ல் இன்பமும், துன்பமும் வருவதைப் பகலும், இரவும் வருவதற்கும், மழையும், வெயிலும் வருதற்கும் ஒப்பிடலாம். அதாவது எல்லாவற்றிற்கும் ஒரு காலம் உண்டு. வாழ்வைப் புரிந்து கொள்ள வேண்டுமென்றால் மனிதனுக்கு வாழ்வு கொடுத்த இறைவன் உண்டு  என்று நம்ப வேண்டும். இறைவன் கொடுக்கும் ஞானம், அறிவு, புத்தி என்பது உலகம் கொடுக்கும் விதமாக இருக்காது. எனவே எந்தப் பிரச்சனைக்கும் காரணம் என்ன என்று மனித மூளையின் பெலத்தால் கண்டு கொள்வது கடினம். ஆனால் வாழ்வின் காலங்களைக் குறித்து கடவுள் சொல்வதைக் கேளுங்கள். 
பிறக்க ஒரு காலமுண்டு !
இறக்க ஒரு காலமுண்டு !
நட ஒரு காலமுண்டு !
நட்டதைப் பிடுங்க ஒரு காலமுண்டு !
கொல்ல ஒரு காலமுண்டு !
குணமாக்க ஒரு காலமுண்டு !
இடிக்க ஒரு காலமுண்டு !
இடித்ததைக் கட்ட ஒரு காலமுண்டு !
அழ ஒரு காலமுண்டு !
நகைக்க ஒரு காலமுண்டு !
புலம்ப ஒரு காலமுண்டு !
நடனம் பண்ண ஒரு காலமுண்டு !
கற்களை எறிந்து விட ஒரு காலமுண்டு !
கற்களை சேர்க்க ஒரு காலமுண்டு !
தழுவ ஒரு காலமுண்டு !
தழுவாமலிருக்க ஒரு காலமுண்டு !
தேட ஒரு காலமுண்டு !
இழக்க ஒரு காலமுண்டு !
காப்பாற்ற ஒரு காலமுண்டு !
எறிந்து விட ஒரு காலமுண்டு !
கிழிக்க ஒரு காலமுண்டு !
தைக்க ஒரு காலமுண்டு !
மவுனமாயிருக்க ஒரு காலமுண்டு !
பேச ஒரு காலமுண்டு !
சிநேகிக்க ஒரு காலமுண்டு !
பகைக்க ஒரு காலமுண்டு !
யுத்தம் பண்ண ஒரு காலமுண்டு !
சமாதானம் பண்ண ஒரு காலமுண்டு !
வருத்தப்பட்டு பிரயாசப்படுகிறவனுக்கு அதினால் பலன் என்ன?
மனுஷர் பாடுபடும்படி தேவன் அவர்களுக்கு நியமித்த தொல்லையைக் கண்டேன்.
அவர் சகலத்தையும் அதினதின் காலத்திலே நேர்த்தியாகச் செய்திருக்கிறார். 
உலகத்தையும், அவர்கள் உள்ளத்திலே வைத்திருக்கிறார். ஆதலால் தேவன் ஆதி முதல் அந்தம் மட்டும் செய்து வரும் கிரியையை மனுஷன் கண்டுபிடியான். மகிழ்ச்சியாயிருப்பதும், உயிரோடிருக்கையில் நன்மை செய்வதுமேயல்லாமல் வேறொரு நன்மையும், மனுஷனுக்கு இல்லையென்று அறிந்தேன். அன்றியும் மனுஷர் யாவரும் புசித்துக் குடித்து தங்கள் சகலப் பிரயாசத்தின் பலனையும் அநுபவிப்பது தேவனுடைய அநுக்கிரகம். தேவன் செய்வது எதுவோ அது என்றைக்கும் நிலைக்கும் என்று அறிவேன். அதினோடே ஒன்றும் ஒன்றும் கூட்டவுங்கூடாது, அதிலிருந்து ஒன்றும் குறைக்கவுங்கூடாது. மனுஷர் தமது சமூகத்தில் பயந்திருக்கும் படி தேவன் இப்படிச் செய்து வருகிறார்.  (பிரசங்கி 3 : 1-14 . பரிசுத்த வேதாகமம்) இது கடவுளுடைய வார்த்தை! மனித வாழ்வில் நடைபெறும் சம்பவங்கள் ஏன் நடைபெறுகிறதென்று ஒரு மனிதனாலும் அறிய முடியாது. மனுஷர் கடவுளுக்குப் பயப்பட வேண்டும் என்பது கடவுளின் நியமனம். படைப்பாளரை படைப்புகள் கனம் பண்ண வேண்டும். ஆனால், என்று மனிதன் தன்னை உருவாக்கினவரை தூஷித்து, அவர் இல்லையென்று தன் சுய அறிவின் அடிப்படையில் தீர்மானம் செய்கிறானோ அன்று முதல் கடவுள் அவன் வாழ்வில் மேற்கூறிய காலங்களின் அடிப்படையில்; செயல்படும் விதங்களைப் புரிந்து கொள்ள முடியாது. ஆனால் தேவன் செயல்படும் அடிப்படை விதங்களை அவரது வார்த்தையாகிய பரிசுத்த வேதத்தின் மூலம் அறிந்தவர்கள் வாழ்வில் வரும் பிரச்சனைகளை எப்படி கையாளுவது என்று அறிய முற்படுவார்கள்.
எந்த சூழ்நிலைகளிலும் அப்பிரச்சனையை மேற்கொள்ள தேவ ஞானத்தை வேண்டி நிற் பார்கள். யாக்கோபு அப்போஸ்தலன் சொல்வதைக் கேளுங்கள். “என் சகோதரரே நீங்கள் பலவிதமான  சோதனைகளில் அகப்படும் போது உங்கள் விசுவாசத்தின் பரீட்சையானது பொறுமையை உண்டாக்கும் என்று அறிந்து, அதை மிகுந்த சந்தோஷமாய் எண்ணுங்கள்”, என்கிறார். (யாக்கோபு 1 : 3 பரிசுத்த வேதாகமம); பாருங்கள! துன்பங்களையும், சோதனைகளையும் சகிக்க பழகும் போது, அது பொறுமையை உண்டாக்கும். 
அப்போஸ்தலன் பவுல் சொல்வதைக் கேளுங்கள். “உபத்திரவம் பொறுமையையும், பொறுமை பரீட்சையையும், பரீட்சை நம்பிக்கையை  உண்டாக்கும் என்று அறிந்து உபத்திரவங்களிலேயும் மேன்மை பாராட்டுகிறோம்.” (ரோமர் 5: 3,4 – பரிசுத்த வேதாகமம்).
இன்னுமொரு இடத்தில் இதே பவுல் அடியாh,; தன் சரீரத்தில் உள்ள வியாதியை முழு மனதோடு ஏற்றுக் கொள்வதற்கான காரணத்தைக் குறித்து கூறுவதைக் கவனியுங்கள். “அது என்னைவிட்டு நீங்கும்படிக்கு, நான் மூன்றுதரம் கர்த்தரிடத்தில் வேண்டிக்கொண்டேன். அதற்கு அவர்: என் கிருபை உனக்குப்போதும்; பலவீனத்திலே என் பலம் பூரணமாய் விளங்கும் என்றார். ஆகையால், கிறிஸ்துவின் வல்லமை என்மேல் தங்கும்படி, என் பலவீனங்களைக்குறித்து நான் மிகவும் சந்தோஷமாய் மேன்மைபாராட்டுவேன். அந்தப்படி நான் பலவீனமாயிருக்கும்போதே பலமுள்ளவனாயிருக்கிறேன்; ஆகையால் கிறிஸ்துவினிமித்தம் எனக்குவரும் பலவீனங்களிலும், நிந்தைகளிலும், நெருக்கங்களிலும், துன்பங்களிலும், இடுக்கண்களிலும் நான் பிரியப்படுகிறேன்.” ( 2 கொரிந்தியர் 12: 8 முதல் 10 வசனங்கள் - பரிசுத்த வேதாகமம்)
பாருங்கள்! பிரச்சனைகளில்  ஒரு தனி மனிதன் கடவுளுக்குள் தன் காலங்கள் நியமிக்கப் பட்டிருக்கிறது  என்று நம்புவதால் வாழ்வின் பிரச்சனைகளில்  பொறுமை, விசுவாசம், சகிப்பு , மேன்மை பாராட்டல் போன்ற பண்புகளை உருவாக்குகிறான். கடவுளை கேள்வி கேட்க முற்படவில்லை. அல்லது தன்னையே மாய்த்துக் கொள்ள ஓடவில்லை. மாறாக அந்த சூழ்நிலையை தன்னை ஒருபடி மேலோங்கி நிற்கச் செய்யும் நற்பண்புகளை வளர்க்கும் சாதனங்களாகக் கருதுகிறான். மேலும் ஒரு அன்புள்ள தகப்பன் தன் பிள்ளையை ஏன் சிட்சிப்பான்? அவனை நல்வழிப்படுத்தவே அன்றி வேறொன்றிற்கும் அல்ல. இதை அறிந்து பிள்ளைகள் பெற்றோருக்கு அஞ்சி  நடக்கிறார்கள் அல்லவா?  அவர்கள் தங்களுக்கு நலமென்று தோன்றினபடி கொஞ்சக்காலம் சிட்சித்தார்கள். இவரோ தம்முடைய பரிசுத்தத்துக்கு நாம் பங்குள்ளவர்களாகும்பொருட்டு நம்முடைய பிரயோஜனத்துக்காகவே நம்மைச் சிட்சிக்கிறார். (எபிரேயர் 12 : 9 – 10. பரிசுத்த வேதாகமம்) 
இவைகள் தான் கடவுளின் கண்ணோட்டத்தை அறிந்து கடவுளுக்கு பயந்து வாழும் மனிதன் வாழ்வின் பிரச்சனைகளை சந்திக்க அறிந்து வைத்துக் கொள்ள வேண்டிய அடிப்படை சத்தியங்கள் ஆகும்.
      </p>
    </main>
  </body>
</html>
