---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>சரீர ஆரோக்கியம் குறித்த பிரச்சனைகள்</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
        சரீர ஆரோக்கியம் குறித்த பிரச்சனைகள்
      </h1>
      <p class="mb-4 font-semibold" style="white-space: pre-line">
        இன்றைய சூழலில் சரீர சுகம் என்பது வயதின் அடிப்படையில் நிர்மாணிக்க முடியாததாகக் காணப்படுகி ன்றது. குழந்தைகள் புpறக்கும் போதே ஏராளமான ஆரோக்கியப் பிரச்சனைகளோடு குழந்தைகள் பிறக்கின்றன. இதற்கு ஏராளமான காரணங்கள் உண்டு. 
தலைமுறை தலைமுறையாக பெற்றோரிடமிருந்து பிள்ளைகளுக்கு கடத்தப்படும்  வியாதிகள் உண்டு.
சூழ்நிலைகள் மற்றும் கால அடிப்படையில் தொற்றிக் கொள்ளும் வியாதிகளும் உண்டு.
சிறு பிராயம் முதல் குடும்ப உறவுகளின் பிரிவினைகளின் அடிப்படையில் வளரும் குழந்தைகளின் உடல் நலம் மட்டுமல்லாமல் மனநிலையும்; பாதிக்கப்படும் காரணங்கள்; உண்டு. 
கடந்த ஆண்டுகளில் நாம் சந்தித்த கொரோனா போன்ற கொள்ளை நோய்களும் உண்டு.
சிகிச்சைக்கு மருந்துகள் சரியாக கண்டுபிடிக்கப்படாத “புற்றுநோய்” (Cancer) போன்ற வியாதிகள் உண்டு.
காரணங்களே இல்லாமல் எந்த வயதினரும் வியாதிப்படுவது இன்று சகஜமாகிவிட்டது.
இந்த பிரச்சனைகளை சந்திப்பது எப்படி?
இதற்கும் கடவுள் ஒருவரே பரிகாரி:
அநேக விதமான வியாதிகள் பாவத்தின் சம்பளமாக மனுக்குலத்திற்கு கிடைத்த ஆசீர்வாதம்  ஆகும். எனவே எந்த சூழ்நிலையிலும் ஒரு தனிமனிதன் தன் சரீரம் தீய பழக்க வழக்கங்களால் கெட்டுப் போகாதபடி பாதுகாக்கப்பட வேண்டும் என்று உணர வேண்டும்.
பரிசுத்த  வேதாகமம் கூறுவதைக் கேளுங்கள். இதுவே தேவனுடைய சத்தமும் அவரது சித்தமும்; ஆகும். (1 கொரிந்தியர் 6:12–10 பரிசுத்த வேதாகமம்)
எல்லாவற்றையும் அநுபவிக்க எனக்கு அதிகாரமுண்டு, ஆகிலும் எல்லாம் தகுதியாயிராது; எல்லாவற்றையும் அநுபவிக்க எனக்கு அதிகாரமுண்டு, ஆகிலும் நான் ஒன்றிற்கும் அடிமைப்படமாட்டேன்.  இப்படி ஒரு மனிதன் தீர்மானம் செய்து தன் மாம்ச இச்சையை அடக்கும் போது  கெட்ட பழக்க வழக்கங்களினால் அடிமைப்பட்டு சரீர சுகத்தை இழக்க முடியாது.
“சரீரம் வேசித்தனத்திற்கல்ல, கர்த்தருக்கே உரியது. கர்த்தரும் சரீரத்திற்கு உரியவர்.” - இந்த எண்ணம் மனுக்குலத்திற்கு தேவை. இன்று பாலியல் சம்மந்தமான பலதரப்பட்ட வியாதிகளுக்குக் காரணம் மனுக்குலம் தன் சரீரத்தை வேசித்தனம் செய்ய ஒப்புக் கொடுப்பதால் தான் என்பது யாவரும் அறிந்த உண்மை.   
வேசியோடு இசைந்திருக்கிறவன் அவளுடனே ஒரே சரீரமாயிருக்கிறானென்று அறியீர்களா? இருவரும் ஒரே மாம்சமாகிவிடுகிறார்கள் என்று வேதத்தில் சொல்லியிருக்கிறதே! அப்படியே கர்த்தரோடிசைந்திருக்கிறவனும், அவருடனே ஒரே ஆவியாயிருக்கிறான். இதை ஒவ்வொரு கிறிஸ்தவனும் முதலாவது அறியவேண்டும்;.
ஆண்டவராகிய இயேசு கிறிஸ்துவை தெய்வமாக நீ விசுவாசித்து, அவர் தமது சரீரத்தை  உனக்காக பாவபலியாக்கினார் என்று நீ விசுவாசித்து, உன் பாவங்களுக்காக மெய்யாகவே மனஸ்தாபப்பட்டு மனந்திரும்பினால், உன் சரீரம் உன்னுடையதல்லவென்றும், உன் சரீரமானது உன்  தேவனாலே பெற்றும் உன்னில் தங்கியிருக்கிற  பரிசுத்த ஆவியினுடைய ஆலயமாயிருக்கிறதென்றும், நீ உன்னுடையவன் அல்ல என்றும் அறிய வேண்டும்.
கிரயமாக இயேசு கிறிஸ்துவின் இரத்தம் உனக்காக சிந்தப்பட்டபடியால், உன் சரீரம் தேவனுடையதாகி விடுகிறது. எனவே, சரீரத்தினாலும் ஆவியினாலும் தேவனை மகிமைப்படுத்த வேண்டும் என்பதே தேவனின் இரட்சிப்பின் திட்டமாகும்.
எனவே வியாதி அணுகுவதற்கு ஒரு பெரிய முக்கிய காரணம்: சரீரம் எவ்வாறு பிரயோஜனப்படுத்தப் படுகின்றது என்பதிலிருந்து அறிந்து கொள்ளலாம்.
மதுபானக் கடைகளில் “குடி குடியைக் கெடுக்கும்” உடலைக் கெடுக்கும் என்றும், சிகரெட் பாக்கெட்டுகளில் “சிகரெட் புகைப்பது ஆரோக்கியத்திற்கு அபாயம்” என்று எச்சரிப்புக் கொடுத்தாலும் மனிதர்கள் அதைக் கவனிப்பதில்லை. ஆனால் சரீர சுகம் கெடும் போது முழு குடும்பமும் வேதனையை அனுபவிக்க வேண்டி வரும்.
வியாதியும் மருத்துவமும்
இன்று மருத்துவம் மிகப் பெரிய அளவில் முன்னேறிவிட்டது. ஆனால் அதற்கு சவாலாக வியாதிகளும் அதிக அளவில் பெருகி விட்டன. மருந்துகளை மருத்துவர்கள் பரிந்துரை செய்ய முடியும். ஆனால் சுகத்தை ஒருவராலும் கொடுக்க முடியாது.
எனவே வியாதிகளை வரும் முன் தடுப்பதே நல்லது.
வியாதி வந்து விட்டால் காலம் தாழ்த்தாமல் அதற்கான சிகிச்சைக்குப் போக வேண்டும். 
தீராத வியாதிகளில் தீர்வு என்ன? 
இங்கு தான் “கடவுளின் செயல்” என்ன என்கிற அறிவு மனிதனுக்குத் தேவை!
பரிசுத்த வேதத்தில் கடவுளாக மனு உரு எடுத்து வந்த ஆண்டவராகிய இயேசு கிறிஸ்து சகல வியாதிகளையும் சுகப்படுத்தினார். குருடர்கள் பார்வையடைந்தார்கள். முடவர்கள் நடந்தார்கள், ஊமையர் பேசினார்கள். திமிர்வாதம் மற்றும் பல வியாதிகளில் படுக்கையோடு சுமந்து கொண்டு வரப்பட்டவர்களும் அனைவரும் சுகமானார்கள். ஏனென்றால் தேவன் தனது சுவிசேஷமாகிய நற்செய்தியை சொல்வது மடடு;மல்ல. அதை செய்து  காட்டினார். அவரது அன்பும், மனதுருக்கமும் இதைச் செய்தது. மனிதனின் அவல நிலையைக் கண்டு, தேவன் பல இடங்களில் கண்ணீர் விட்டார். இதை ஒரு வார்த்தையில் விளக்க வேண்டுமாhல் “கிருபை” என்பதே அந்த வார்த்தை.
2 கொரிந்தியர் 12 ம் அதிகாரம் 8ம் வசனம் முதல் பரிசுத்த  வேதாகமத்தில் ஒரு தலைசிறந்த சீடனை சந்திக்கிறோம். அவர் பெயர் பவுல் (Pயரட). அவருக்கு சரீரத்தி;ல் ஒரு ‘முள்’ என்று குறிப்பிடப்பட்டுள்ளது. அது நீங்கும்படி இறைவனிடம் பல முறை அவர் வேண்டுகிறார். ஆனால் தேவன் அவருக்கு கொடுத்த பதில் “என் கிருபை உனக்கு போதும்” என்றார். உடனே அந்த பக்தன் வியாதியை மேற்கொள்ள என்ன செய்தான் தெரியுமா? கிருபை தேவனிடமிருந்து வரும் ஈவு என்று அறிந்து பெலவீனங்களில் சந்தோஷமாய் மேன்மை பாராட்டத் துவங்கினார். அதாவது பெலவீனத்தின் மத்தியிலும், “நான் பெலவீனமாயிருக்கும் போதே பெலனுள்ளவனாயிருக்கிறேன்” என்றும்  பெலவீனத்தில் அவரது பலம் பூரணமாய் விளங்கும் என்று விசுவாசித்து “கிறிஸ்துவின் வல்லமை என் மேல் தங்கும்படி என் பெலவீனங்களைக் குறி;த்து நான் மிகவும் சந்தோஷமாய் மேன்மை பாராட்டுவேன். எனக்கு வரும் பெலவீனங்களிலும், நிந்தைகளிலும், நெருக்கங்களிலும், துன்பங்களிலும், இடுக்கண்களிலும், நான் பிரியப்படுகிறேன்”. என்று பெலவீனத்தை வென்று ஊழியம் செய்ய பலப்பட்டார். (2 கொரிந்தியர் 12:9-11 பரிசுத்த வேதாகமம்) 
எனவே வியாதி நேரத்தில் எந்த மனிதனும் கடவுளைத் தேடுவான். ஆனால் நல்ல நாட்களிலேயே கடவுளிடம் ஒரு தனிப்பட்ட உறவு வைக்கப் பழகிக் கொண்டால் இப்படிப்பட்ட வெற்றி வாழ்வின் இரகசியங்களை நாம் அறிந்து கொள்ள முடியும்.
மனிதன் தேவனை மன்றாடி விண்ணப்பம் செய்யப் பழக வேண்டும். கடவுள் வேண்டுதல்களைக் கேட்பவர் என்றும், பலன் அளிப்பவர் என்றும்  நம்ப வேண்டும். நாம் யாவரும் சுக ஜீவியம் செய்யவே தேவன் விரும்புகிறார். படைப்பாளரின் ஆவல் படைப்புகளின் சரீர சுகம், ஆத்மீக சுகம், மனநலம் மீது படைப்பாளர் வெகு அக்கறை காட்டுகிறார். ஆனால் மனிதன் தன் சரீரத்தை பரிசுத்தமாக பாதுகாக்க முழு முயற்சி எடுக்க வேண்டும். 
இயேசுவானவர் வியாதியைக் குறித்தும், சரீரம் மரிப்பதை குறித்தும் நாம் பயப்பட வேண்டாம் என்று கூறும் பகுதியை சற்று ஆழ்ந்து தியானிப்போம். மத்தேயு 10ம் அதிகாரம் 28ம் வசனம் பரிசுத்த வேதாகமம்: “ஆத்துமாவைக் கொல்ல வல்லவர்களாயிராமல், சரீரத்தை மாத்திரம் கொல்லுகிறவர்களுக்கு நீங்கள் பயப்பட வேண்டாம். ஆத்துமாவையும், சரீரத்தையும், நரகத்தில் அழிக்க வல்லவருக்கே பயப்படுங்கள்.” 
இது தேவாதி  தேவனின் வார்த்தை. தேவன் நமக்கு பயமுள்ள ஆவியைக் கொடாமல் பலமும், அன்பும், தெளிந்த புத்தியுமுள்ள ஆவியையே கொடுத்திருக்கிறார் என்றும் பரிசுத்த வேதாகமம் கூறுகிறது.(2 தீமோத்தேயு 1:7) வியாதியினால் சரீரம் மட்டுமே மரிக்கும். ஆத்துமாவும், ஆவியும் அழியாது. கடைசி  நாளில், அதாவது சபையாகிய தனது சரீரத்தைக் கூட்டிச் சேர்க்க இறைமகன் இயேசு வரும் நாளில் கடைசி எக்காளம் தொனிக்கும் போது, ஒரு நிமிஷத்திலே, ஒரு இமைப் பொழுதிலே நாமெல்லாரும் மறுரூபமாக்கப்படுவோம். 
எக்காளம் தொனிக்கும். அப்பொழுது மரித்தோர் அழிவில்லாதவர்களாய் எழுந்திருப்பாh’கள், நாமும் மறுரூபமாக்கப்படுவோம். அழிவுள்ள  நமது சரீரம் சாவாமையையும் தரித்துக் கொள்ள வேண்டும். மரணத்தின் கூர், இயேசுவின் பாடு, மரணம், உயிர்த்தெழுதலினால் ஒடிக்கப்பட்டு விட்டது. பாதாளம் ஜெயிக்கப்பட்டு விட்டது. இதை 1 கொரிந்தியர் 15 ஆம் அதிகாரம் வெகு தெளிவாக பரிசுத்த வேதத்தின் மூலம் போதிக்கிறது. இதைத்தான் இயேசு கிறிஸ்துவின் சுவிசேஷம்     அல்லது  நற்செய்தி  என்று கூறுகிறோம். எனவே மரணம் முடிவல்ல. இயேசு கிறிஸ்துவுக்குள் மரிக்கும் ஒவ்வொருவருக்கும்  நித்திய ஜீவன் உண்டு. மரணம் ஒரு வாசல். அழிந்து  போகும் உலகத்தினின்று, அழியாத பரலோக வாழ்வுக்குள் ஒவ்வொரு விசுவாசியும் செல்ல முடியும். இதுவே வியாதி துன்பங்களில் ஒரு மனிதனின் நம்பிக்கை.

      </p>
    </main>
  </body>
</html>
