---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>பொருளாதார பிரச்சனைகள்</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
        பொருளாதார பிரச்சனைகள்
      </h1>
           <p class="mb-4 font-semibold" style="white-space: pre-line">
            ஒவ்வொரு தனி மனிதனின் பொருளாதாரப் பிரச்சனைக்கும் அநேக அடிப்படை காரணங்கள் உண்டு.
சில காரணங்கள்:
குடும்பத் தலைவனின் தவறான முடிவுகள் 
காலம் தாழ்த்தி எடுத்த சரியான முடிவுகள்
வரவுக்கு மேல் செலவு செய்தல்
பிறரைப் பார்த்து பொறாமையால் தவறான, வேண்டாத செலவுகளைச் செய்தல்
கடனில் அநேகமாயிரம் மதிப்புள்ள பொருட்களையோ, அநேக லட்சங்கள் மதிப்புள்ள வீடுகளையோ வாங்குதல்.
குடும்பத் தலைவிகளின் அற்ப ஆசைகள் மற்றும் தேவையில்லாத ஆசைகள்.
எது தேவை? (what you need?) 
எது உன் விருப்பம்? (What you want or desire?)
இவை இரண்டிற்கும் வித்தியாசம் தெரியாவிட்டால் தேவையில்லாத பொருட்களை வாங்கி பொருளாதாரப் பிரச்சினையில் விழும் குடும்பங்கள் ஏராளம். 
பிள்ளைகளை கண்டிப்புடன் வளர்க்காவிட்டாலும், செல்லம் கொடுத்து, கேட்கும் விலையுயர்ந்த பொருட்களை வாங்கிக்  கொடுப்பதாலும் பொருளாதார பிரச்சனைகள் ஏற்படும்.
ஞானம் தேவை. உலக ஞானம் போதாது. பரத்திலிருந்து வரும், தேவபயத்தோடு, கூடிய ஞானம் இல்லையென்றால் சுயபுத்தியை சார்ந்து செயல்படும் எவரும் பொருளாதார பிரச்சனையில் நிச்சயமாக சிக்கிக் கொள்ள நேரிடும்.
சில சமயங்களில் குடும்பப் பொறுப்புகள், எதிர்பாராத இழப்புகள், அரசாங்கம் போடும் திடீர் சட்டங்கள், வேலை இழப்பு இவைகளும் பொருளாதார பிரச்சனைகளை; உருவாக்கும். 
பொருளாதார பிரச்சனைகளை எப்படி சமாளிப்பது:
முதலாவது பொருளாதார பிரச்சனைகளுக்கு காரணங்களை ஆராய்ந்து பார்த்து அதை சீர் செய்யவேண்டும்.
செலவினங்களை மட்டுப்படுத்த வேண்டும்
கடன் வாங்குவதை நிறுத்த வேண்டும்.
குடும்பமாக அமர்ந்து வரவு, செலவு திட்டம் அமைக்க வேண்டும்.
கிறிஸ்துவ குடும்பங்கள் வேத வசனங்களின் அடிப்படையில் தேவனுக்கு கொடுக்கும் காணிக்கைகளில் கவனம் செலுத்த வேண்டும். உற்சாகத்துடன் கொடுக்கும் இருதயத்தையே கடவுள் பார்க்கிறார். எவ்வளவு கொடுக்கிறீர்கள் என்பது முக்கியமல்ல. எந்த இருதயத்தோடு கொடுக்கிறீர்கள் என்பதே முக்கியம்.
இயேசு இரண்டு காசு காணிக்கை போட்ட ஏழை விதவையைப் பற்றி, “இந்த ஏழை விதவை மற்றெல்லாரைப் பார்க்கிலும் அதிகமாய் போட்டாள் என்று” சொன்னார். ஏனென்றால் மற்றெல்லாரும் தங்கள் பரிபூரணத்திலிருந்து தேவனுக்கு என்று காணிக்கை போட்டார்கள். இவளோ தன் வறுமையிலிருந்து தன் ஜீவனத்திற்கு உண்டாயிருந்ததெல்லாம் போட்டு விட்டாள்; என்று அவர் மெச்சிக் கொண்டதின் காரணத்தையும் கூறுகிறார்.  
எனவே “கொடுங்கள், அப்பொழுது உங்களுக்குக் கொடுக்கப்படும். அமுக்கிக் குலுக்கி, சரிந்து விழும்படி நன்றாய் அளந்து உங்கள் மடியிலே போடுவார்கள். நீங்கள் எந்த அளவினால் அளக்கிறீர்களோ, அந்த அளவினால் உங்களுக்கு அளக்கப்படும் என்பது இறைமகன் இயேசுவின் வார்த்தை. எனவே உங்கள் வரவில் குறைந்தது 10% கடவுளுக்குக் கொடுத்துப் பழகுங்கள்.
தான தர்மம் செய்யும் போதும், சுய விளம்பரத்துக்காக செய்யாமல், வலது கை கொடுப்பதை இடது கை அறியக் கூடாது என்கிற வேத வாக்கின்படி, விளம்பரம் இல்லாமல் (Don’t blow your own trumpet) தர்மம் செய்யப் பழகுங்கள்.
ஏழைக்கு இரங்குகிறவன் கர்த்தருக்குக் கடன் கொடுக்கிறான். அவர் அவன் கொடுத்ததை அவனுக்குத் திரும்பிக் கொடுப்பார் என்பதும் கடவுளின் வார்த்தை (நீதி மொழிகள் 19:17-பரிசுத்த வேதாகமம் ) 
வயலில் அறுவடை செய்யும் போதும் ஏழைகளுக்கு சிந்த விட வேண்டும். அவன் பொறுக்கிக் கொள்ளவும் அனுமதிக்க வேண்டும். அப்போது வயல் நன்றாக விளையும்படி கடவுளும் அவனுக்கு இரங்குவார். இது பூர்வ காலத்து  சட்டம். (லேவியராகமம் 19:9, ரூத் 2:3)
வஸ்திரம் இல்லாதவனுக்கு வஸ்திரம் கொடுப்பதும், ஆகாரம் இல்லாதவனுக்கு ஆகாரம் கொடுப்பதும் நம் கையின் பிரயாசத்தை வாய்க்கச் செய்யும். இது கடவுளின் நீதியாகும். “இறைக்கிற கிணறே சுரக்கும்” என்பது நாம் யாவரும் அறிந்த உண்மை.
எனவே உதாரத்துவமாக பணத்தை செலவிடாமல்; பிசினித்தனம் செய்த அநேகர் வறுமையைத் தழுவியதுண்டு.
இதன் இறுதி தீர்வு என்ன? (நீதிமொழிகள் - பரிசுத்த வேதாகமம்)
நம் சுயபுத்தியின் மேல் சாயக் கூடாது.
முழு இருதயத்தோடும் தேவனிடத்தில் நம்பிக்கையாயிருக்;க வேண்டும்.
உன் வழிகளிலெல்லாம் தேவனையே நினைத்துக் கொள். அப்பொழுது அவர் உன் பாதையை செவ்வை பண்ணுவார்.
உன்னை ஞானி என்று எண்ணாதே. தேவனிடத்தில் ஞானத்தைக் கேள். கர்த்தருக்குப் பயந்து தீமையை விட்டு விலகு.
உன் பொருளாலும், உன் விளைவின் எல்லா பலனாலும் கர்த்தரைக் கனம் பண்ணு. அப்பொழுது உன் களஞ்சியங்கள் பூரணமாய் நிரம்பும். உன் ஆலைகள் ஆசீர்வதிக்கப்படும்.
மெய் ஞானத்தையும், நல்ல ஆலோசனைகளையும் கேள். 
துன்மார்க்கனின் வீட்டில் கர்த்தரின் சாபம் இருக்கும். நீதிமான்களின் வாசஸ்தலத்தை கர்த்தர் ஆசீர்வதிக்கிறார். 
வாரியிறைத்து விருத்தியடைவாரும் உண்டு. அதிகமாய் பிசினித்தனம் பண்ணியும் வறுமை  அடைவாரும் உண்டு.
உதார குணமுள்ள ஆத்துமா செழிக்கும். எவன் தண்ணீர் பாய்ச்சுகிறானோ, அவனுக்குத் தண்ணீர் பாய்ச்சப்படும்.
தானியத்தைக் கட்டி வைக்கிறவனை ஜனங்கள் சபிப்பார்கள். விற்கிறவனுடைய தலையின் மேல் ஆசீர்வாதம் தங்கும்.
தன் ஐசுவரியத்தை நம்புகிறவன் விழுவான். நீதிமான்களோ துளிரைப் போல் தழைப்பார்கள்.
சோம்பேறியினுடைய ஆத்துமா விரும்பியும் ஒன்றும் பெறாது.
பொய் உதடுகள் கர்த்தருக்கு அருவருப்பானவைகள், பொய், பித்தலாட்டம் ஐசுவரியத்தை அழிக்கும் சாதனங்கள்.
மதுபானம், போதை, சிகரெட், பாக்கு, போதை பழக்க வழக்கங்கள் உடலையும், மனதையும் பாதிப்பதினால் வியாதிகளை சந்திக்க நேரிட்டு குடும்ப பொருளாதார நிலை கண்டிப்பாக சீரழியும்.
மனுஷன் தன் வாயின் பலனால் நன்மையை புசிப்பான். துரோகிகளின் ஆத்துமாவோ கொடுமையைப் புசிக்கும்.
பரிதானம் வாங்குதல் கடவுள் அருவருக்கும் செயல். அநியாயமாய் வரும் எந்த வருமானமும் நிலைக்காது.
கெட்ட நட்புகள், தவறான ஆலோசனைகள், குடும்ப வருமானத்தை மிகவும் பாதிக்கும் என்பதில் சிறிதளவும் சந்தேகமில்லை.
சஞ்சலத்தோடு கூடிய அதிகப் பொருளிலும், கர்த்தரைப் பற்றும் பயத்தோடு கூடிய கொஞ்ச பொருளே உத்தமம்.
மனரம்மியமோ நித்திய விருந்து.
கடிந்து கொள்ளுதலைக் கேட்டு நல்வழியில் பொருள் சம்பாதித்தால் அது நிலைத்து நிற்கும்.
உன் வழிகளை கர்த்தருக்கு ஒப்புவி. அப்பொழுது உன் யோசனைகள் உறுதிப்பட்டு உன் கையின் பிரயாசங்கள் வாய்க்கும்.
இருக்கும் பொருளைக் காத்துக் கொண்டு, வீண் இழப்புகளை சந்திக்காமல் இருக்க தேவ ஆலோசனையும், கடவுள் தரும் ஞானமுமே மிகவும் அவசியம் என்பதில் சிறிதளவும் சந்தேகம் இல்லை
வேதாகமத்திலிருந்து பொருத்தமான ஆலோசனைகள்:
மனிதன் கடவுளை விட்டு தூரம் செல்ல செல்ல அவன் கடவுளின் ஆசீர்வாதத்தை இழந்து விடுகிறான். வேதாகமத்திலிருந்து சில உதராணங்களை உங்களுக்குக் கூறுகிறேன். வேதாகமம் ஒரு சரித்திர புத்தகம். 
ஆதியாகமத்தில் நோவா என்னும் மனிதன் ஒருவனை தேவனாகிய கடவுள் நீதிமானாகக் கண்டார். அவனை மட்டும் பாதுகாத்து முழு உலகத்தையும் தண்ணீரால் அழித்து விட்டார். ஆனால் அந்த நோவா குடித்து வெறித்து அவன் குடும்பத்தையே சாபத்துக்குள்ளாக்கி விடுகிறான். மதுபானம் செய்தல் உடலை மட்டும் கறைபடுத்தாது. சந்ததியையே சாபத்துக்குள்ளாக்கி விடும். இந்தப் பாவத்திற்கு விலகி ஓடும் போது பிரச்சனைகளும் நம்மை விட்டு விலகி ஓடி விடும்.
இரண்டாவதாக   இரகசிய பாவங்கள் கடவுளின் கோபத்தை உருவாக்கும். ஆகான் என்கிற ஒரு மனிதன் யுத்த வீரன். இஸ்ரவேல் மக்கள் வனாந்தரத்தைக் கடந்து தேவனது வாக்குத்தத்த பட்டணமாகிய கானான் தேசத்துக்குள் நுழையும் முன்பாக இவன் மறைவாக ஒளிப்பிடத்தில் செய்த பாவம் இவன் குடும்பத்திற்கே பெரும் பிரச்சனையைக் கொண்டு வந்தது. ஏனெ;னறால் அது வரை இஸ்ரவேலர் எல்லா ராஜாக்களையும் வென்று வெற்றி வாகை சூடினார்கள். இப்பொழுதோ தோல்வி மேல் தோல்வி. இறுதியில் காரணம் என்ன என்று கண்டுபிடிக்கும் போது திருடிக் கொண்டு வந்த பார்வோனுடைய சால்வை மற்றும் விலையுயர்ந்த பொருட்கள் அவன் கூடாரத்தில் புதைத்து வைக்கப்பட்டிருந்தது கண்டுபிடிக்கப்பட்டு பூமி பிளந்து அவன் சந்ததியோடு புதைந்து போனான். பண ஆசை, இருளில் செய்யும் இருட்டின் கிரியைகள் குடும்பங்களை அழித்து விடும்.
மூன்றாவது சகேயு என்னும் ஒரு வரி வசூல் செய்யும் ஆயக்காரன். அநியாயமாய் பொருள் சம்பாதித்தவன். இயேசுவைப் பார்க்க விரும்பியவன். இயேசு இவனை நோக்கி உன் வீட்டுக்கு இன்று வருகிறேன் என்று சொன்னவுடன் அவன் வீட்டில் அநியாயமாகச் சேர்த்த பொருட்களை நாலத்தனையாகத் திருப்பிக் கொடுத்து விடுகிறேன் என்றும் இயேசு கிறிஸ்துவிடம் பாவ அறிக்கை செய்து கடவுளின் மன்னிப்பை பெறுகிறான். ஆம் பிரியமானவர்களே! அநியாயமாய் சேர்த்த பொருள் கடவுளின் ஆசீர்வாதத்தை தடுக்கும்.
அடுத்தபடியாக காயீன், ஆபேல் என்னும் இரு சகோதரர்கள் இருந்தார்கள். இவர்கள் ஆதாம், ஏவாள் என்கிற முதல் குடும்பத்தில் பிறந்த இரண்டு குமாரர்கள். ஆபேலின் நீதியுள்ள கிரியைகளை காயீனால் தாங்கிக் கொள்ள முடியவில்லை. அவனுக்கு எரிச்சல் மூண்டது. முகநாடி வேறுபட்டது. கடவுளே அவனை எச்சரிக்கிறார். நீ நன்மை செய்தால் உனக்கு மேன்மை. அல்லது பாவம் உன் வாசற்படியில் படுத்திருக்கும் என்கிறார். ஆனால் அவன் துணிகரமாகத் தன் சகோதரனை கொலை செய்து சாபமுள்ள சந்ததிக்கு தகப்பன் ஆகிறான். குடும்பத் தலைவர்களின் தவறான குணங்களும் பழக்க வழக்கங்களும் அநேக பிரச்சனையுள்ள குடும்பங்களை உருவாக்கி விடுகிறது.
இறுதியாக உண்மையற்ற தன்மை மனுக்குலத்தை சீரழித்து விடுகின்றது. கணவன், மனைவியிடம் உண்மையை மறைத்தல், மனைவி கணவனிடம் உண்மையை மறைத்தல், பிள்ளைகள் பெற்றோரிடம் உண்மையை மறைத்தல். இது மிகவும் ஆபத்தான குணம்.
“பல நாள் திருடன் ஒரு நாள் அகப்படுவான்” என்கிற பழமொழிக்கு இணங்க உண்மையற்ற குணமுள்ளவர்கள் ஆசீர்வாதமான வாழ்வை அனுபவிக்க முடியாது. உண்மையுள்ள மனிதன் பரிபூரண ஆசீர்வாதம் பெறுவான் என்கிறது பரிசுத்த வேதாகமம். அனனியா, சப்பிராள் என்கிற ஒரு கணவன், மனைவி இயேசுவின் சீடர்களிடம் உண்மையை மறைத்தார்கள். அதன் நிமித்தமாக உயிரை இழந்தார்கள். தேவ எச்சரிப்பு பெற்று மறைத்ததால் ஒரே நாளில் இருவரும் உயிர் இழக்கின்றனர். மேற்கூறிய அனைத்து உதாரணங்களும் மனிதனுக்கு படிப்பிக்கும் உண்மை என்னவென்றால் - அவருடைய ஆசிர்வாதங்களை பெறுவதில் இருந்து தடுத்து விடுகிறது! 
கர்த்தரின் ஆசீர்வாதமே ஐசுவரியத்தைத் தரும்; அதனோடே அவர் வேதனையைக் கூட்டார் - (நீதிமொழிகள் 10-22 பரிசுத்த வேதாகமம்)

           </p>
    </main>
  </body>
</html>
