---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>சமுதாயப் பிரச்சனைகள்
</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
       சமுதாயப் பிரச்சனைகள்

      </h1>
      <p class="mb-4 font-semibold" style="white-space: pre-line">
தேவன் ஆதியிலே வானத்தையும், பூமியையும் படைத்தார். படைத்த அனைத்தையும் ‘நல்லது’ என்று கண்டார். தான் படைத்த முதல் ஆணையும், பெண்ணையும், கணவன்-மனைவி என்னும் உறவுக்குள் கொண்டு வந்து ‘குடும்பம்’ என்னும் ஒரு பிணைப்பை உண்டாக்கினார். அநேக குடும்பங்கள் சேர்ந்து சமுதாயம் உருவாகியது. பல்வேறு நாடுகளின் கலாச்சாரம், பண்பாடு ஆகியவைகளின் அடிப்படையில் சமுதாய சூழல்களில் மாற்றங்களும், ஏற்ற, தாழ்வுகளும் உருவாகிக் கொண்டே இருக்கிறது. 
இவ்வாறு உருவான சமுதாயங்கள் அரசியல் சட்டங்களினால் ஆளப்படும் சூழ்நிலைகளும் உருவாகி விட்டது. ‘மனுக்குலம்’ என்னும் ஒரே குடையின் கீழ் வசித்து வந்த மக்கள், இப்போது ஜாதி, மதம், தொழில், மொழி, படிப்பு, பணம், கட்சி இவைகளின் அடிப்படையில் அலசடிபட்டு வெவ்வேறு “சமுதாயங்கள்” உருவாகி விட்டது. எனவே மேற்கூறிய கண்ணோட்டத்தில் அநேக பிரச்சனைகளும் உருவாகி விட்டன. சில தேசங்களில் பஞ்சம், சில தேசங்களில் யுத்தங்கள், நாட்டுக்கு விரோதமாக நாடு, மாநிலத்திற்கு விரோதமாக மாநிலம், மொழிக்கு விரோதமாக மொழி, உள் நாட்டு கலவரங்கள் என்று வேறுபட்ட பல பிரச்சனைகள் மனிதனை நிலைகுலைய வைக்கின்றன.
மனுக்குலத்திற்கு தீங்கு விளைவிக்கும்படி மனிதனால் மனிதனுக்கு ஏற்படும் பிரச்சனைகள் தான் சமுதாயப் பிரச்சனைகளாக உருவெடுத்து விட்டன. மனிதனே மனிதனை அழிக்கும் பெரும் சக்திகளாகவும் இப்பிரச்சனைகள் உருவெடுத்து விட்டன. இவைகளினால் ஏற்படும் விளைவுகள்:
சமுதாயத்தில் ஒற்றுமை குலைவு
மக்களின் உரிமையை பறித்தல்
நல்லிணக்கத்தின் மறைவு
பாதுகாப்பு குறைவு
பொருளாதார சீர்குலைவு
பகைமை உணர்ச்சி
முன்னேற்றத்தில் சரிவு
இவைகளுக்குக் காரணமான சமுதாயப் பிரச்சனைகள் :
இனவெறி (Racial discrimination)
மதவெறி (Religious discrimination)
ஜாதிவெறி (Caste Discrimination)
குடியுரிமை பிரச்சனைகள் (Immigration Problems)
வீட்டு வசதியில்லாமை (Housing Crisis)
சத்து உணவு கிடைக்காமலிருப்பது (malnutrition)
மருத்துவ வசதியின்மை (Health Care)
அரசியல் வன்முறைகள் (Political Violence)
அரசியல் ஊழல்கள் (Political Corruption)
முதியவர் வாழ்வில் தடுமாற்றம் 
குழந்தைத் தொழில் - கொத்தடிமை முறை
இவைகளெல்லாவற்றிற்கும் மேலாக இந்த 21 ஆம் நூற்றாண்டில் சமுதாயத்தைக் கறைபடுத்தும் பெரிய பிரச்சனை சமூக வலைதள ஊடகங்கள் ஆகும். வலை தளங்கள் தான் மனிதனை தற்காலத்தில் அதிகமாக சிறைப்படுத்தி பலவிதமான காம விகாரங்களுக்குள்ளும், வன்முறை செயல்களுக்கும் மனிதனை நடத்திக் கொண்டு போகின்றன. அதிலிருந்து மீள முடியாமல் அனைத்து வயதினரும் தடுமாறிக் கொண்டிருக்கிறார்கள். பொழுது போக்கு என்னும் பெயரில் சமுதாயம் இன்று தன்னை அதிகமாக கறைப்படுத்தி விட்டது. 
விரிக்கப்படும் வலைகள் பலவிதம்! 
வலைகளின் வேலையோ ஒரே விதம்! 
அகப்பட்டன. அள்ளிச் சுரட்டுவதும் 
மாட்டிக் கொண்டதை மாளச் செய்வதுமே! 
வலைகளுக்குள் அகப்பட்ட அனைத்துமே 
வலை விரித்தவனுக்கே சொந்தம்! 
மீனவனின் வலைமீன்கள் மீனவனுக்கே! 
வேடனின் வலை விலங்கு வேடவனுக்கே! 
வலை தளத்தின் வலை உயிர் யாருக்கு? 
வலை விரித்த அலகைக்கே சொந்தம்! 
வலைதளம் விரிக்கும் வலைகளை 
எழுதுகிறேன். படியுங்கள்! (சுநக: பரிசுத்த வேதாகமம்)
வலை விரிக்கும் வலைதளங்கள்!
ஆசையாய் விரித்து ஆவலாய் இழுக்கும் மோச வலைகள். (வெளி 3:3) 
பாசமாய் விரித்து ஆசையாய் இழுக்கும் பாவ வலைகள் (நீதிமொழிகள் 25:4) 
நேயமாய் விரித்து அள்ளி இழுக்கும் மாய வலைகள் (வெளி 2:24) 
வேகமாய் விரித்து தேகத்தை இழுக்கும் மோக வலைகள் (வெளி 2:20)
கவனமாய் விரித்து கண்களை இழுக்கும் காம வலைகள் (பிர 2:10,11) 
செல்லமாய் விரித்து கள்வனாய் இழுக்கும் கள்ள வலைகள் (நீதி 14:32) 
திருட்டுத் தண்ணீரில் விரித்து திருடி இழுக்கும் திருட்டு வலைகள் (நீதி 9:17) 
திரும்பித் திரும்பி விரித்து சிரித்து இழுக்கும் திருப்தியற்ற வலைகள் (நீதி 27:20) 
திரை மறைவில் விரித்துக் கறைபடுத்தி இழுக்கும் மறைவான வலைகள் (சங் 142:3)
ஒளி போல் விரித்து, இருளக்குள் இழுக்கும் இருட்டு வலைகள் (நீதி 14:12) 
நல்லவை போல் விரித்து நல்லோரையும் இழுக்கும் முள்ளான வலைகள் (நீதி 16:25)
நண்பனாய் விரித்து, பகைவனாய் இழுக்கும் மரண வலைகள் (நீதி 14:12) 

பொல்லாத வலைதள வலைகளில் நிலை குலைந்த உலகமே! 
என்ன வந்தது உனக்கு! எங்கே போகிறாய் நீ? 
நிலை குலைந்த உனக்காய் விலை கொடுத்த விண்ணவர் 
வலையொன்று செய்தாரே கல்வாரி சிலுவையில்! 
இழந்து போன உன்னை இழுத்து மீட்கும் 
இரட்சகரின் வலைக்குள் வருவாயா நீயும்? 
அப்பாவின் அன்பினைத் தப்பாமல் ருசிப்பாயே! 
வெறுப்பாயே சிற்றின்பம், பெறுவாயே பேரின்பம்! 
தருவாரே ஆனந்தம் பெறுவாயே ஆசிகள்! 
நேசரேசு விடுதலை, நித்திய விடுதலை! 
பரிசுத்தம் இம்மையில்! நித்தியம் மறுமையில்.

இவைகளுக்கு பரிசுத்த வேதாகமம் தரும் பெயர் “மாம்சத்தின் கிரியைகள்” எனப்படுவதே ஆகும். அவையாவன: விபச்சாரம், வேசித்தனம், அசுத்தம், காம விகாரம், விக்கிரகாராதனை, பில்லி சூனியம், பகைகள், விரோதங்கள், வைராக்கியங்கள், கோபங்கள், சண்டைகள், பிரிவினைகள், மார்க்க பேதங்கள், பொறாமைகள், கொலைகள், வெறிகள், களியாட்டுகள் முதலானவைகளே. (கலாத்தியர் 5:19–21 பரிசுத்த வேதாகமம்) எதை நாம் விதைக்கிறோமோ அதைத்தான் நாம் அறுக்க முடியும். எனவே சமுதாயப் பிரச்சனையை மேல் தளத்திலிருந்து சரி செய்வது கூடாத காரியம்.
சமுதாயத்தின் அடிப்படை நிறுவனம் : குடும்பம், ஒவ்வொரு ஆணும், பெண்ணும் தங்களது குடும்பப் பொறுப்புகளை சரியாக அறிந்து அடுத்த தலைமுறையினரை உருவாக்க வேண்டும். இது தான் படைப்பாளரின் நோக்கம். ஆனால் இன்றோ, குடும்பங்களின் பிரச்சனை உறவுப் பிரச்சனையாக மாறி பெரிய அளவில் சமுதாயப் பிரச்சனையாக மாறி விட்டது. இதற்கு சரியாக வித்திட வேண்டிய திருச்சபைகளுக்குள்ளும் சமுதாயமும், அரசியல் செயல்பாடுகளும் நுழைந்து விட்டன. எனவே ஒரு இருண்ட சமுதாயம் உருவாகி வருகிறது. மனிதன் நிலைகுலைந்து வாழ்கிறான். நித்திய அழிவுக்குள் மாய்கிறான். ஆனால் இப்படிப்பட்ட பாவ சமுதாயத்தை மீட்டுக் காப்பதே படைப்பாளரின் நோக்கம். எனவே அவரே மனிதனாக வந்து பாவபரிகாரியாகத் தன் உயிரையே சிலுவையில் மாய்த்து புணர் வாழ்வை அளித்திருக்கிறார். 
அதுவே சமுதாயத்தை சீர்திருத்தும் ஒரே வழி! ஏனென்றால் இறைவனின் குணங்களாகிய அன்பு, சந்தோஷம், சமாதானம், நீடிய பொறுமை, தயவு, நற்குணம், விசுவாசம், சாந்தம், இச்சையடக்கம் என்னும் பிரமாணத்திற்கு விரோதமாக ஒன்றுமில்லை. எனவே அடித்தளமாகிய தனிமனிதன் சீர்பட வேண்டும். குடும்பம் சீர்பட வேண்டும். திருச்சபை சீர்பட வேண்டும். பின்புதான் சமுதாயம் சீர்படும். அன்போடும் பண்போடும் செயல்படும் மனிதன் கடவுளின் தன்மைகளை உள்வாங்கும் மனதை உடைய மனிதனாக மாறும்போது மட்டுமே பிறரை தன்னிலும் மேன்மையாகக் கருத முடியும். “நீங்கள் ஒருவரையொருவர் கடித்துப் பட்சித்தீர்களானால் அழிவீர்கள். அப்படி ஒருவரால் ஒருவர் அழிக்கப்படாதபடிக்கு எச்சரிக்கையாய் இருங்கள்” என்று பரிசுத்த வேதாகமம் எச்சரிப்பு கொடுத்து ஆயிரம் வருடங்களுக்கு மேல் ஆகிவிட்டது. ஆனால் மனிதனுக்குள் இருக்கும் ஆவி, ஆத்துமாவும், சரீரமும் ஒன்றுக் கொன்று விரோதமாகவே செயல்படுகின்றது. (கலாத்தியர் 5:15-17 பரிசுத்த வேதாகமம்)
எனவே மனிதன் இந்த பேரழிவிலிருந்து சமுதாயத்தைக் காப்பாற்ற ஒன்றாகிய மெய் தெய்வமாகிய இயேசு கிறிஸ்துவை அறிய வேண்டும். அவரை அறிந்த கிறிஸ்துவ மக்கள் ஏன் இந்த சமுதாயத்தில் இருக்கிறார்கள் என்று அறிந்து செயல்படவேண்டும்.
ஒவ்வொரு கிறிஸ்தவனும் பூமிக்கு உப்பு உலகத்திற்கு வெளிச்சம் :
பூமி என்பது (நயசவா) தேவன் மனிதன் வாழும்படியாக அவனுக்கு கொடுத்த கோளம். உலகம் என்பது மனிதன் உருவாக்கின சமுதாயம். தேவன் சகலத்தையும் “நல்லது” என்று சொல்லி படைத்து மகிழ்ந்தார். ஆனால் மனிதன் உருவாக்கின சமுதாயம் இருண்ட உலகமாகிவிட்டது. இந்த உலகத்திற்கு வெளிச்சம் தேவை. தன்னைப் படைத்த இறைவனின் வெளிச்சம் தேவை. ஆனால் மனிதன் வெளிச்சத்தை விட இருளை விரும்புகிறான். வெளிச்சத்தில் வந்தால் தன் இருட்டு வெளியரங்கமாகிவிடுமே என்று அவன் இறைவனை விட்டு தூரமாகவே ஓடி ஒளிகிறான். அப்படி ஓடி மறையும் வரை இருண்ட சமுதாயத்திற்கு வெளிச்சம் கிடைக்க எந்த வித வாய்ப்பும் இல்லை. நம்மை அன்போடு அழைக்கும் இறைமகன் இயேசுவிடம் ஓடி வருவோம். ஒளி பெறுவோம். ஒரு ஐPவனுள்ள புது சமுதாயத்தை எழுப்புவோம்.
யுத்தங்களும், யுத்தங்களின் விளைவுகளும்
மனுக்குலத்தை மிகவும் நிலைகுலைய வைக்கும் இன்னுமொரு பெரிய பிரச்சனை யுத்தங்களும், போர்களுமே ஆகும். சமீப காலத்தில் உக்ரைன், ரஷ்யா மற்றும் இஸ்ரவேலில் நடக்கும் யுத்தங்கள் அளவற்ற பின்விளைவுகளையும், இடறல்களையும், உயிர் இழப்புகளையும் ஏற்படுத்தியுள்ளன. 
ஒரு தேசம், மறு தேசத்தின் மேல் காழ்ப்புணர்ச்சியுடன் செயல்பட்டு எடுக்கும் முடிவுகள், மனித நேயத்திற்கு அப்பாற்பட்டவை. அநேக மக்கள் வீடுகளையும், உடைமைகளையும் இழந்து, அருமையான உடன் பிறப்புகளையும், பெற்றோர், உற்றாரையும் இழந்து, பெரும் அவதிக்குள்ளாவது யாவரும் அறிந்த உண்மை. ஆனால் இந்த பிரச்சனைக்கு ஒரே ஒரு தீர்வு மட்டுமே உண்டு. அது மனிதன் கடவுளிடம் ஓடுவது மட்டுமே.
கடவுள் மட்டுமே அன்பின் உறைவிடம்
ஆபத்தில் மறைவிடம்
வெயிலில் நிழலிடம்
“ஆபத்துக்காலத்தில் என்னை நோக்கிக் கூப்பிடு; நான் உன்னை விடுவிப்பேன், நீ என்னை மகிமைப்படுத்துவாய்;” என்கிறது பரிசுத்த வேதாகமம் - சங்கீதம் 50:15 கடவுளால் மட்டுமே ஆபத்தில் மனிதனுக்கு உதவி செய்ய முடியும் என்பதை மனிதன் அறிந்தால் மட்டுமே கடவுளின் உதவியைத் தேடுவான். எனவே தான் கடவுள் யார் என்பதையும், அவரை மனிதன் எப்படி அணுக முடியும் என்பதையும் கூற முற்படுகிறோம்.
மனிதனே மனிதனுக்கு விரோதியாக மாறாதபடி ஒரு புதிய ஐPவனுள்ள சமுதாயம் உருவாக இறைவனை வேண்டுவோமாக!
இன்றைய சமுதாயத்தின் சீரழிவுக்குக் காரணம்
இன்றைய சமுதாயத்தின் சீரழிவுக்குக் காரணம் மனிதனின் சுயநலமே!
மனிதர்கள் இன்றைய சமுதாயத்தில் தன்னலம் கருதினவர்களாகவே செயல்படுகிறார்கள். தன்னை முன் வைத்து தான் ஒவ்வொரு தனி நபரும் முடிவுகளை எடுக்கிறார்கள். குடும்பத்திலும் “நான்” தான் தலைவன் பெரியவன். என் முடிவுதான் எல்லா பிரச்சனைகளுக்கும் தீர்வு என்று கணவன் கூறுகிறான். ”நான்” தான் தலைவி, இப்புது யுகம் புதுமைப் பெண்களின் யுகம் என்று அரசியல்வாதிகளும் தன்னலம் கருதி, பெண்கள் மூலம் தங்கள் ஓட்டு வங்கியை பலப்படுத்த ஏராளமான திட்டங்களையும், சலுகைகளையும் கொண்டு வந்து பெண்களில் பலர் தங்கள் சொந்த கணவனையும், தாங்கள் பெற்ற பிள்ளைகளையும் அசட்டை செய்யும் ஒரு சமுதாயம் உருவாகி விட்டது. வீட்டில் இருந்து தன் கணவனையும், பிள்ளைகளையும் கவனிப்பதை முன்னுரிமையாகக் கொண்டுள்ள பெண்கள்” சும்மா இருப்பவர்கள்” என்று கேலி செய்யப்படுகின்றனர். பெண்கள் உரிமைப் போராட்டங்கள் உலகளாவி விட்டது. சமுதாயத்தில் மதிப்பு வேண்டுமென்றால் பணம் சம்பாதிக்க வேண்டும் என்கிற போலி கௌரவம் சமுதாயத்தைக் கறைப்படுத்தி விட்டது.
சமுதாயத்தின் ஆணி வேர் குடும்பம். (The Root)
சமுதாயத்தின் அஸ்திபாரம் குடும்பம்; (The foundation)
ஆனால் இன்றோ எல்லா குடும்பங்களும் பணம் சம்பாதித்து, தங்கள் சுயநல தேவைகளைப் பெருக்கி, போட்டி மனப்பான்மையையும் பொங்கவிட்டு, சமுதாயத்தின் சீரழிவுக்குக் காரணமாகி விட்டன. இதை பரிசுத்த வேதாகமம் பல நூற்றாண்டுகளுக்கு முன்பே சித்தரித்துக் காட்டி விட்டது. படித்துப் பார்த்து உணர வேண்டியது நமது கடமை.
மேலும், கடைசி நாட்களில் கொடிய காலங்கள் வருமென்று அறிவாயாக.
எப்படியெனில், மனுஷர்கள் தற்பிரியராயும், பணப்பிரியராயும், வீம்புக்காரராயும், அகந்தையுள்ளவர்களாயும், தூஷிக்கிறவர்களாயும், தாய்தகப்பன்மாருக்குக் கீழ்ப்படியாதவர்களாயும், நன்றியறியாதவர்களாயும், பரிசுத்தமில்லாதவர்களாயும்,
சுபாவ அன்பில்லாதவர்களாயும், இணங்காதவர்களாயும், அவதூறு செய்கிறவர்களாயும், இச்சையடக்கமில்லாதவர்களாயும், கொடுமையுள்ளவர்களாயும், நல்லோரைப் பகைக்கிறவர்களாயும்,
துரோகிகளாயும், துணிகரமுள்ளவர்களாயும், இறுமாப்புள்ளவர்களாயும், தேவப்பிரியராயிராமல் சுகபோகப்பிரியராயும்,
தேவபக்தியின் வேஷத்தைத் தரித்து அதின் பெலனை மறுதலிக்கிறவர்களாயும் இருப்பார்கள்;. (2 தீமோத்தேயு 3:1–5)
இப்படிப்பட்ட சமுதாயத்தில் வளரும் இளம் தலைமுறையினரும் தேவபயம் அற்றவர்களாய் தங்களை மட்டுமே பிரியப்படுத்துகிற செயல்களில் ஈடுபடுவதையே நாடுகிறார்கள். மேலும் அரசியலிலும், சுயநலம், திருச்சபைகளிலும் சுயநலம், தங்களுக்கு ஆதாயம் இல்லாத எதையும் நாடுவதில்லை. பிறருக்கு நன்மை செய்ய வேண்டும். யாருக்கும் நாம் இடறுதலாக இருக்கக்கூடாது என்கிற எண்ணம் இன்றைய சமுதாயத்தில் முற்றிலும் மறைந்து விட்டது.
எனவே ‘மனிதன்’ மாறினால் மட்டுமே சமுதாயம் சீர் பெற முடியும். மனிதன் மனிதனாக மாற வேண்டும். தன் நிலை குலைந்து மிருகத்திலும் கீழாக செயல்படும் மனிதன், தான் படைக்கப்பட்ட நோக்கத்தை அறிந்து, தன்னைப்படைத்த தேவனில் அன்புகூர்ந்து, பிறனிலும் அன்பு கூறப் பழகும் போது மட்டுமே சமுதாயம் உயிர் பெறும். மனிதப் பண்புகள் காக்கப்பட வேண்டும். எனவே அடிப்படையில் ‘குடும்பம்’ என்னும் அமைப்பு சீர்பெற ஒவ்வொரு ஆணும், பெண்ணும் தீர்மானம் எடுத்து செயல்பட்டால் மட்டுமே சமுதாயம் சீர் குலையாமல் சீர்பெறும் என்பதில் சிறிதளவும் சந்தேகம் இல்லை.
நம்மை அன்போடு அழைக்கும் இறைமகன் இயேசுவிடம் ஓடி வருவோம். ஒளி பெறுவோம். ஒரு ஐPவனுள்ள புது சமுதாயத்தை எழுப்புவோம்.
புதிய ஜீவனுள்ள சமுதாயத்தை எழுந்து கட்டுவோம் வாருங்கள்!
எண்ண அலைகள்… எண்ணற்ற உறவுகள்….. 
இன்ப சாகரத்தின் உறவுகளை அழிக்கும் 
பாவ அலைகள்….. சாப அலைகள்…… 
சீறும் புயலாம் வெறியரின் கொலைகள்…. 
இருளின் செயலால் மருளும் மாலைகள்! 
மாறாக் களியாட்டு! தீராத வேதனை! 
வேராய் ஊன்றிய பொல்லாத போதனை! 
அல்லல்கள், தொல்லைகள் இல்லாமல் போகவே 
பள்ளங்கள், மேடுகள், பாதையாய் மாறவே 
செத்த இச்சமுதாயம் சீருடன் எழும்பவே 
பெத்தலை நாதனிடம் வேண்டுவோம்! வாருங்கள்!
புத்தியுள்ள மனிதர்களாய் சமுதாயம் எழுப்புவோம். 
புத்தியுள்ள மனைவிகளாய் மனைகளைக் கட்டுவோம். 
சுத்திவரும் காளையரின் கல்மனதை உடைப்போம்! 
புத்தியில்லா கன்னியரின் தீபங்களைக் கொழுத்துவோம்! 
சத்தியமாம் கச்சைதனை கனிவுடனே உடுப்போம்! 
உறவுகளை முறிக்க வரும் சாத்தானைக் கட்டுவோம்! 
உறுதியான உள்ளங்களை உண்மையுடன் கட்டுவோம்! 
பக்திப் பரவசமாய்ப் பரமனைப் பாடியே கட்டுவோம்! 
அத்தனையும் கர்த்தனையே போற்றும்படி கட்டுவோம்! 
மோட்சத்தின் மன்னர் மகிமை பேசினால் 
மோசம் போக இடமில்லாமல் போகுமே! 
பாவ அறிக்கை நாளும் செய்தால் யாரும் 
பாழாய் போகாமல் பரதீசைப் பெறலாமே! 
வேத நூலை உயிராய்ப்; போற்றும் மாந்தர்
வேண்டும் ஜீவ அப்பம் பெறலாம் நாளும்! 
மாண்டிடும் மனுக்குலம் மலர்ந்து எழும்ப 
வேண்டும் உள்ளங்கள் முழங்கால் ஊன்ற 
வெட்டியே வெகுண்டு ஓடும் நெஞ்சங்கள் 
தட்டிடும் தற்பரன் ஓசை கேட்டுமே! 
கட்டுவோம்! புதுச் சமுதாயம் கட்டுவோம்! வாரீர்! 
காடு மேடாய் ஓடும் ஆட்களைத் தேடுவோம்! 
வீடு வீடாய் அலையும் வீணர்களை நாடுவோம்! 
தேடும் நல்மேய்ப்பர் நாமம் கூறுவோம்! 
ஓடும் ஜீவ ஊற்றில் பருகிடச் செய்வோம்! 
மேடுகளைத் தகர்ப்பாரே தற்பரன் விந்தையாய், 
நாடுவோம் நாதனின் நலமான சித்தத்தை 
சாடுவோம். பிசாசின் தந்திர திட்டத்தை 
பாடுவோம். பரமனின் சிலுவை வெற்றியை 
ஓடுவோம். இறைமகன் இயேசுவை நோக்கியே 
சூடுவோம். கிரீடம் சுடரொளி வீசவே 
கட்டுவோம். புதுச் சமுதாயம் கட்டுவோம் வாரீர்.




    </main>
  </body>
</html>
