---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>இயற்கை சீற்றங்களால் மனிதன் சந்திக்கும் சேதங்கள்:</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
        இயற்கை சீற்றங்களால் மனிதன் சந்திக்கும் சேதங்கள்:
      </h1>
        <p class="mb-4 font-semibold" style="white-space: pre-line">
        சீராக சென்று கொண்டிருக்கும் மனிதவாழ்வு தடம் புரண்டு விடுதல்.
வீடுகளை இழத்தல்
உடமைகள், சுகம், குடும்ப உறவுகள் கூட உடைந்து விடும்.
தனிமை!
பசி, பட்டினி!
சொல்லி விவரிக்க முடியாத மனவேதனை!
உடல் நலிவு;, மற்றும் உதவியற்ற நிலைமை!
எப்பக்கமும் இருள் சூழ்ந்த நாட்கள்!
இச்சூழ்நிலைகளில் மனிதன் சந்திக்கும் சவால்கள்:
சீரான மனநிலையை காத்துக் கொள்ளுதல்!
மனக் குழப்பங்களைத் தவிர்த்தல்!
எப்படியும் சமாளித்து, மறுபடியும் நிலைநின்று விடலாம்  என்னும் நம்பிக்கை!
கடவுளைத் தேடி அவரையே பிடித்துக் கொள்ளும் மனநிலை.
சக மனிதர்களுக்கும் உதவி செய்யும் மனநிலை.
செய்ய முடிகிற புணர்வாழ்வு முறைமைகளை திடமனதுடன் தைரியமாக மேற்கொள்ளுதல்.
அரசாங்க உதவிகளுக்கு முறையிடுதல்.
இச்சூழ்நிலைகளில் தேவனைக்குறித்த அறிவு நம் பயத்தைப் போக்கிவிட உதவும் என்பதில் சிறிதளவும் சந்தேகமில்லை. ஏனென்றால் அவரது வல்லமை, மகிமை பொருந்திய கரம் நம்மை  ஆபத்தான சூழ்நிலைகளிலிருந்து மீட்க உதவி செய்யும் என்பது உண்மையிலும் உண்மை. எனவே கடவுளின் தன்மைகளை நாம் அறிந்து கொள்வது மிகவும் அவசியம். (His Characters must be known) ஏசாயா 9:6ம் வசனம் -
அவர் அதிசயமானவர் (Wonderful)
இது கடவுளின் ஒரு பெயர். அவரால் செய்யக்கூடாத அதிசயமான காரியம் ஒன்றுமில்லை. கடவுள் மனிதனை சந்திக்க மறு உரு ஏற்றபோது ஒரு கன்னிகையின் கர்ப்பம் தெரிந்தெடுக்கப்பட்டது ஒன்றே போதும,; தேவனது வல்லமையை நிரூபிக்க. (லூக்கா 1:37 பரிசுத்த வேதாகமம்).
அவர் ஆலோசனை கர்த்தர்: (The Counsellor) 
ஆபத்தான சூழ்நிலைகளில் சரியான ஆலோசனை மிகவும் தேவை. மனிதர்கள் தரும் ஆலோசனையை விட கடவுளின் ஆலோசனையையும் நாம் பெறுவதற்கு அதிக வழிமுறைகள் உண்டு. அதற்கு சத்தியம் நமக்குத் தெரிய வேண்டும். சத்திய ஆவியாகிய பரிசுத்த ஆவியானவர் நமக்குள் வாசம் பண்ணுகிறார் என்பதே அந்த சத்தியம். அவர் யார்? அவர்தான் இயேசு கிறிஸ்துவின் உயிர். ஆள்தத்துவம் கொண்டவர். அவர் ஞானத்தையும், உணர்வையும், அருளும் ஆவியானவர். ஆலோசனையையும், பெலனையும் அருளும் ஆவியானவர். அறிவையும், கர்த்தருக்குப் பயப்படுகிற பயத்தையும் அருளும் ஆவியானவரின் ஆலோசனைக்கு நிகரான ஆலோசனை வேறெங்கும், வேறொருவரிடமிருந்தும் வர முடியாது. அவர் ஒருவரே ஆபத்துக்காலத்தில் அனுகூலமான துணையுமானவர். அவர் தம் கண் கண்டபடி நியாயந்தீர்க்காமலும், தமது காது கேட்டபடி தீர்ப்புச்செய்யாமலும், நீதியின்படி மக்களுக்கு தீர்ப்புச் செய்கிறவர். சன்மார்க்கனுக்கும், துன்மார்க்கனுக்கும் ஆபத்துக்களும், அபாயங்களும் இவ்வுலகத்தில் உண்டு. ஆனால் இருவரின் கிரியைகளின் படியே தேவ ஒத்தாசை தேடி வரும் என்பதில் சந்தேகமேயில்லை. (ஏசாயா 11:2–4 பரிசுத்த வேதாகமம்).
வல்லமையுள்ள தேவன்:  (Mighty Lord)
வல்லமை தேவனுடையது. நம்முடைய வேளைக்குத் தேவையான வல்லமையை தேவன் மட்டுமே தர முடியும். (The POWER OF THE HOUR is from God alone) இந்த வல்லமையை நாம் பெற வேண்டுமானால் தேவ தயவை நாம் முதலாவது பெற வேண்டும். ஏந்த சூழ்நிலையிலும் நாம் இந்த வல்லமையை நமது விசுவாசக் கைகளினால் தொட முடியும். அன்று ஆண்டவராகிய இயேசு கிறிஸ்து மனிதனாக வாழ்ந்த காலத்தில் அநேகர் அவரைத் தொட்டு வல்லமையை உணர்ந்து விடுதலை பெற்றார்கள். 
அநேகரை அவர் தொட்டதும் நாம் அறிந்த உண்மை. குஷ்டரோகியும் தொடப்பட்டான். இன்று நாம் எப்படி அவரைத் தொடமுடியும்? அவரது தொடுதலை நாம் எப்படி உணர முடியும்? அவரது வார்த்தையின் மூலம் மட்டுமே நாம் அவரை அனுபவிக்க முடியும். எனவே நன்மையான காலங்களில் வேதத்தை அடிக்கடி வாசித்து, நேசித்து, கர்த்தர் நல்லவர் என்று ருசித்தீர்களானால்; தீமையான காலங்கள், ஆபத்துக்கள் சடுதியாய் நம்மைத் தாக்கும் போது நாம் தேவனது வல்லமையால் புகலிடம் பெறலாம் என்பது உண்மையிலும் உண்மை.
நித்திய பிதா: (Everlasting Father)  
‘பிதா’ என்றால் ‘அப்பா’ என்று அர்த்தம். நம் உலகபிரகாரமான ‘அப்பா’, ‘அம்மா’ ஆகியோர் நமது எல்லா சூழ்நிலைகளிலும் நம்மை விடுவிக்க முடியாது. ஆனால் தேவாதி தேவன் தன்னை நமது ‘அப்பா’ என்று கூறுகிறார். இது எப்படி சாத்தியமானது? அவரது ஒரே பேறான குமாரன் இயேசுவின் மூலமாக மனிதர்களாகிய நமக்கு இயேசுவின் பிதாவாகிய தேவன் அப்பாவாகி விடுகிறார். இதுதான் நல்ல செய்தி – தேவனிடமிருந்து மனுக் குலத்திற்கு வந்த நல்ல செய்தி! சுpல வசனங்களை வேதத்திலிருந்து ஆதாரமாகப் பார்ப்போமா!
மத்தேயு 5:16 “பரலோகத்திலிருக்கிற உங்கள் பிதா”
மத்தேயு 5:45 “பரலோகத்திலிருக்கிற உங்கள் பிதா”
மத்தேயு 5:48 “பரலோகத்திலிருக்கிற உங்கள் பிதா”
மத்தேயு 6:1 “பரலோகத்திலிருக்கிற உங்கள் பிதா
மத்தேயு 6:6 “அந்தரத்திலிருக்கிற உன் பிதாவை நோக்கி”
                “அந்தரங்கத்தில் பார்க்கிற உன் பிதா”
மத்தேயு 6:9 “பரமண்டலங்களிலிருக்கிற எங்கள் பிதாவே”
மத்தேயு 6:14 “உங்கள் பரம பிதா உங்களுக்கும் மன்னிப்பார்”
மத்தேயு 6:15 “உங்கள் பிதா உங்கள் தப்பிதங்களையும் மன்னியாதிருப்பார்” 
மத்தேயு 6:18 “அந்தரங்கத்தில் பார்க்கிற உன் பிதா”
மத்தேயு 6:26 “அவைகளையும் உங்கள் பரம பிதா பிழைப்பூட்டுகிறார்”
மத்தேயு 6:32 “உங்கள் பரம பிதா அறிந்திருக்கிறார்”
மத்தேயு 7:11 “பரலோகத்திலிருக்கிற உங்கள் பிதா”
மத்தேயு 5, 6ம் அதிகாரங்கள் இயேசு சொன்ன மலைப்பிரசங்கம் என்று உலகம் முழுவதும் அறியப்பட்டுள்ள பகுதியாகும். இந்த உபதேசங்கள் அடங்கிய பகுதிகளில் தேவாதி தேவன் தன்னை உலகமனைத்திலும் உள்ளோரின் நித்திய அப்பாவாக அறிமுகப்படுத்துகின்றார். எவ்வளவு பெரிய பாக்கியம் நமக்கு. நம்மைப் பெற்ற பெற்றோர் நமது ஆபத்துக்காலங்களில் நமக்கு உதவி செய்ய முடியாமல் போகலாம். ஆனால் ‘பரம பிதா’ வாகிய நித்திய அப்பா, எந்தக் காலத்திலும், எந்த சூழ்நிலையிலும் நமக்கு உதவி செய்ய முடியும். ஆனால் தேவாதி தேவன் நமக்கு அப்பாவாக வேண்டுமென்றால், இயேசு கிறிஸ்துவின் வழியாகத்தான் முடியும். தேவாதி தேவனின் இரத்தத்தின் வழியாகவே பரிசுத்த பிதாவிடம் சேர முடியும். நாம் யாவரும் பாவிகளாயிருக்கையில் கிறிஸ்து இயேசு நமக்காக மரித்ததினாலே அந்த அன்பு மட்டுமே நம்மை மோட்ச கரை ஏற்ற முடியும். இரட்சிக்க முடியும். “இயேசுவே” என்று அப்பாவை உரிமையோடு கூப்பிட்டுப்பார்! அப்பாவாகிய அவர் ஓடி வந்து உன்னை மீட்பார் என்பதில் சிறிதளவும் சந்தேகமில்லை!
சமாதான பிரபு: (Prince of Peace)
எப்படிப்பட்ட ஆபத்துக்கள், அபாயங்கள், போராட்டங்கள் சூழ்ந்த நேரத்திலும், நம் இருதயம் கலங்காமலிருக்க ஒரே வழி இயேசுவின் மேல் நாம் வைக்கும் விசுவாசம் மட்டுமே. இயேசு சொல்வதைக் கேளுங்கள், “உங்கள் இருதயம் கலங்காதிருப்பதாக, தேவனிடத்தில் விசுவாசமாய் இருங்கள், என்னிடத்திலும் விசுவாமாயிருங்கள்” (யோவான் 14:1- பரிசுத்த வேதாகமம்) என்பதே. 
இயேசு கிறிஸ்து  தேவனுடைய குமாரன் என்றும், தேவாதி தேவனே நம்மை மீட்கும் பாவ நிவாரண பலியாக வந்தார் என்பதை விசுவாசிக்கும் ஒவ்வொருவரும் தேவனுடன் சமாதானமாகிறார்கள். (Peace with God) இதை ஒப்புரவு (reconciliation) என்று சொல்லுகிறோம். அதாவது தேவனுடன் மனிதனுக்கு இருந்த ‘பகை’ யாகிய நடுச்சுவர் தகர்க்கப்பட்டு விட்டது. எதினால்? பாவ பரிகாரமாக இயேசுவின் இரத்தம் செலுத்தப்பட்டு விட்டதால் மட்டுமே முன்னே தூரமாய் இருந்த மனுக்குலம் தேவனுக்கு மிக சமீபமாகி விட்டது. சுமாதானம் செய்து கொண்டார் தேவன்! இதை ஆரம்பித்தவர் தேவனே (God initiated this peace process) மனிதன் எவ்வளவுக்கெவ்வளவு தேவனை விட்டு தூரமாய் ஓடினானோ, அவ்வளவுக்கவ்வளவாய் தேவன் மனிதனுக்கு சமீபமாய் வந்து அவனுடன் சமாதானம் செய்து கொண்டார். 
ஆனால், நீங்களும் நானும் இந்த மாபெரும் சமாதானத்தை ஏற்றுக் கொண்டிருக்கிறோமா? என்பதுதான் இன்றைய கேள்வி. இன்று சமாதானத்தைத் தேடி மனுக்குலம் எங்கெல்லாமோ ஓடுகின்றது! எதையெல்லாமோ தேடுகிறது! கடைசியில் சமாதானம், சுகம், பெலன் எல்லாவற்றையும் இழக்கிறது. இதுதான் இன்றைய சமதாயத்தின் நிலைமை! தேவன் இன்று நம்மை அவரது சமாதானத்திற்குள் அழைக்கின்றார். 
இன்று உன்னதமான தேவனின் மறைவிடத்தில் ஒளிந்து கொள்ளப் பழகினால், ஆபத்துக் காலத்தில் நம்மை அவர் ஒளித்து வைத்துக் காப்பாற்றுவார் என்று பரிசுத்த வேதாகமம் உரைக்கிறது. இதோ! கேளுங்கள், “தீங்கு நாளில் அவர் என்னைத் தம்முடைய கூடாரத்தில் மறைத்து, என்னைத் தமது கூடார மறைவிலே ஒளித்து வைத்து, என்னைக் கன்மலையின் மேல் உயர்த்துவார்”. (சங் 27:5) 
	எனவே இன்று தேவனுடன் ஓர் உறவை ஏற்படுத்துவோமா? திரும்பி வரப் பழகுங்கள். நம்முடைய ஆசாபாசங்களை விட்டு இறைவனண்டை திரும்புவோம்! 

சிந்தனைக்கு:
உன்னைத் தேடும் நேசர்
கடவுளைத் தேடி அலையும் மானிடனே!
கடந்து வந்து உன்னைத் தேடும் இறைவன் உண்டென்று 
நீ அறிவாயோ!

அவரிருக்கும் இடம் நீ செல்ல இயலாதென்று 
நீயிருக்கும் இடம் இறங்கி வந்த இறைவனை 
நீ அறிவாயோ?

காடு மேடு ஓடி கண்டவிடம் மேய்ந்து காணாமல் போன 
ஆடாகிய உன்னைத் தேடிவரும் தெய்வத்தை 
நீ அறிவாயோ?

உன்னையும் என்னையும் செல்வந்தனாக்க 
தன்னை வெறுத்த தேவன் தரித்திரனானாரே, 
நீ அறிவாயோ?

உன் பாவம் என் பாவம் சுமந்து தீர்த்த 
உன்னத தேவன் பலியானாரே சிலுவைமரத்தில், 
நீ அறிவாயோ?

பலியான தேவன் நாற்பதாம் நாளில் பல்லோர் காண 
பரம் ஏறிச் சென்றாரே, மறுபடி வருகை தர 
நீ அறிவாயோ?

தேடிவந்த தேவன் தரும் தேவசமாதானம் 
ஈடிலா அமரிக்கை, அன்பு, நம்பிக்கை, 
நீ அறிவாயோ?

வா! வா! இயேசு பாதம் 
தருவார் ஆசீர்வாதம்!
வருவாயோ இந்நேரம்!
இன்னும் ஏன் தாமதம் ? ? ?        
 
   
        </p>
    </main>
  </body>
</html>
