---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>பூமியில் மனிதர்களின் தோற்றம் மற்றும் வாழ்க்கை:</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      property="title"
      content="பூமியில் மனிதர்களின் தோற்றம் மற்றும் வாழ்க்கை"
    />
    <meta
      property="description"
      content="தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும் என்று திட்டம் (Plan) பண்ணினார்"
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta
      property="og:title"
      content="பூமியில் மனிதர்களின் தோற்றம் மற்றும் வாழ்க்கை"
    />
    <meta
      property="og:description"
      content="தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும் என்று திட்டம் (Plan) பண்ணினார்."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta
      property="twitter:title"
      content="பூமியில் மனிதர்களின் தோற்றம் மற்றும் வாழ்க்கை"
    />
    <meta
      property="twitter:description"
      content="தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும் என்று திட்டம் (Plan) பண்ணினார்."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
        Origin and Life of Human Beings on the Earth
      </h1>
      <p class="mb-4 font-semibold">
        தேவனாகிய கடவுள் மனிதனைப் படைக்க வேண்டும் என்று திட்டம் (Plan) பண்ணினார்.
        அவனை வைப்பதற்காக ஒரு இடத்தை (Place) ஆயத்தம் பண்ண விரும்பினார்...
      </p>
      <h2 class="text-2xl font-bold text-[#108bf7] mb-4">
        நாள் - திட்டம் - இடம் - நோக்கம்
      </h2>
      <div class="overflow-x-auto mb-6">
        <table class="table-auto w-full border border-gray-300 text-sm">
          <thead class="bg-blue-100">
            <tr>
              <th class="border p-2"> நாள் </th>
              <th class="border p-2"> திட்டம் </th>
              <th class="border p-2"> இடம் </th>
              <th class="border p-2"> நோக்கம் </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border p-2"> நாள் 1 </td>
              <td class="border p-2"> வெளிச்சம் உண்டானது. ஆதியாகமம் 1:3 </td>
              <td class="border p-2"> இருளுக்குள் வைத்தார் </td>
              <td class="border p-2">
                இருளை மேற்கொள்ளவே வெளிச்சத்தையும் இருளையும் பிரிக்க
              </td>
            </tr>
            <tr>
              <td class="border p-2"> நாள் 2 </td>
              <td class="border p-2"> வானம் </td>
              <td class="border p-2"> ஆகாயத்தில் விரித்தார் </td>
              <td class="border p-2"> ஜலத்திலிருந்து ஐலத்தைப் பிரிக்க </td>
            </tr>
            <tr>
              <td class="border p-2"> நாள் 3 </td>
              <td class="border p-2">
                வெட்டாந்தரை (பூமி) பூமியின் மேல் செடி, கொடி, தாவரங்கள்
              </td>
              <td class="border p-2"> தரையில் </td>
              <td class="border p-2">
                மனிதன் வாழ்வதற்கு இடமும்;, சாப்பிடுவதற்கு தாவர, பழ
                வர்க்கங்களும்.
              </td>
            </tr>
            <tr>
              <td class="border p-2"> நாள் 4 </td>
              <td class="border p-2"> சூரிய, சந்திரன் நட்சத்திரங்கள் </td>
              <td class="border p-2"> வானத்தில் </td>
              <td class="border p-2">
                பகல், இரவு என்கிற வித்தியாசம் ஏற்பட...
              </td>
            </tr>
            <tr>
              <td class="border p-2"> நாள் 5 </td>
              <td class="border p-2"> நீந்தும் ஜீவ ஐந்துக்கள், பறவைகள் </td>
              <td class="border p-2">
                மீன்களை நீரிலும் பறவைகளை ஆகாயத்திலும்
              </td>
              <td class="border p-2"> மனிதனுக்கு உணவு </td>
            </tr>
            <tr>
              <td class="border p-2"> நாள் 6 </td>
              <td class="border p-2">
                காட்டுமிருகங்கள், நாட்டு மிருகங்கள், ஊறும் பிராணிகள்
              </td>
              <td class="border p-2"> பூமியில் </td>
              <td class="border p-2"> மனிதனுக்கு உதவி செய்ய... </td>
            </tr>
            <tr>
              <td class="border p-2"> மனிதன் </td>
              <td class="border p-2"> — </td>
              <td class="border p-2"> பூமியில் </td>
              <td class="border p-2"> தேவசாயலில் தேவனோடு வாழ! </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mb-4">
        ஏழாம் நாளில் தேவனாகிய கர்த்தர் ஓய்வு எடுத்து 7ம் நாளைப் பரிசுத்தமாக்கி,
        அதை ஆசீர்வதித்தார். மனிதனுக்குத் துணையாக மனுஷியையும் படைத்து இருவருடனும்
        தேவனாகிய கர்த்தர் தினமும் பகலில் குளிர்ச்சியான வேளையில் உறவாடி மகிழ
        வருவார். இதுவே மனிதனின் படைப்பின் திட்டமும், இடமும், நோக்கமும் ஆகும்.
      </p>
      <p class="mb-4">
        ஆனால் மனிதன் தேவ திட்டத்திற்குள் இருப்பதையும், அவர் வைக்கும் இடத்தில்
        இருப்பதையும் தான் செய்த பாவத்தின் விளைவாக இழந்து விட்டான். இதுவே
        மனிதனின் வீழ்ச்சி (The Fall of Man)
      </p>
      <h2 class="text-2xl font-bold text-[#108bf7] mb-4">எவ்வாறு இழந்தான்?</h2>
      <p class="mb-4">
        விலக்கப்பட்ட கனியாகிய நன்மை தீமை அறியத்தக்க விருட்சத்தின் கனியை
        புசிப்புக்கு நல்லதும், பார்வைக்கு இன்பமும், புத்தியைத் தெளிவிக்கிறதற்கு
        இச்சிக்கப்படத்தக்க விருட்சமுமாய் இருக்கிறது என்று கண்டு ஆதாமும் ஏவாளும்
        அந்த கனியை பறித்து புசித்தனர். இது தேவனுடைய அன்பின் கட்டளையை மீறி
        கீழ்ப்படியாமையின் மூலமாக தேவனது திட்டத்திலிருந்து அவர்களை
        விலக்கிவிட்டது.
      </p>
      <blockquote
        class="mb-4 px-4 py-2 border-l-4 border-[#108bf7] bg-[#f0f8ff]"
      >
        தேவனுடைய சமூகத்தில் இருந்தும் அவர்களை பிரித்துவிட்டது. இந்தப் பாவத்தை
        செய்த ஆதாமும் ஏவாளும் ஜீவவிருட்சத்தின் கனியையும் பறித்து புசித்து
        என்றென்றைக்கும் உயிரோடிராதபடிக்கும் தோட்டத்திலிருந்தும் விரட்டப்பட்டனர்.
        (ஆதியாகமம் 3:22-24 பரிசுத்த வேதாகமம்)
      </blockquote>
      <section class="my-8 px-4 py-6 bg-white rounded-xl shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">
          பூலோகத்தில் விழுந்த மனிதனின் வாழ்வு (Life of sinful man on earth)
        </h2>
        <p class="text-gray-700 mb-4 leading-relaxed">
          ஆதாம் ஏவாளின் குமாரர்களாகிய ஆபேல் காயீன் இருவரிடமும் அன்பு குறைவு
          ஏற்படுகிறது. தேவனது எச்சரிப்பைப் பெற்றும் காயீன் தன் சகோதரனாகிய ஆபேலை
          கொலை செய்கிறான்.
        </p>
        <p class="text-gray-700 mb-4 leading-relaxed">
          தேவகுமாரர் மனுஷகுமாரத்திகளோடே கூடினதால் ராட்சத வம்சம் பூமியிலே
          தோன்றியது.
          <span class="italic text-sm text-gray-500"
            >(ஆதியாகமம் 6:1-4 பரிசுத்த வேதாகமம்)</span
          >
        </p>
        <p class="text-gray-700 leading-relaxed">
          மனுஷனுடைய அக்கிரமம் பூமியிலே பெருகினது என்றும் அவன் இருதயத்தின்
          நினைவுகளின் தோற்றமெல்லாம் நித்தமும் பொல்லாததே என்று கர்த்தர் கண்டு
          தான் பூமியிலே மனுஷனை உண்டாக்கினதற்காக கர்த்தர் மனஸ்தாபப்பட்டார். அது
          அவர் இருதயத்திற்கு விசனமாய் இருந்தது.
          <span class="italic text-sm text-gray-500"
            >(ஆதியாகமம் 6:5-6 பரிசுத்த வேதாகமம்)</span
          >
        </p>
      </section>
      <section class="my-10 px-4 py-6 bg-white rounded-xl shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">
          மனிதனின் வாழ்வு – வீழ்ச்சிக்குப் பின்
        </h2>

        <p class="text-gray-700 mb-4 leading-relaxed">
          வீழ்ச்சிக்குப் பின் மனிதன் தேவ சமூகத்திலிருந்து விரட்டப்பட்டு
          விடுகிறான். அவன் தன் மனைவியுடன் கூடி வாழ்ந்து பிள்ளைகளைப் பெறுகிறான்.
          தலை முறைகள் தோன்றுகின்றன. நாகரீகம் துவங்க ஆரம்பித்தது. மனிதன் பித்தளை,
          இரும்பு முதலியவற்றில் தொழில் செய்யப் பழகுகிறார்கள். ஒருவருக்கொருவரும்
          பகைமை, கோபம், மூர்க்கவெறி தோன்றுகின்றது.
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          ஆனாலும் பலுகிப் பெருகி பூமியை நிரப்புகிறான். தேவனை படைப்பாளர் என்று
          மறக்கிறான். தன் கையாலேயே மரம் மற்றும் உலோகங்களில் சொரூபங்களைச் செய்து
          அவைகளை வணங்க ஆரம்பிக்கிறான். தங்களுக்கென்று தங்கள் விருப்பத்தின்படி
          தலைவர்களை வைத்துக் கொண்டான். முடிசூட்டும் மன்னர்கள் காலம் பிறந்தது.
          பின்னர் மனிதனே மனிதனை ஆண்டு கொள்ளும் குடியரசு நாடுகள் பிறந்தன. பலமுள்ள
          நாடுகள், பலவீன நாடுகளுக்கு எதிராக யுத்தங்களையும், போர்களையும்
          நடத்தினார்கள். முதலாம், இரண்டாம் உலகப் போர்கள் நடந்தன.
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          மக்கள் பல நாடுகளில் குடிபெயர்ந்தார்கள்; பிற நாடுகளில் குடியேறினார்கள்.
          இன்றும் மனிதனின் வாழ்வின் நோக்கம் தேவனது நோக்கத்திலிருந்து தடம்
          புரண்டு விட்டது. அறிவு பெருகியது. தேவ பயம் குறைந்தது. பாவம் நிறைந்தது.
          மனிதன் தன்னைப் படைத்த தேவனை மறந்து, தன் பணபலம், புய பலம், அறிவு பலம்
          இவைகளின் அடிப்படையில் விஞ்ஞான முன்னேற்றங்களை கண்டு பிடித்து
          மருத்துவம், விஞ்ஞானம், சரித்திரம் போன்ற பல எல்லைகளைக் கடந்து
          முன்னேற்றத்தை நோக்கி ஓடிக்கொண்டிருக்கிறான்.
        </p>

        <h3 class="text-xl font-semibold text-blue-700 mb-2">
          பூலோகத்தில் பாவம் இல்லாத வாழ்வு சாத்தியமா? (How to live sinless)
        </h3>

        <p class="text-gray-700 mb-4 leading-relaxed">
          தேவனால் பிறந்த எவனும் பாவம் செய்யான். ஏனெனில் அவருடைய வித்து
          அவனுக்குள் தரித்திருக்கிறது. பாவம் செய்கிறவன் பிசாசினால்
          உண்டாயிருக்கிறான். ஏனெனில் பிசாசானவன் ஆதி முதல் பாவம் செய்கிறான்.
          பிசாசினுடைய கிரியைகளை அழிக்கும் படிக்கே தேவனுடைய குமாரனாகிய இயேசு
          கிறிஸ்து வெளிப்பட்டார்.
          <span class="italic text-sm text-gray-500">(1 யோவான் 3:8,9)</span>
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          இயேசு கிறிஸ்துவை ஏற்றுக்கொண்டு மறுபடி பிறந்த தேவனுடைய பிள்ளைகள்
          நியாயப்பிரமாணத்திற்கு கீழ்ப்பட்டிராமல் கிருபைக்கு
          கீழ்ப்பட்டிருக்கிறபடியால் பாவம் அவர்களை மேற்கொள்ள மாட்டாது.
          <span class="italic text-sm text-gray-500">(ரோமர் 6:14,15)</span>
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          இந்த வசனங்களின் அடிப்படையில் ஒவ்வொரு தேவனுடைய மனுஷனும் பாவத்துக்கு
          செத்து நீதிக்குப் பிழைக்க தன்னை ஒப்புக்கொடுக்க வேண்டும்.
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          கீழ்படிதலில்லாத தெய்வ பக்தி பிரயோஜனமற்றது. ஆதாம் என்கிற முதல் மனிதனின்
          கீழ்ப்படியாமையினாலே அநேகர் பாவிகளாக்கப்பட்டிருக்கிறோம். ஆனால் இயேசு
          கிறிஸ்து என்னும் ஒரே மனிதனின் கீழ்ப்படிதலினாலே அநேகர்
          நீதிமான்களாக்கப்பட்டிருக்கிறோம்.
          <span class="italic text-sm text-gray-500">(ரோமர் 5:19)</span>
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          பலியை பார்க்கிலும் கீழ்ப்படிதலே உத்தமம்.
          <span class="italic text-sm text-gray-500">(1 சாமுவேல் 15:22)</span>
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          கீழ்ப்படியாமை தேவனுடைய கோபாக்கினைக்கு இடமுண்டாக்கும். ஆனால்
          கீழ்ப்படிதலோ எல்லா புத்திக்கும் மேலான தேவ சமாதானத்தையும்
          எந்நிலைமையிலும் மனரம்மியமாய் இருக்கும் மனோபாவத்தையும் தேவனுடைய பரிபூரண
          சித்தத்தை அறிந்து கொள்வதற்கு ஏதுவான மறுரூபமாக்கப்பட்ட மனதையும் தந்து
          வழிநடத்தும் என்பதில் சிறிதளவும் சந்தேகமில்லை.
        </p>
      </section>

      <section class="my-10 px-6 py-8 bg-white rounded-xl shadow-lg">
        <h2 class="text-2xl font-bold text-[#108bf7] mb-6">
          மனிதனின் மரணம் (Man’s Death)
        </h2>

        <p class="text-gray-800 mb-4 leading-relaxed">
          மனிதன் தன் சுய இச்சைகளினாலே இழுக்கப்பட்டு சிக்குண்டு
          சோதிக்கப்படுகின்றான். பின்பு இச்சையானது கர்ப்பம் தரித்து பாவத்தை
          பிறப்பிக்கும். பாவம் பூரணமாகும் போது மரணத்தை பிறப்பிக்கும். எனவே,
          இவ்வுலகில் பிறந்த ஒவ்வொரு மனிதனுக்கும் மரணம் உறுதி.
          <span class="block italic text-sm text-gray-500 mt-2"
            >– யாக்கோபு 1:14,15 (பரிசுத்த வேதாகமம்)</span
          >
        </p>

        <p class="text-gray-800 mb-4 leading-relaxed">
          இப்படிப்பட்ட பாவ மனிதனை மரணத்திலிருந்து விடுபட்டு அவனை இரட்சிக்கவே
          ஆண்டவராகிய இயேசு கிறிஸ்து உலகத்தில் தோன்றினார். அவரை தெய்வமாக ஏற்றுக்
          கொண்டு அவருடைய கற்பனைகளின்படி வாழும் ஒவ்வொரு மனிதனும் பாவத்திலிருந்து
          விடுதலையாக்கப்பட்டு தேவனுக்கு அடிமைகளானதினால் பரிசுத்தமாகுதல்
          அவர்களுக்கு கிடைக்கும் பலன். முடிவோ நித்தியஜீவன்.
        </p>

        <blockquote
          class="mb-4 px-4 py-3 border-l-4 border-[#108bf7] bg-[#f0f8ff] text-gray-700"
        >
          பாவத்தின் சம்பளம் மரணம். தேவனுடைய கிருபை வரமோ நம்முடைய கர்த்தராகிய
          இயேசு கிறிஸ்துவினால் உண்டான நித்திய ஜீவன்.
          <span class="block italic text-sm text-gray-500 mt-2"
            >– ரோமர் 6:22,23 (பரிசுத்த வேதாகமம்)</span
          >
        </blockquote>
      </section>
      <section class="my-10 px-6 py-8 bg-white rounded-xl shadow-lg">
        <h2 class="text-2xl font-bold text-[#108bf7] mb-6">
          சபை எடுத்துக் கொள்ளப்படுதல் (Rapture)
        </h2>

        <p class="text-gray-800 mb-4 leading-relaxed">
          கர்த்தர் தாமே ஆரவாரத்தோடும், பிரதான தூதனுடைய சத்தத்தோடும், தேவ
          எக்காளத்தோடும் வானத்திலிருந்து இறங்கிவருவார்; அப்பொழுது
          கிறிஸ்துவுக்குள் மரித்தவர்கள் முதலாவது எழுந்திருப்பார்கள். பின்பு,
          உயிரோடிருக்கும் நாமும் கர்த்தருக்கு எதிர்கொண்டுபோக மேகங்கள்மேல்,
          அவர்களோடேகூட ஆகாயத்தில் எடுத்துக்கொள்ளப்பட்டு, இவ்விதமாய் எப்பொழுதும்
          கர்த்தருடனேகூட இருப்போம்.
          <span class="block italic text-sm text-gray-500 mt-2">
            – 1 தெசலோனிக்கேயர் 4:16,17 (பரிசுத்த வேதாகமம்)
          </span>
        </p>

        <p class="text-gray-800 mb-4 leading-relaxed">
          எக்காளம் தொனிக்கும், அப்பொழுது மரித்தோர் அழிவில்லாதவர்களாய்
          எழுந்திருப்பார்கள்; நாமும் மறுரூபமாக்கப்படுவோம். அழிவுள்ளதாகிய இது
          அழியாமையையும், சாவுக்கேதுவாகிய இது சாவாமையையும்
          தரித்துக்கொள்ளவேண்டும். அழிவுள்ளதாகிய இது அழியாமையையும்,
          சாவுக்கேதுவாகிய இது சாவாமையையும் தரித்துக்கொள்ளும்போது, மரணம் ஜெயமாக
          விழுங்கப்பட்டது என்று எழுதியிருக்கிற வார்த்தை நிறைவேறும்.
          <span class="block italic text-sm text-gray-500 mt-2">
            – 1 கொரிந்தியர் 15:52–54 (பரிசுத்த வேதாகமம்)
          </span>
        </p>

        <blockquote
          class="px-4 py-3 border-l-4 border-[#108bf7] bg-[#f0f8ff] text-gray-800"
        >
          அவர் மரணத்தை ஜெயமாக விழுங்குவார்; கர்த்தராகிய தேவன் எல்லா
          முகங்களிலுமிருந்து கண்ணீரைத் துடைத்து, தமது ஜனத்தின் நிந்தையை
          பூமியிலிராதபடிக்கு முற்றிலும் நீக்கிவிடுவார்;
          <span class="block italic text-sm text-gray-500 mt-2"
            >– ஏசாயா 25:8 (பரிசுத்த வேதாகமம்)</span
          >
        </blockquote>
      </section>

      <section class="my-10 px-6 py-8 bg-white rounded-xl shadow-lg">
        <h2 class="text-2xl font-bold text-[#108bf7] mb-6">
          இயேசு கிறிஸ்துவின் இரண்டாம் வருகை (Jesus’ Second Coming)
        </h2>

        <p class="text-gray-800 mb-4 leading-relaxed">
          ஆண்டவராகிய இயேசு கிறிஸ்துவிடம் அவருடைய சீடர்கள் ஒலிவ மலையின் மேல் அவரை
          சந்தித்து தனித்து வந்து "உம்முடைய வருகைக்கும் உலகத்தின் முடிவிற்கும்
          அடையாளம் என்ன?" என்று கேட்டார்கள். இயேசு அவர்களுக்கு பிரதியுத்தரமாக
          அநேக எச்சரிப்புகளை கூறினார். அவைகள் பின்வருமாறு:
        </p>

        <ul class="list-disc list-inside text-gray-700 mb-4 leading-relaxed">
          <li>தெரிந்துக் கொள்ளப்பட்டவர்கள் வஞ்சிக்கப்படுதல்</li>
          <li>
            அநேகர் என்னுடைய நாமத்தை தரித்துக் கொண்டு “நானே கிறிஸ்து” என்று
            சொல்வார்கள்
          </li>
          <li>யுத்தங்களையும் யுத்தங்களின் செய்திகளையும் கேள்விப்படுவீர்கள்</li>
          <li>
            ஜனத்துக்கு விரோதமாய் ஜனமும், ராஜ்யத்திற்கு விரோதமாய் ராஜ்யமும் எழும்
          </li>
          <li>
            பஞ்சங்களும் கொள்ளை நோய்களும் பூமி அதிர்ச்சிகளும் பல இடங்களில்
            உண்டாகும்
          </li>
          <li>என் நாமத்தின் நிமித்தம் எல்லாராலும் பகைக்கப்படுவீர்கள்</li>
          <li>அநேக கள்ள தீர்க்கதரிசிகள் எழும்பி அநேகரை வஞ்சிப்பார்கள்</li>
          <li>அக்கிரமம் மிகுதியாகும்</li>
          <li>அன்பு தணிந்து போகும்</li>
          <li>அந்திகிறிஸ்து எழும்புவான்</li>
          <li>உபத்திரவத்தின் முடிவு வரை நிலை நிற்பவனே இரட்சிக்கப்படுவான்</li>
          <li>
            ராஜ்யத்தினுடைய இந்த சுவிசேஷம் பூலோகமெங்கும் சகல ஜாதிகளுக்கும்
            பிரசங்கிக்கப்படும். அப்பொழுது முடிவு வரும்
          </li>
        </ul>

        <p class="text-gray-800 mb-4 leading-relaxed">
          எனவே, ஏழு வருட மகா உபத்திரவ நாட்களுக்குப் பின் இயேசுவின் இரண்டாம்
          வருகை இருக்கும்.
        </p>

        <p class="italic text-sm text-gray-500">
          – மத்தேயு 24:1–14, தானியேல் 7:9–14, தானியேல் 12:1 (பரிசுத்த வேதாகமம்)
        </p>
      </section>
      <section class="my-10 px-6 py-8 bg-white rounded-xl shadow-lg">
        <h2 class="text-3xl font-bold text-blue-700 mb-6">
          மண்ணுலகில் இயேசு கிறிஸ்துவின் ஆயிரமாண்டு அரசாட்சி (1000 Years Reign)
        </h2>
        <p class="mb-4">
          “கடைசிநாட்களில் கர்த்தருடைய ஆலயமாகிய பர்வதம் ... யுத்தத்தைக்
          கற்பதுமில்லை.” <br /><span class="italic">– ஏசாயா 2:2-4</span>
        </p>
        <p class="mb-4">
          “ஆனாலும், கடைசி நாட்களில் ... கர்த்தருடைய நாமத்தைப் பற்றிக்கொண்டு
          என்றென்றைக்குமுள்ள சதாகாலங்களிலும் நடப்போம்.” <br /><span
            class="italic">– மீகா 4:1-5</span
          >
        </p>
        <p class="mb-4">
          மேற்கூறிய இரண்டு குறிப்புகளும் ... தெளிவாக தீர்க்கமாக உரைக்கிறது.
        </p>
        <ul class="list-disc list-inside mb-6">
          <li>சமாதானமும், செழிப்பும்</li>
          <li>சாத்தான் கட்டப்படுகிறான் (வெளி 20:1-3)</li>
          <li>தீர்க்கதரிசனங்கள் நிறைவேறுகிறது</li>
          <li>பூவுலகில் பொற்காலம் ஆரம்பம் (GOLDEN AGE)</li>
          <li>புதிய வானம் புதிய பூமிக்கான ஆயத்த வாழ்வு</li>
        </ul>
        <p class="mb-6 italic text-sm">
          (* இறையியல் நிபுணர்களிடம் பலவிதமான millennialism school of thoughts
          உள்ளன)
        </p>

        <h2 class="text-2xl font-semibold text-blue-700 mb-4">
          பெரிய வெள்ளை சிங்காசன நியாயத்தீர்ப்பு (Big White Throne Judgement)
        </h2>
        <p class="mb-4">
          “பின்பு, நான் பெரிய வெள்ளைச் சிங்காசனத்தையும் ... ஜீவபுஸ்தகத்திலே
          எழுதப்பட்டவனாகக் காணப்படாதவனெவனோ அவன் அக்கினிக்கடலிலே தள்ளப்பட்டான்.” <br
          /><span class="italic">– வெளி 20:11-15</span>
        </p>

        <h3 class="text-xl font-semibold mt-6 mb-3">முக்கிய நிகழ்வுகள்:</h3>
        <ul class="list-disc list-inside mb-6">
          <li>தேவனின் நியாயாசனம்</li>
          <li>நீதியுள்ள, பரிசுத்த சிங்காசனம்</li>
          <li>மரித்தோருக்கான நியாயத்தீர்ப்பு</li>
          <li>புத்தகங்கள் திறக்கப்படும்</li>
          <li>
            வெள்ளை செங்காசன தீர்ப்பு மூலம் ஒவ்வொருவரும் கணக்களிக்க வேண்டும்
          </li>
          <li>தேவநீதி வெளிப்படும் - கிரியைகளின் அடிப்படையில்</li>
          <li>நித்திய விளைவுகள் (Eternal Consequence)</li>
        </ul>

        <h3 class="text-xl font-semibold mt-6 mb-3">
          அறுவடைக்குரிய படிப்புகள் (Application):
        </h3>
        <ul class="list-disc list-inside">
          <li>நோக்கத்துடன் வாழ்தல் (Living with Purpose)</li>
          <li>
            இயேசு மூலம் மட்டும் இரட்சிப்பு (Salvation through Jesus Christ
            alone)
          </li>
          <li>தனிப்பட்ட பொறுப்பு (Personal Responsibility)</li>
        </ul>
      </section>
      <section class="p-6 bg-white rounded-lg shadow-md mb-8">
        <h2 class="text-2xl font-bold text-blue-700 mb-4">
          பூவுலகு தீக்கு இரையாக்கப்படுதல் (Condemnation of the World on Fire)
        </h2>

        <p class="mb-4">
          பூர்வகாலத்தில் தேவனுடைய வார்த்தையினாலே வானங்களும், ஜலத்தினின்று தோன்றி
          ஜலத்தினாலே நிலைகொண்டிருக்கிற பூமியும் உண்டாயினவென்பதையும், அப்பொழுது
          இருந்த உலகம் ஜலப்பிரளயத்தினாலே அழிந்ததென்பதையும் மனதார
          அறியாமலிருக்கிறார்கள். இப்பொழுது இருக்கிற வானங்களும் பூமியும் அந்த
          வார்த்தையினாலேயே அக்கினிக்கு இரையாக வைக்கப்பட்டு,
          தேவபக்தியில்லாதவர்கள் நியாயந்தீர்க்கப்பட்டு அழிந்துபோகும்
          நாள்வரைக்கும் காக்கப்பட்டிருக்கிறது.
        </p>

        <p class="mb-4">
          பிரியமானவர்களே, கர்த்தருக்கு ஒருநாள் ஆயிரம்வருஷம்போலவும், ஆயிரம்வருஷம்
          ஒருநாள்போலவும் இருக்கிறதென்கிற இந்த ஒரு காரியத்தை நீங்கள்
          அறியாதிருக்கவேண்டாம். தாமதிக்கிறார் என்று சிலர் எண்ணுகிறபடி, கர்த்தர்
          தமது வாக்குத்தத்தத்தைக்குறித்துத் தாமதமாயிராமல்; ஒருவரும்
          கெட்டுப்போகாமல் எல்லாரும் மனந்திரும்பவேண்டுமென்று விரும்பி, நம்மேல்
          நீடிய பொறுமையுள்ளவராயிருக்கிறார்.
        </p>

        <p class="mb-4">
          கர்த்தருடைய நாள் இரவிலே திருடன் வருகிறவிதமாய் வரும்; அப்பொழுது
          வானங்கள் மடமட என்று அகன்றுபோம், பூதங்கள் வெந்து உருகிப்போம், பூமியும்
          அதிலுள்ள கிரியைகளும் எரிந்து அழிந்துபோம்.
        </p>

        <p class="mb-4">
          இப்படி இவைகளெல்லாம் அழிந்துபோகிறதாயிருக்கிறபடியால் நீங்கள்
          எப்படிப்பட்ட பரிசுத்த நடக்கையும் தேவபக்தியும்
          உள்ளவர்களாயிருக்கவேண்டும்! தேவனுடைய நாள் சீக்கிரமாய் வரும்படிக்கு
          மிகுந்த ஆவலோடே காத்திருங்கள்; அந்த நாளில் வானங்கள் வெந்து அழிந்து,
          பூதங்கள் எரிந்து உருகிப்போம். அவருடைய வாக்குத்தத்தத்தின்படியே நீதி
          வாசமாயிருக்கும் புதிய வானங்களும் புதிய பூமியும் உண்டாகுமென்று
          காத்திருக்கிறோம்.
          <span class="italic">(2 பேதுரு 3:5-13)</span>
        </p>

        <p class="mb-4">
          பின்பு, நான் பெரிய வெள்ளைச் சிங்காசனத்தையும் அதின்மேல்
          வீற்றிருக்கிறவரையும் கண்டேன்; அவருடைய சமுகத்திலிருந்து பூமியும்
          வானமும் அகன்றுபோயின் அவைகளுக்கு இடங்காணப்படவில்லை.
          <span class="italic">(வெளி 20:11)</span>
        </p>

        <p class="mb-4">
          பின்பு, நான் புதிய வானத்தையும் புதிய பூமியையும் கண்டேன்; முந்தின
          வானமும் முந்தின பூமியும் ஒழிந்துபோயின் சமுத்திரமும் இல்லாமற்போயிற்று.
          <span class="italic">(வெளி 21:1)</span>
        </p>
      </section>
      <section class="p-6 bg-white rounded-lg shadow-md mb-8">
        <h2 class="text-2xl font-bold text-blue-700 mb-4">
          புதிய வானம் புதிய பூமி தோன்றுதல் (New Heaven and New Earth)
        </h2>
        <p class="mb-4">
          இனிச் சூரியன் உனக்குப் பகலிலே வெளிச்சமாயிராமலும், சந்திரன் தன்
          வெளிச்சத்தால் உனக்குப் பிரகாசியாமலும், கர்த்தர் உனக்கு நித்திய
          வெளிச்சமும், உன் தேவனே உனக்கு மகிமையுமாயிருப்பார். உன் சூரியன் இனி
          அஸ்தமிப்பதுமில்லை; உன் சந்திரன் மறைவதுமில்லை; கர்த்தரே உனக்கு நித்திய
          வெளிச்சமாயிருப்பார்; உன் துக்கநாட்கள் முடிந்துபோம். உன் ஜனங்கள்
          யாவரும் நீதிமான்களும், என்றைக்கும் பூமியைச் சுதந்தரிக்குங் குடிகளும்,
          நான் நட்ட கிளைகளும், நான் மகிமைப்படும்படி என் கரங்களின்
          கிரியைகளுமாயிருப்பார்கள். சின்னவன் ஆயிரமும், சிறியவன் பலத்த
          ஜாதியுமாவான்; கர்த்தராகிய நான் ஏற்றகாலத்தில் இதைத் தீவிரமாய்
          நடப்பிப்பேன். (ஏசாயா 60:19-22)
        </p>
        <p class="mb-4">
          இதோ, நான் புதிய வானத்தையும் புதிய பூமியையும் சிருஷ்டிக்கிறேன்;
          முந்தினவைகள் இனி நினைக்கப்படுவதுமில்லை, மனதிலே தோன்றுவதுமில்லை. (ஏசாயா
          65:17)
        </p>
        <p class="mb-4">
          நான் படைக்கப்போகிற புதிய வானமும் புதிய பூமியும் எனக்கு முன்பாக
          நிற்பதுபோல, உங்கள் சந்ததியும், உங்கள் நாமமும் நிற்குமென்று கர்த்தர்
          சொல்லுகிறார். (ஏசாயா 66:22)
        </p>
        <p class="mb-4">
          பின்பு, நான் புதிய வானத்தையும் புதிய பூமியையும் கண்டேன்; முந்தின
          வானமும் முந்தின பூமியும் ஒழிந்துபோயின் சமுத்திரமும் இல்லாமற்போயிற்று.
          யோவானாகிய நான், புதிய எருசலேமாகிய பரிசுத்த நகரத்தை தேவனிடத்தினின்று
          பரலோகத்தைவிட்டு இறங்கிவரக்கண்டேன்; அது தன் புருஷனுக்காக
          அலங்கரிக்கப்பட்ட மணவாட்டியைப்போல ஆயத்தமாக்கப்பட்டிருந்தது. மேலும்,
          பரலோகத்திலிருந்து உண்டான ஒரு பெருஞ்சத்தத்தைக் கேட்டேன்; அது: இதோ,
          மனுஷர்களிடத்திலே தேவனுடைய வாசஸ்தலமிருக்கிறது, அவர்களிடத்திலே அவர்
          வாசமாயிருப்பார்; அவர்களும் அவருடைய ஜனங்களாயிருப்பார்கள், தேவன்தாமே
          அவர்களோடேகூட இருந்து அவர்களுடைய தேவனாயிருப்பார். அவர்களுடைய கண்ணீர்
          யாவையும் தேவன் துடைப்பார்; இனி மரணமுமில்லை, துக்கமுமில்லை,
          அலறுதலுமில்லை, வருத்தமுமில்லை; முந்தினவைகள் ஒழிந்துபோயின என்று
          விளம்பினது.
        </p>
        <p class="mb-4">
          சிங்காசனத்தின்மேல் வீற்றிருந்தவர்: இதோ, நான் சகலத்தையும்
          புதிதாக்குகிறேன் என்றார். பின்னும், அவர்: இந்த வசனங்கள் சத்தியமும்
          உண்மையுமானவைகள், இவைகளை எழுது என்றார். அன்றியும், அவர் என்னை நோக்கி:
          ஆயிற்று, நான் அல்பாவும் ஒமெகாவும், ஆதியும் அந்தமுமாயிருக்கிறேன்.
          தாகமாயிருக்கிறவனுக்கு நான் ஜீவத்தண்ணீரூற்றில் இலவசமாய்க் கொடுப்பேன்.
          ஜெயங்கொள்ளுகிறவன் எல்லாவற்றையும் சுதந்தரித்துக்கொள்ளுவான்; நான் அவன்
          தேவனாயிருப்பேன், அவன் என் குமாரனாயிருப்பான்.
        </p>
        <p class="mb-4">
          பயப்படுகிறவர்களும், அவிசுவாசிகளும், அருவருப்பானவர்களும், கொலைபாதகரும்,
          விபசாரக்காரரும், சூனியக்காரரும், விக்கிரகாராதனைக்காரரும், பொய்யர்
          அனைவரும் இரண்டாம் மரணமாகிய அக்கினியும் கந்தகமும் எரிகிற கடலிலே
          பங்கடைவார்கள் என்றார்.
        </p>
        <p class="mb-4">
          பின்பு, கடைசியான ஏழு வாதைகளால் நிறைந்த ஏழு கலசங்களையுடைய அந்த ஏழு
          தூதரில் ஒருவன் என்னிடத்தில் வந்து: நீ இங்கே வா, ஆட்டுக்குட்டியானவருடைய
          மனைவியாகிய மணவாட்டியை உனக்குக் காண்பிக்கிறேன் என்று சொல்லி, பெரிதும்
          உயரமுமான ஒரு பர்வதத்தின்மேல் என்னை ஆவியில் கொண்டுபோய், தேவனுடைய
          மகிமையை அடைந்த எருசலேமாகிய பரிசுத்த நகரம் பரலோகத்தைவிட்டு
          தேவனிடத்திலிருந்து இறங்கிவருகிறதை எனக்குக் காண்பித்தான். அதின்
          பிரகாசம் மிகவும் விலையுயர்ந்த இரத்தினக்கல்லைப்போலவும்,
          பளிங்கினொளியுள்ள வச்சிரக்கல்லைப்போலவும் இருந்தது. அதற்குப் பெரிதும்
          உயரமுமான மதிலும், கிழக்கே மூன்று வாசல்கள், வடக்கே மூன்று வாசல்கள்,
          தெற்கே மூன்று வாசல்கள், மேற்கே மூன்று வாசல்கள் ஆகப் பன்னிரண்டு
          வாசல்களும் இருந்தன. வாசல்களின் அருகே பன்னிரண்டு தூதர்களிருந்தார்கள்;
          அந்த வாசல்களின்மேல் இஸ்ரவேல் சந்ததியாராகிய பன்னிரண்டு கோத்திரத்தாருடைய
          நாமங்களும் எழுதப்பட்டிருந்தன. நகரத்தின் மதிலுக்குப் பன்னிரண்டு
          அஸ்திபாரக் கற்களிருந்தன் அவைகள்மேல் ஆட்டுக்குட்டியானவருடைய பன்னிரண்டு
          அப்போஸ்தலரின் பன்னிரண்டு நாமங்களும் பதிந்திருந்தன.
        </p>

        <p class="mb-4">
          என்னுடனே பேசினவன், நகரத்தையும் அதின் வாசல்களையும் அதின் மதிலையும்
          அளக்கிறதற்கு ஒரு பொற்கோலைப் பிடித்திருந்தான். அந்த நகரம்
          சதுரமாயிருந்தது, அதின் அகலமும் நீளமும் சமமாயிருந்தது. அவன் அந்தக்
          கோலினால் நகரத்தை அளந்தான்; அது பன்னீராயிரம் ஸ்தாதி அளவாயிருந்தது;
          அதின் நீளமும் அகலமும் உயரமும் சமமாயிருந்தது. அவன் அதின் மதிலை
          அளந்தபோது, அது தூதனுடைய அளவாகிய மனுஷ அளவின்படியே நூற்றுநாற்பத்துநான்கு
          முழமாயிருந்தது. அதின் மதில் வச்சிரக்கல்லால் கட்டப்பட்டிருந்தது; நகரம்
          தெளிந்த பளிங்குக்கு ஒப்பான சுத்தப்பொன்னாயிருந்தது. நகரத்து மதிலின்
          அஸ்திபாரங்கள் சகலவித இரத்தினங்களினாலும் அலங்கரிக்கப்பட்டிருந்தன்
          முதலாம் அஸ்திபாரம் வச்சிரக்கல், இரண்டாவது இந்திரநீலம், மூன்றாவது
          சந்திரகாந்தம், நான்காவது மரகதம், ஐந்தாவது கோமேதகம், ஆறாவது பதுமராகம்,
          ஏழாவது சுவர்ணரத்தினம், எட்டாவது படிகப்பச்சை, ஒன்பதாவது புஷ்பராகம்,
          பத்தாவது வைடூரியம், பதினோராவது சுநீரம், பன்னிரண்டாவது சுகந்தி இவைகளே.
          பன்னிரண்டு வாசல்களும் பன்னிரண்டு முத்துக்களாயிருந்தன் ஒவ்வொரு வாசலும்
          ஒவ்வொரு முத்தாயிருந்தது. நகரத்தின் வீதி தெளிவுள்ள பளிங்குபோலச்
          சுத்தப்பொன்னாயிருந்தது.
        </p>
        <p class="mb-4">
          அதிலே தேவாலயத்தை நான் காணவில்லை; சர்வவல்லமையுள்ள தேவனாகிய கர்த்தரும்
          ஆட்டுக்குட்டியானவருமே அதற்கு ஆலயம். நகரத்திற்கு வெளிச்சங்கொடுக்கச்
          சூரியனும் சந்திரனும் அதற்கு வேண்டுவதில்லை; தேவனுடைய மகிமையே அதைப்
          பிரகாசிப்பித்தது, ஆட்டுக்குட்டியானவரே அதற்கு விளக்கு.
          இரட்சிக்கப்படுகிற ஜனங்கள் அதின் வெளிச்சத்திலே நடப்பார்கள். பூமியின்
          ராஜாக்கள் தங்கள் மகிமையையும் கனத்தையும் அதற்குள்ளே கொண்டுவருவார்கள்.
          அங்கே இராக்காலம் இல்லாதபடியால், அதின் வாசல்கள் பகலில் அடைக்கப்படுவதே
          இல்லை. உலகத்தாருடைய மகிமையையும் கனத்தையும் அதற்குள்ளே
          கொண்டுவருவார்கள். தீட்டுள்ளதும் அருவருப்பையும் பொய்யையும்
          நடப்பிக்கிறதுமாகிய ஒன்றும் அதில் பிரவேசிப்பதில்லை;
          ஆட்டுக்குட்டியானவரின் ஜீவபுஸ்தகத்தில் எழுதப்பட்டவர்கள் மாத்திரம் அதில்
          பிரவேசிப்பார்கள்.
        </p>
        <p class="mb-4">
          பின்பு, பளிங்கைப்போல் தெளிவான ஜீவத்தண்ணீருள்ள சுத்தமான நதி தேவனும்
          ஆட்டுக்குட்டியானவரும் இருக்கிற சிங்காசனத்திலிருந்து புறப்பட்டுவருகிறதை
          எனக்குக் காண்பித்தான். நகரத்து வீதியின் மத்தியிலும், நதியின்
          இருகரையிலும், பன்னிரண்டுவிதமான கனிகளைத்தரும் ஜீவவிருட்சம் இருந்தது,
          அது மாதந்தோறும் தன் கனியைக் கொடுக்கும்; அந்த விருட்சத்தின் இலைகள்
          ஜனங்கள் ஆரோக்கியமடைகிறதற்கு ஏதுவானவைகள். இனி ஒரு சாபமுமிராது. தேவனும்
          ஆட்டுக்குட்டியானவரும் இருக்கிற சிங்காசனம் அதிலிருக்கும். அவருடைய
          ஊழியக்காரர் அவரைச் சேவித்து, அவருடைய சமுகத்தைத் தரிசிப்பார்கள்;
          அவருடைய நாமம் அவர்களுடைய நெற்றிகளில் இருக்கும். அங்கே இராக்காலமிராது;
          விளக்கும் சூரியனுடைய வெளிச்சமும் அவர்களுக்கு வேண்டுவதில்லை; தேவனாகிய
          கர்த்தரே அவர்கள்மேல் பிரகாசிப்பார். அவர்கள் சதாகாலங்களிலும்
          அரசாளுவார்கள். (வெளி 21:1 - 22:1-5)
        </p>
      </section>
      <section class="p-6 bg-white rounded-lg shadow-md mb-8">
        <h2 class="text-2xl font-bold text-blue-700 mb-4">
          மனிதனின் முடிவு: The Destiny of Man and The Ultimate Destination of
          Human Beings.
        </h2>
        <p class="mb-4">
          மனிதன் வாழ்வின் முடிவில் போய்ச் சேரும் இடம் ஒன்று உண்டு. அதற்கான ஞான
          வெளிச்சத்தைத் தருவது பரிசுத்த வேதாகமம் மட்டுமே! மனிதனைப் படைத்தவர்
          மட்டுமே மனிதனின் முடிவை நிர்ணயிக்க முடியும். மனிதன் தன் அறிவிலும்,
          திறமையிலும் எவ்வளவு தான் வளர்ந்தாலும், அவன் தன்னுடைய பூலோக
          வாழ்விலிருந்து பரலோகம் போய்ச் சேர வேண்டுமானால் அவன் மெய்யான கடவுளாகிய
          இயேசு கிறிஸ்துவின் உபதேசங்களைக் கேட்டு அறிய வேண்டும். ஏனென்றால்
          மனிதனைப் படைத்த கடவுளுக்கு மட்டுமே அவன் மீது தீராத, தணியாத ஆவலும்,
          பாசமும் உண்டு. அவன் இவ்வுலக வாழ்வை நீத்து தவறான இடத்தில் போய்
          வேதனைப்படக் கூடாதே என்று நம்மைப் போல மனு உரு எடுத்து வந்து தம்மை
          மனிதனுக்கு வெளிப்படுத்தி மனிதனுக்குத் தான் ஆயத்தம் பண்ணியிருக்கும்
          பரலோகவாழ்வைக் குறித்து போதித்தார். மனிதன் தன் வாழ்விற்கான கணக்கை
          கடவுளுக்கு ஒப்புவிக்க வேண்டும். ஆரம்பத்தில் நீங்கள் வாசித்து தெரிந்து
          கொண்டபடி கடவுள் தன் படைப்பை - திட்டம், இடம், நோக்கம் - என்னும்
          தீர்மானத்தின் அடிப்படையில் நியமித்திருக்கிறார். மனிதன் கையால்
          செய்யப்பட்ட தெய்வங்களை உண்டாக்கி அவைகளை வணங்குவதை அருவருக்கிறார்.
          அப்போஸ்தலர் 17:24-31ஐ வாசியுங்கள்.
        </p>
        <p class="mb-4">
          உலகத்தையும் அதிலுள்ள யாவற்றையும் உண்டாக்கின தேவனானவர் வானத்திற்கும்,
          பூமிக்கும் ஆண்டவராயிருக்கிறபடியால், கைகளால் கட்டப்பட்ட கோவில்களில்
          அவர் வாசம் பண்ணுகிறதில்லை.<br /><br />

          எல்லாருக்கும்; ஜீவனையும், சுவாசத்தையும், சகலத்தையும் கொடுக்கிற அவர்,
          தமக்கு யாதொன்று தேவையானது போல மனுஷர் கைகளால் பணிவிடை
          கொள்ளுகிறதுமில்லை.<br /><br />

          மனுஷ ஜாதியான சகல ஜனங்களையும் அவர் ஒரே இரத்தத்தினாலே தோன்றப்பண்ணி,
          பூமியின் மீதெங்கும் குடியிருக்கச்செய்து, முன் தீர்மானிக்கப்பட்ட
          காலங்களையும், அவர்கள் குடியிருப்பின் எல்லைகளையும் குறித்திருக்கிறார்.<br
          /><br />

          கர்த்தராகிய தம்மை அவர்கள் தடவியாகிலும் கண்டு பிடிக்கத்தக்கதாகத்
          தம்மைத் தேடும்படிக்கு அப்படி செய்தார். அவர் நம்மில் ஒருவருக்கும்
          தூரமானவரல்லவே.<br /><br />

          ஏனெனில் அவருக்குள் நாம் பிழைக்கிறோம், அசைகிறோம், இருக்கிறோம்.<br /><br
          />

          இப்படி நாம் தேவனுடைய சந்ததியாராய் இருக்க மனுஷருடைய சித்திர
          வேலையினாலும், யுக்தியினாலும் உருவாக்கின பொன், வெள்ளி, கல் இவைகளுக்கு
          தெய்வம் ஒப்பாயிருக்கும் என்று நாம் நினைக்கக்கூடாது.
        </p>
        <p class="mb-4">
          ஏனென்றால் கடவுளைக் குறித்த அறிவு இல்லாத காலத்தில் மனிதன் செய்த தவறுகளை
          கடவுள் காணாதவர் போல் இருந்தார். அதாவது கடவுள் மன்னித்து விட்டார்.
          சிலுவையில் கடவுளை ஆணிகளால் அடித்து கொலை செய்யத் தீவிரித்த போதும்
          சிலுவையிலிருந்து அந்த மக்களை மன்னிக்கும்படி வேண்டுகிறார். ஏன்? அவர்கள்
          இயேசுவை தேவன் என்று அறியவில்லை. எனவே அவர்களின் செயலுக்குக் கடவுள்
          தன்னை ஒப்புக் கொடுத்ததுமன்றி, அவர்களின் மன்னிப்புகாகவும் வேண்டுகிறார்.
          ஆனால் இப்பொழுது கிறிஸ்து இயேசு உலகத்தில் வந்து தன்னைக் கடவுள் என்று
          வெளிப்படுத்தி, 2000 ஆண்டுகள் ஆகிவிட்டது.
          <br /><br />
          பரிசுத்த வேதாகமம் உலகத்திலேயே அநேக மொழிகளில் அச்சிடப்பட்ட ஒரே புத்தகம்.
          பல ஊடகங்கள் வழியாகவும், கடவுளின் செய்தி உலகமெங்கும் பலவழிகளில் பிரஸ்தாபம்
          பண்ணப்படுகின்றது. எனவே இப்போது மனிதனுக்குச் சாக்குப் போக்கு சொல்ல வழியில்லை.
          ஆனால் மனிதனை ஆதிக்கம் செய்து அவனை தவறான இடத்திற்கு அவன் முடிவில் அவனை அழைத்துச்
          செல்ல ஒரு எதிரி மனிதனுக்கு உண்டு. அவன் பெயர் தான், “உலகமனைத்தையும் மோசம்
          போக்குகிற பிசாசு என்றும், சாத்தான் என்றும். சொல்லப்பட்ட பழைய பாம்பாகிய
          வலு சர்ப்பம்”, என்றும் பரிசுத்த வேதாகமம் குறிப்பிடுகிறது. இவனுக்கு சரீரம்
          கிடையாது. இவைகள் பொல்லாத ஆவிகள். இவைகள் மனிதனின் சரீரத்துக்குள் உட்புகுந்து
          அவனை ஆட்டிப்படைக்கவே தேடித்திரிகிறது. மெய்யான கடவுளை யாரெல்லாம் தங்கள்
          ஆலயமாகிய சரீரத்தில் குடிகொள்ளவிடாமல், தங்கள் இஷ்டப்படி வாழ்கிறவர்கள் இந்த
          தீய ஆவிகளின் ஆதிக்கத்திற்கு இணங்கிவிடுவது மிகவும் ஆபத்தானது. ஆனால் இறைவனின்
          திட்டம் சாத்தானை முற்றிலுமாக அழித்து, அவியாத அக்கினியும், கந்தகமும் எரிகிற
          அக்கினிக்கடலில் தள்ளுவதே ஆகும். அந்த இடத்தின் பெயர்தான் ‘நரகம்’ (Hell)
          இது மனிதனுக்காக ஆயத்தமாக்கப்பட்ட இடமல்ல. இது தீய ஆவிகள் (மனிதனை மோசம் போக்கும்)
          சென்று அடையும் இடம் (Destination of Satan) ஆனால் மனிதர்களில் பலர் இந்த
          இடத்திற்கு போகும்படி பொல்லாத வாழ்வு வாழ்கின்றனர்.<br /><br />
        </p>
        <p class="mb-4">
          “நரகத்திற்குச் செல்வதற்கு உங்களைத் தயார் செய்து கொள்ளுங்கள். அங்கே
          சாத்தானும், அவன் தூதர்களும் இருக்கிறார்கள். அங்கே நீங்கள் எப்பொழுதும்
          அழிவீர்கள். அங்கே உங்களுக்குத் தண்ணீர் கூட கிடைக்காது.” <br /><span
            class="italic">– மத்தேயு 25:41</span
          >
        </p>
        <p class="mb-4">
          “நரகத்தில் போகாமல், பரலோகத்தில் போக வேண்டும் என்றால், இயேசு கிறிஸ்துவை
          உங்கள் இரட்சகராக ஏற்றுக் கொள்ளுங்கள். அவரை உங்கள் வாழ்வின் ஆண்டவராக
          ஏற்றுக் கொள்ளுங்கள். அவருடைய வார்த்தைகளை கேட்டு, அவைகளின்படி
          வாழுங்கள்.” <br /><span class="italic">– யோவான் 3:16</span>
        </p>
      </section>
      <section class="p-6 bg-white rounded-lg shadow-md mb-8">
        <h2 class="text-2xl font-bold text-blue-700 mb-4">
          நரகத்தைப் பற்றி சில வேத வசனங்கள்:
        </h2>

        <blockquote class="border-l-4 border-red-600 bg-red-50 p-5 my-6">
          <p class="text-gray-800 leading-relaxed">
            <strong>2 பேதுரு 2:4</strong><br />
            “பாவம் செய்த தூதர்களைத் தேவன் தப்பவிடாமல் அந்தகாரச் சங்கிலிகளினாலே கட்டி,
            நரகத்திலே தள்ளி நியாயத்தீர்ப்புக்கு ஒப்புக்கொடுப்பார்”<br /><br />

            <strong>சங்கீதம் 9:17</strong><br />
            “துன்மார்க்கரும், தேவனை மறக்கிற எல்லா ஐhதிகளும் நரகத்திலே தள்ளப்படுவார்கள்.”<br
            /><br />

            <strong>மத்தேயு 5:28-30</strong><br />
            “நான் உங்களுக்குச் சொல்லுகிறேன். ஒரு ஸ்தீரியை இச்சையோடு பார்க்கிற எவனும்
            தன் இருதயத்தில் அவளோடே விபசாரஞ்செய்தாயிற்று. உன் வலது கண் உனக்கு இடறலுண்டாக்கினால்,
            அதைப் பிடுங்கி எறிந்து போடு. உன் சரீரம் முழுவதும் நரகத்திலே தள்ளப்படுவதைப்
            பார்க்கிலும் உன் அவயவங்களில் ஒன்று கெட்டுப் போவது உனக்கு நலமாயிருக்கும்.
            உன் வலது கை உனக்கு இடறலுண்டாக்கினால், அதைத் தறித்து எறிந்து போடு, உன்
            சரீரம் முழுவதும் நரகத்திலே தள்ளப்படுவதைப் பார்க்கிலும் உன் அவயவங்களில்
            ஒன்று கெட்டுப்போவது உனக்கு நலமாயிருக்கும்”.<br /><br />

            <strong>மாற்கு 9:45</strong><br />
            “உன் கால் உனக்கு இடறல் உண்டாக்கினால் அதைத் தறித்துப் போடு. நீ இரண்டு
            காலுடையவனாய் அவியாத அக்கினியிலே தள்ளப்படுவதைப் பார்க்கிலும், சப்பாணியாய்
            ஐPவனுக்குள் பிரவேசிப்பது உனக்கு நலமாயிருக்கும். அங்கே அவர்கள் சாவாமலும்,
            அக்கினி அவியாமலும் இருக்கும்.”<br /><br />

            <strong>மத்தேயு 10:28</strong><br />
            “ஆத்துமாவைக் கொல்ல வல்லவர்களாயிராமல், சரீரத்தை மாத்திரம் கொல்லுகிறவர்களுக்கு
            நீங்கள் பயப்பட வேண்டாம். ஆத்துமாவையும், சரீரத்தையும் நரகத்திலே அழிக்க
            வல்லவருக்கே பயப்படுங்கள்.”<br /><br />

            <strong
              >மத்தேயு 13:42, 13:50, 22:13, 24:51, 25:30 | லூக் 13:28</strong
            ><br />
            அங்கே புறம்பான இருள் உண்டு. நரகத்தில் அழுகையும், பற்கடிப்பும் உண்டு என்று
            வேதாகம வசனங்கள் கூறுகின்றன.<br /><br />

            <strong>மத்தேயு 7:13-14</strong><br />
            நரகம் - கேட்டுக்குள் நுழைவது, (Entering into total destruction). இந்த
            உண்மையை இவ்வசனங்கள் மூலம் அறியலாம்.
          </p>
        </blockquote>
        <p class="mb-4">
          இப்படிப்பட்ட நரகம் மனிதனுக்காக உண்டாக்கப்பட்டதல்ல. ஆனால் மனிதன் இதைத்
          தெரிந்து கொள்ளும்படி, பிசாசானவன் மனிதர்களை ஏமாற்றுகிறான். அவனது
          வலையிலிருந்து மீட்டெடுக்கவே இயேசு கிறிஸ்துவின் சுவிசேஷம் (நற்செய்தி)
          அதிவேகமாக அறிவிப்பது கிறிஸ்தவர்களின் தலையாய அழைப்பு என்பதில்
          சிறிதளவும் சந்தேகமில்லை.
        </p>
      </section>
    </main>
  </body>
</html>
