---
import Header from "../../components/header.astro";
import { problems } from "../../components/problems/problems-content";
import ProblemsLink from "../../core/problems-link.astro";
---

<html lang="ta">
  <head>
    <title>மனுக்குலமே! இந்த காலகட்டத்தில் நீ என்ன செய்ய வேண்டும்?</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta
      property="keywords"
      content="Spiritual master, Choosing God, Right master, Life guidance, Tamil Christian message"
    />
    <meta property="og:image" content="/assets/home/bg-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://touchthepower.com" />
    <meta property="og:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="og:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:url" content="https://touchthepower.com" />
    <meta property="twitter:title" content="எஜமான்களைத் தெரிந்தெடுத்தல்" />
    <meta
      property="twitter:description"
      content="வாழ்க்கையில் உங்களை ஆளும் சக்தி யாரென்று கேள்வி எழுப்பும் இந்த உரை, கடவுளை உங்களுடைய உண்மையான எஜமானராக தெரிந்தெடுக்க அழைக்கிறது."
    />
    <meta property="twitter:image" content="/assets/home/bg-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="mx-40 p-10">
      <h1
        class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#108bf7]"
      >
        மனுக்குலமே! இந்த காலகட்டத்தில் நீ என்ன செய்ய வேண்டும்?
      </h1>
      <p class="mb-4 font-semibold" style="white-space: pre-line">
கடவுள் யார் என்கிற தேடல் மட்டுமே மனுக்குலத்தின் தீவிர வேட்கையாகவும், வாக்கு வாதமாகவும் உள்ள இக்காலகட்டத்தில் கடவுள் யார்? அவரது குணாதிசயங்கள், அவரது இரட்சிப்பின் திட்டம், மீட்பு, பரிசுத்தம், ஆராதனை யாவும் என்ன என்பதையும் விளக்கிக் கூறி, இயேசு கிறிஸ்துவே மெய்யான  கடவுள், அவரே மரணத்தை தனது பாடு, மரணம், உயிர்த்தெழுதலினால் ஜெயித்தவர் என்பதையும் தெளிவாக விளக்கியிருக்கிறோம். இது கட்டுக் கதை அல்ல. சரித்திரம்! இது பொய்யல்ல. அனைத்தும் சத்தியத்திலும் சத்தியம். நானே வழி, சத்தியம், ஐPவன் என்று கூறிய இயேசு கிறிஸ்துவே மெய்யான கடவுளிடம் சேரும் வழி! அவரே சத்தியம், அவரே ஜீவன் என்று அறிந்து கொண்ட நீங்கள் இப்போது செய்ய வேண்டுவது என்ன?
உறவு:
நீங்கள் இந்த இயேசு கிறிஸ்துவிடம் ஒரு உறவை ஏற்படுத்த வேண்டும். அதற்கு சில காரியங்களை விட்டு விலக வேண்டும். தேவனோடு பழக வேண்டுமானால், பழகக் கூடாதவர்களை விட்டு விலக வேண்டும். பரிசுத்த கடவுளுடன் உறவு வைப்பதால் 
துன்மார்க்கனின் ஆலோசனையின் படி நடக்கக்கூடாது.
பாவிகளின் வழிகளில் நிற்கக் கூடாது
பிறரை கேலி செய்வதில் இன்பம் காண்பவரோடு உட்காரக் கூடாது. இதைப் பரிசுத்த வேதாகமம் சங்கீதம் 1:1 இல் வாசிக்கிறோம்.
நினைவு:
வேத வசனங்களின் மேலேயே நினைவாக இருக்க வேண்டும். வசனங்கள் ஒவ்வொன்றும் தேவனுடைய வார்த்தை. அவரது விருப்பம் யாவும் நான் நினைவில் வைக்க வேண்டுமானால் முடியாத காரியம். எனவே வேதப்புத்தகத்தை வாசித்து, அதை தியானம் செய்து, நினைவில் வைக்கப் பழகும் போது, உங்கள் நினைவு கடவுளுக்குப் பிரியமானதாக மாறும் என்பதில் சிறிதளவும் சந்தேகம் இல்லை. கடவுளை நினைவில் இறுத்த வேண்டுமானால் மனம் மறு ரூபமடைய வேண்டும். இயேசு கிறிஸ்துவை அறிய அறிய நினைவுகள் பரிசுத்தமாக மாறும்.
வாழ்வு:
நினைவுகள் தேவனுக்குப் பிரியமாக மலரும் போது, உங்கள் வாழ்வு மேம்பாடு அடையும் என்பதில் சிறிதளவும் சந்தேகம் இல்லை. முதலாவது மனந்திரும்புதல் உருவாகும். வாழ்வில் ஆண்டவருக்குப் பிரியமில்லாத பழக்க வழக்கங்களை எளிதில் விட்டு விட முடியும். பயம், கசப்பு, கவலை, எரிச்சல், வாக்குவாதம், மூர்க்கம், சண்டை குணங்களை வெறுத்து விட முடியும். அன்பு, சமாதானம், இரக்கம், தயவு, சாந்தம், சந்தோஷம், சுய வெறுப்பு, பிறர் நலம் பேணல் போன்ற நற்குணங்களினால் வாழ்வு அலங்கரிக்கப்படும். ஆண்டவராகிய இயேசு கிறிஸ்துவிடம் உறவு வைக்கும் எவரின் மனதும் மறுரூபமாகும். மனம் மறுரூபமானால் வாழ்வு தனக்கும், பிறருக்கும் ஆசீர்வாதமாக மாறும் என்பது உண்மையிலும் உண்மை.
முடிவு:
அதுமட்டுமல்லாமல் வாழ்வின் முடிவு மகிமையாக இருக்கும். கடவுளின் திட்டத்திற்குள் வாழ்ந்து வந்த திருப்தியை வேறு யாராலும் கொடுக்க முடியாது. ஆரம்பம் எவ்வளவு அற்பமாக இருந்தாலும் முடிவு சம்பூரணமாயிருக்கும். அநேக பக்தர்களின்; வாழ்வு மட்டுமல்ல, அநேக மனந்திரும்பின பாவிகளும் நீதிமான்களாக மாறி வெற்றிகரமாக வாழ்வை நடத்தி முடித்திருப்பதற்கு சரித்திரமே சாட்சி! வேதாகம சரித்திரத்திலும் இவ்வாறு தேவனுடன் உறவு கொண்ட அநேகர் சரித்திரத்தையே மாற்றும்படியான வாழ்வு வாழ்ந்துள்ளனர். இன்று கிறிஸ்தவம் உலகம் முழுவதும் பரவி, மனுக்குலத்தை தேவனுடன் இணைத்திருப்பதற்கு பெரும் காரணம், ஒவ்வொரு தனிப்பட்ட வாழ்வும் மெய்யான கடவுளிடம் இணைந்து வாழ்ந்த வாழவே ஆகும். கிறிஸ்தவம் மதம் அல்ல. அது தேவனுடன் வைக்கும் உறவு. அதன் மூலம் நித்திய வாழ்வை பெற்றுக் கொள்வது சுலபம் என்பதை உலகம் அறிய கடவுள் நம் ஒவ்வொருவர் வாழ்விலும் செயல்படுவார் என்பது உண்மையிலும் உண்மை.
        
    </p>
    </main>
  </body>
</html>
